<div class="person-pic-container">
    <!--热点聚焦-->
    <div class="person-focus-box">
        <div class="person-pic-focus  clear">
                <div class="hd-hot-topic cursor">
                    <span class="daily-rec-left-arrow">&gt;&gt;</span>
                    <span class="daily-rec-tit">热点聚焦</span>
                </div>
                <div class="ad-focus-pic clear">
                    <img src="client/assets/img/pic-12.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic clear">
                    <img src="client/assets/img/pic-13.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic clear">
                    <img src="client/assets/img/pic-14.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic clear">
                    <img src="client/assets/img/pic-15.jpg" class="hd-ad-pic cursor">
                </div>
        </div>
        <div class="person-pic-focus-con  clear">
                <!--政治军事界-->
                <div class="pic-focus-item">
                    <div class="dtbr">
                        <div class="dtbc person-photo-tit">
                            政治军事界
                        </div>
                        <div class="dtbc">
                            <a class="cursor"  ui-sref="root.personList">
                                <img src="client/assets/img/person-pic-more.gif" class="person-pic-more"/>
                            </a>
                        </div>
                    </div>
                    <div class="dtbr">
                        <div class="dtbc">
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                        </div>
                        <div class="dtbc">
                            <a class="cursor">
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【中央领导】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【全国人大】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【全国政协】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【国家机关】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【军队警方】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【地方领导】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【政界名人】</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--经济工商界-->
                <div class="pic-focus-item">
                    <div class="dtbr">
                        <div class="dtbc person-photo-tit">
                            经济工商界
                        </div>
                        <div class="dtbc">
                            <a class="cursor"  ui-sref="root.personList">
                                <img src="client/assets/img/person-pic-more.gif" class=" "/>
                            </a>
                        </div>
                    </div>
                    <div class="dtbr">
                        <div class="dtbc">
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                        </div>
                        <div class="dtbc tal">
                            <a class="cursor">
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【金融保险】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【集团公司】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【工商企业】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【IT行业】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【时装模特】</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--科教卫生界-->
                <div class="pic-focus-item">
                    <div class="dtbr">
                        <div class="dtbc person-photo-tit">
                            科教卫生界
                        </div>
                        <div class="dtbc">
                            <a class="cursor"  ui-sref="root.personList">
                                <img src="client/assets/img/person-pic-more.gif" class="person-pic-more"/>
                            </a>
                        </div>
                    </div>
                    <div class="dtbr">
                        <div class="dtbc">
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                        </div>
                        <div class="dtbc tal">
                            <a class="cursor">
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【科技名家】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【社会科学】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【教育名流】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【医学专家】</a>
                            </a>
                        </div>
                    </div>
                </div>
                 <!--历史名流-->
                <div class="pic-focus-item">
                    <div class="dtbr">
                        <div class="dtbc person-photo-tit">
                            历史名流
                        </div>
                        <div class="dtbc">
                            <a class="cursor"  ui-sref="root.personList">
                                <img src="client/assets/img/person-pic-more.gif" class="person-pic-more"/>
                            </a>
                        </div>
                    </div>
                    <div class="dtbr">
                        <div class="dtbc">
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                        </div>
                        <div class="dtbc tal">
                            <a class="cursor">
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【中共元老】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【故世名人】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【民国名流】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【历史遗照】</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--港澳侨台界-->
                <div class="pic-focus-item">
                    <div class="dtbr">
                        <div class="dtbc person-photo-tit">
                            港澳侨台界
                        </div>
                        <div class="dtbc">
                            <a class="cursor"  ui-sref="root.personList">
                                <img src="client/assets/img/person-pic-more.gif" class="person-pic-more"/>
                            </a>
                        </div>
                    </div>
                    <div class="dtbr">
                        <div class="dtbc">
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                        </div>
                        <div class="dtbc tal">
                            <a class="cursor">
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【华人华侨】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【香港名人】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【澳门名人】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【台湾人士】</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--运动体育界-->
                <div class="pic-focus-item">
                    <div class="dtbr">
                        <div class="dtbc person-photo-tit">
                            运动体育界
                        </div>
                        <div class="dtbc">
                            <a class="cursor"  ui-sref="root.personList">
                                <img src="client/assets/img/person-pic-more.gif" class="person-pic-more"/>
                            </a>
                        </div>
                    </div>
                    <div class="dtbr">
                        <div class="dtbc">
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                        </div>
                        <div class="dtbc tal">
                            <a class="cursor">
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【奥运精英】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【体坛高手】</a>
                                <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【著名教练】</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--文化艺术界-->
                <div class="pic-focus-item">
                <div class="dtbr">
                    <div class="dtbc person-photo-tit">
                        文化艺术界
                    </div>
                    <div class="dtbc">
                        <a class="cursor"  ui-sref="root.personList">
                            <img src="client/assets/img/person-pic-more.gif" class="person-pic-more"/>
                        </a>
                    </div>
                </div>
                <div class="dtbr">
                    <div class="dtbc">
                        <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                    </div>
                    <div class="dtbc tal">
                        <a class="cursor">
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【电影电视】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【戏剧曲艺】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【歌唱舞蹈】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【音乐演奏】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【文学作家】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【书画摄影】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【新闻媒体】</a>
                        </a>
                    </div>
                </div>
            </div>
                <!--其他人物-->
                <div class="pic-focus-item">
                <div class="dtbr">
                    <div class="dtbc person-photo-tit">
                        其他人物
                    </div>
                    <div class="dtbc">
                        <a class="cursor" ui-sref="root.personList">
                            <img src="client/assets/img/person-pic-more.gif" class="person-pic-more"/>
                        </a>
                    </div>
                </div>
                <div class="dtbr">
                    <div class="dtbc">
                        <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                    </div>
                    <div class="dtbc tal">
                        <a class="cursor">
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【宗教人士】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【社会团体】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【知名人士】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【海外名人】</a>
                            <a class="change-hover-color" ui-sref="root.personList"  target="_blank">【各类案犯】</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>