<div class="forget-password-container">
    <div class="forget-password-head">
        <span>找回登录密码</span>
    </div>
    <div class="forget-passwordOne-flowCharSuccess">
        <span class="forget-password-centerLeft">1 确认账号</span>
        <span class="forget-password-centerOne">2 验证身份</span>
        <span class="forget-password-centerTwo">3 设置密码信息</span>
        <span class="forget-password-centerRight">4 重置成功</span>
    </div>

    <div class="forget-passwordOne-content">
        <div class="forget-passwordSuccess-leftContent fll">
            <img src="client/assets/img/green-hook.png" class="fll forget-hook-pic"/>
        </div>
        <div class="forget-passwordSuccess-RightContent flr">
            <div>新密码设置成功 !</div>
            <div>
                您可以选择&nbsp;&nbsp;&nbsp;<a class="cursor" ng-click="forgetPasswordSuccess.jumpToIndex()">返回首页</a>
            </div>
        </div>
    </div>


</div>