<div class="spec-pic-container">
    <!--recommand stopic-->
    <div class="rec-topic-box">
        <div class="rec-hd-tit mt5 clear">
            <img src="client/assets/img/spec-pic.gif" class="fll mt2"/>
            <h5 class="rec-top-tit fll">推荐专题</h5>
        </div>
        <div class="rec-bd-con">
            <div class="rec-topic-item mt10 clear">
                <div class="rec-topic-li fll">
                    <div class="rec-topic-tit">
                        <span class="cursor change-hover-color">图片故事：80后纹眉师的新年愿望（12张）</span>
                    </div>
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic">
                                <img src="client/assets/img/pic-17.jpg"  class="rec-top-img"/>
                            </div>
                            <div class="rec-topic-desc">
                                年终岁末的12月28日，首都医科大学附属北京友谊医院耳鼻咽喉头颈外科主任龚树生教授，
                                在本院医疗团队配在本院医疗团队配在本院医疗团队配在本院医疗团队配队配在本院医疗团队
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rec-topic-li fll">
                    <div class="rec-topic-tit">
                        <span class="cursor change-hover-color">图片故事：80后纹眉师的新年愿望（12张）</span>
                    </div>
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic">
                                <img src="client/assets/img/pic-17.jpg"  class="rec-top-img"/>
                            </div>
                            <div class="rec-topic-desc">
                                年终岁末的12月28日，首都医科大学附属北京友谊医院耳鼻咽喉头颈外科主任龚树生教授，
                                在本院医疗团队配在本院医疗团队配在本院医疗团队配在本院医疗团队配队配在本院医疗团队
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rec-topic-li fll" style="margin-right:0;">
                    <div class="rec-topic-tit">
                        <span class="cursor change-hover-color">图片故事：80后纹眉师的新年愿望（12张）</span>
                    </div>
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic">
                                <img src="client/assets/img/pic-17.jpg"  class="rec-top-img"/>
                            </div>
                            <div class="rec-topic-desc">
                                年终岁末的12月28日，首都医科大学附属北京友谊医院耳鼻咽喉头颈外科主任龚树生教授，
                                在本院医疗团队配在本院医疗团队配在本院医疗团队配在本院医疗团队配队配在本院医疗团队
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--all topic-->
    <div class="tac all-topic-box">
        <img src="client/assets/img/all-topic.gif" class="all-topic-img"/>
    </div>
    <div class="hd-photo-paging all-top-paging mt10 clear">
        <div class="photo-record-page fll">
            <span>共找到</span>
            <span class="color_red">385</span>
            <span>条记录</span>
        </div>
        <div class="photo-now-page fll">
            <span>第 </span>
            <span>1 </span>
            <span>/</span>
            13
            <span>页</span>
        </div>
        <div class="photo-jump-page flr">
            <a class="change-hover-color">首页</a>
            <a class="change-hover-color jump-pre-page">上一页</a>
            <a class="change-hover-color">下一页</a>
            <a class="change-hover-color ml10">末页</a>
            <input type="text" class="page-jump-input">
            <a class="change-hover-color">跳转</a>
        </div>
    </div>
    <div class="all-topic-con clear">
        <div class="all-topic-left fll">
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                <span>(12-29 21:58)</span>
            </div>
        </div>
        <div class="all-topic-right fll">
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                <span>(12-29 21:58)</span>
            </div>
            <div class="all-topic-item">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                <span>(12-29 21:58)</span>
            </div>
        </div>
    </div>
    <div class="hd-photo-paging all-top-paging mt10 clear">
        <div class="photo-record-page fll">
            <span>共找到</span>
            <span class="color_red">385</span>
            <span>条记录</span>
        </div>
        <div class="photo-now-page fll">
            <span>第 </span>
            <span>1 </span>
            <span>/</span>
            13
            <span>页</span>
        </div>
        <div class="photo-jump-page flr">
            <a class="change-hover-color">首页</a>
            <a class="change-hover-color jump-pre-page">上一页</a>
            <a class="change-hover-color">下一页</a>
            <a class="change-hover-color ml10">末页</a>
            <input type="text" class="page-jump-input">
            <a class="change-hover-color">跳转</a>
        </div>
    </div>
</div>