<div class="webinfo-view-container">
    <div class="editTips-tit tac">编 辑 提 示</div>
    <div class="editTips-time color_red">2013-12-09 14:06</div>
    <div class="webinfo-view-con lh25">
        新版系统说明：
        <div class="ml10">
            1、原帐号和密码不变；<br/>
            2、用户在登陆时，可能会提示完善资料，请配合进行资料的完善；<br/>
            3、新版系统将不再支持专线上传软件，原专用软件即日起停用；<br/>
            4、请使用网页登陆 www.photo.com ，在【我的信息】栏目点击 "上传新闻图片"上传图片;<br/>
            邮件上传:请将图片、文档（TXT或者word），以打压缩包形式传送至photocns@chinanews.com，用稿件标题作为邮件主题；文档包括图片标题、总说明、图片分说明、作者名以及详细通联地址，以方便我们与您联系。<br/>
            5、所有老版本中的显示内容，我们将逐步完善；<br/>
            6、技术问题反馈邮箱：photojs@chinanews.com.cn<br/>
            7、值班编辑电话：010-68328095  销售电话：010-68320767
        </div>

    </div>
</div>