@charset utf-8;

.pic_detail_content{
	width:1200px;
	margin:0 auto;
}
.pic_detail_title{
	width:1200px;
	height:30px;
	border-bottom: 1px solid #e6e6e6;
	margin-top:30px;
}
.pic_detail_title_box{
	width:100%;
	height:25px;
	line-height:25px;
	border-left:4px solid #fb6053;
	margin-bottom:12px;
	font-size: 14px;
}
.pic_detail_content_box{
	width:100%;
}

.iframeBox{
	height: 560px;
	background: #f7f7f7;
}

.disNone{
	display: none;
}
.disBlock{
	display: block;
}
.ditail_title{
	width:100%;
	height:90px;
	line-height: 90px;
	font-size: 20px;
}
.detial_main_box{
	width:100%;
	height:560px;
}
.detial_content_pic{
	overflow:hidden;
	position:relative;
	width:1200px;
	height:560px;
	background:#FFF; 
	float:left;
	margin-bottom:30px;
}
.detial_content_pic .pic_show{
	overflow:hidden;
	position:relative;
	width:1200px;
	height:560px;
}
.pic_show ul{
	overflow:hidden;
	width:9999px;
}
.pic_show ul li{
	float:left;
	position:relative;
	width:1200px;
	text-align:center;
}
.pic_show  ul li img{
	vertical-align: middle;
}
.detail_prev{
	background:url("left_right_05.png") no-repeat right center;
	cursor:pointer;
	height:70px;
	position:absolute;
	top:245px;
	width:42px;
	left: 773px;
}
.detail_next{
	background:url("left_right_03.png") no-repeat right center;
	cursor:pointer;
	height:70px;
	position:absolute;
	top:245px;
	left: 15px;
	width:42px;
}
.pic_state{
	width:360px;
	height:560px;
	background: #f7f7f7;
	text-align:left;
}
.pics_img_box{
	float: left;
	width: 830px;
    height: 560px;
    background: #f7f7f7;
}
.imgBOX{
	width: 830px;
    height: 560px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.pic_state_title{
	width:100%;
	height:34px;
	line-height: 34px;
	font-size: 20px;
	color:#ef2127;
	margin-top:17px;
	border-left:4px solid #ef2127;
	text-indent:14px;
	font-weight: bold;
}
.pic_state_char{
	width:100%;
	margin-top:25px;
	font-size: 16px;
}
.pic_state_char p{
	line-height: 32px;
	height:32px;
	font-size: 16px;
	text-indent:18px;
}
.pic_state_exp{
	margin-top:35px;
	font-size:16px;
	width:330px;
	margin-left: 18px;
	height: 160px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.pic_state_exp p{
	line-height: 32px;
	font-size: 16px;
	width:100%;
}
.buy_onload{
	width:100%;
	height:84px;
}
.buy_onload_a1,.buy_onload_a2{
	display: inline-block;
	width:136px;
	height:84px;
	margin-top: 40px;
}
.detail_bottom_state{
	width:1200px;
	padding: 13px 0;
	margin-top:15px;
	background: #f7f7f7;
}
.detail_bottom_state_left{
	width:88px;
	/*height:70px;*/
	margin-left: 18px;
	text-align: center;
	/*line-height: 70px;*/
	font-size:30px;
	border-right:1px solid #d5d5d5;
}
.detail_bottom_state_left span{
    font-size: 30px;
    text-align: center;
    display:inline-block;
}
.detail_bottom_state_right{
	width:88px;
	height:70px;
	width:1070px;
	height:100%;
}
.detail_bottom_state_right p{
	line-height: 35px;
	font-size: 16px;
}
.span_color_red{
	color:#ef2127;
}
