<div id="detail-list">
    <div class="oH">
        <div class="hotFocus fll">
            <div class="hotFocus-title">
                &gt;&gt;&nbsp;&nbsp;热点聚焦
            </div>
            <div>
                <div class="ad-focus-pic">
                    <img src="client/assets/img/pic-12.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic">
                    <img src="client/assets/img/pic-13.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic">
                    <img src="client/assets/img/pic-14.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic">
                    <img src="client/assets/img/pic-15.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic">
                    <img src="client/assets/img/qrcode.jpg" class="hd-ad-pic cursor" alt="qrcode"/>
                </div>
            </div>
        </div>
        <div class="detailList fll">
            <div class="detailList-head">
                <p class="detailList-title">新年将到 北京铁路迎来小高峰</p>
                <p class="detailList-date">发布时间: 2016-12-29 19:17</p>
            </div>
            <div class="detailList-cont oH">
                <div class="cont-checkbox">
                    <input type="checkbox"/>全选
                </div>
                <div class="cont-list oH">
                    <div class="photo-detail-item">
                        <div class="item-pic">
                            <img src="client/assets/img/detailList1.jpg" class="curp" width="100%"
                                 ui-sref="root.photoDetail"/>
                        </div>
                        <div class="item-detail">
                            <p class="item-detail-lh30">
                                <input type="checkbox"/>
                                [图1]
                            </p>
                            <p class="item-detail-lh30">
                                <span>文件名：</span>
                                <span>20161229103106673a</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>图片作者：</span>
                                <span>陈晓根</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>尺寸：</span>
                                <span>5184*3456 像素</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>TIFF大小：</span>
                                <span>51.26 M</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>JPG大小：</span>
                                <span>1582 K</span>
                            </p>
                            <p>
                                <span>2017年1月2日，旅客排队进入北京火车站。</span>
                            </p>
                        </div>
                    </div>
                    <div class="photo-detail-item">
                        <div class="item-pic">
                            <img src="client/assets/img/detailList1.jpg" class="curp" width="100%"
                                 ui-sref="root.photoDetail"/>
                        </div>
                        <div class="item-detail">
                            <p class="item-detail-lh30">
                                <input type="checkbox"/>
                                [图1]
                            </p>
                            <p class="item-detail-lh30">
                                <span>文件名：</span>
                                <span>20161229103106673a</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>图片作者：</span>
                                <span>陈晓根</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>尺寸：</span>
                                <span>5184*3456 像素</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>TIFF大小：</span>
                                <span>51.26 M</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>JPG大小：</span>
                                <span>1582 K</span>
                            </p>
                            <p>
                                <span>2017年1月2日，旅客排队进入北京火车站。</span>
                            </p>
                        </div>
                    </div>
                    <div class="photo-detail-item">
                        <div class="item-pic">
                            <img src="client/assets/img/detailList1.jpg" class="curp" width="100%"
                                 ui-sref="root.photoDetail"/>
                        </div>
                        <div class="item-detail">
                            <p class="item-detail-lh30">
                                <input type="checkbox"/>
                                [图1]
                            </p>
                            <p class="item-detail-lh30">
                                <span>文件名：</span>
                                <span>20161229103106673a</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>图片作者：</span>
                                <span>陈晓根</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>尺寸：</span>
                                <span>5184*3456 像素</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>TIFF大小：</span>
                                <span>51.26 M</span>
                            </p>
                            <p class="item-detail-lh30">
                                <span>JPG大小：</span>
                                <span>1582 K</span>
                            </p>
                            <p>
                                <span>2017年1月2日，旅客排队进入北京火车站。</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cont-illustrate">
                    <p>
                        <span>图片说明：</span><br/>
                        &nbsp;&nbsp;<span>2017年1月2日，元旦小长假最后一天，北京火车站迎来返城客流最高峰，北京铁路进入客运繁忙期。</span><br/>
                        &nbsp;&nbsp;<span>中新社发 陈晓根 摄   （ 2017-01-03 ）</span>
                    </p>
                    <p class="mt20">
                        关键字：北京铁路 客运 春运
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>