	<link rel="stylesheet" href="sjah_photographer_detail.css">
	<div class="wrapper">
	    <!-- 主体内容部分 -->
	    <div class="sjah_photographer_content">
	        <!-- 活动banner -->
	    	<div class="activity_header"></div>
	    	<div class="sjah_photographer_content_box">
	    		<p style="font-size:30px;line-height:40px;text-align:center;">“喜看家乡新变化”</p>
				<p style="font-size:18px;line-height:36px;text-align:center;">——摄影比赛征稿启事</p>
				<div class="activity_content">
					<p style="text-indent:2em;">当前，全省人民正积极投身于学习宣传贯彻党的十九大精神，决胜全面建成小康社会，建设现代化五大发展美好安徽的伟大实践当中，安徽新闻网·视觉安徽发起“喜看家乡新变化”摄影比赛，邀请您拿起手中的相机、手机，精彩呈现江淮大地五大发展的缤纷画卷，生动记录江淮儿女创新创造的奋斗风采。</p>
					<p>一、主办、承办单位</p>
					<p style="text-indent:2em;">主办：安徽日报社</p>
					<p style="text-indent:2em;">承办：安徽新闻网•视觉安徽</p>
					<p>二、大赛主题</p>
					<p>　　喜看家乡新变化</p>
					<p>三、征稿日期</p>
					<p>　　即日起至2018年3月30日（截稿日以收到作品之日为准）</p>
					<p>四、拍摄内容</p>
					<p>　　参赛作品须围绕我省近年来经济社会发展中的新成就、新气象、新面貌、新亮点展开拍摄，体裁不限。为鼓励广大读者、网友积极参与，本次摄影比赛开通专门手机摄影投稿通道，并单独设立手机摄影奖项。</p>
					<p>五、奖项设置</p>
					<p>　　1、专业相机类（含航拍作品）</p>
					<p>　　一等奖1名：奖金3000元，并颁发证书；</p>
					<p>　　二等奖2名：奖金2000元，并颁发证书；</p>
					<p>　　三等奖3名：奖金1000元，并颁发证书；</p>
					<p>　　优秀奖30名：奖金200元，并颁发证书。</p>
					<p>　　2、手机摄影类</p>
					<p>　　一等奖1名：奖金1000元，并颁发证书；</p>
					<p>　　二等奖2名：奖金800元，并颁发证书；</p>
					<p>　　三等奖3名：奖金600元，并颁发证书；</p>
					<p>　　优秀奖30名：奖金200元，并颁发证书。</p>
					<p>　　以上奖金均为税前，获奖者自行缴纳个人所得税。</p>
					<p>六、参赛规则</p>
					<p>　　1、参赛对象：全国各地摄影家、媒体摄影记者、摄影爱好者均可选送作品；</p>
					<p>　　2、参赛作品必须在安徽省境内拍摄。作品主旨要积极向上，主题明确，内容真实，形象生动，富有感染力。参赛作品未曾公开发表，且未曾在其他摄影比赛中获得奖项。</p>
					<p>　　3、参赛者最多可提交10幅（组）作品。若以组照形式参与比赛，每组照片应不少于4张(含3张)，不多于8张，每张单片景观不与组内其他照片重复。作品必须注明拍摄时间、拍摄地点、作者姓名、联系方式、工作单位、简要的作品简介等。</p>
					<p>　　4、参赛作品除进行长画幅接片、裁剪和反差、亮度、饱和度等适度调整外，不得进行添加、移位、删除图内景物和大幅度改变色彩等后期技术处理，一经发现将取消其比赛资格。</p>
					<p>　　5、参赛作品一律为数码文件，文件（JPG格式）大小不低于1MB，彩色、黑白不限。</p>
					<p>七、互动和展示</p>
					<p>　　本次大赛，主办方将在安徽日报客户端和安徽新闻网·视觉安徽开设活动官方宣传页面，全面展示参赛者的摄影作品，并根据赛事进程通过安徽日报“两微一端”对参赛作品择优推送，部分优秀参赛作品将选登在安徽日报相关版面上。</p>
					<p>　　活动结束后，安徽新闻网·视觉安徽将组织评比，进行公示，及时公布获奖结果，并精选部分优秀作品集中展示。</p>
					<p>八、注意事项</p>
					<p>　　1、参赛作品应符合国家法律规定。参赛者保证提交的作品不侵犯任何第三方的合法权益，如涉及作品的著作权、肖像权、名誉权等法律责任，均由投稿者本人承担。</p>
					<p>　　2、参赛者须同意参赛作品使用权归主办方所有（包括用于展览、出版物、宣传、媒体报道等），不另付稿费。主办方必要时可引用作者姓名和其他必要信息，并有权对参赛作品进行必要的修改剪辑。所有参赛作品不退稿，作者须自留备份。</p>
					<p>　　3、凡参赛的作者，均视为同意并遵守以上规则。本次摄影大赛活动最终解释权归主办方所有。</p>
					<p>九、作品投送</p>
					<p>　　1、PC端登录安徽新闻网·视觉安徽vi.ahnews.com.cn，点击“我要投稿”。(见附件：PC端投稿操作手册)</p>
					<p >　　2、扫描以下二维码通过安徽新闻网视觉安徽网手机版点击“我要投稿”，按照提示投送作品。
					</p>
					<p style="text-align: center;">
					<img src="http://vi.ahnews.com.cn/photo/client_ah/assets/images_ah/20180116000012121.png" width="150" height="150">
					</p>
					<p>　　也可通过手机浏览器登陆安徽新闻网·视觉安徽vi.ahnews.com.cn（见附件：手机版投稿操作手册）</p>
					<p>　　3、通过邮箱发稿至viahnews@163.com，邮件须注明“喜看家乡新变化摄影大赛”。</p>
					<p>　　4、联系方式：</p>
					<p>　　　　0551-65179237许昊</p>
					<p>　　　　0551-65179238吴文兵</p>
				</div>


	    	</div>
	    </div>
	</div>
	<script id="_trs_ta_js" src="//ta.trs.cn/c/js/ta.js?mpid=1485" async="async" defer="defer"></script>