    <!-- 主体部分 -->
<div class="section1120180402">

      
		<!--安徽画坛-->
        <div class="gailan_title">
            <div class="title_box">
                <span >
                    当前位置：安徽新闻奖
                </span>
                 </div>
            <div class="clear"></div>
        </div>

        <div class="pingxuan20180402">
            <h1 style="font-size:20px;">2017年度安徽新闻奖(新闻摄影，新闻漫画)评选结果公示</h1>

            <p>
            	<div class="jiathis_style_24x24 fenxiang0402" ><img src="he_xwpd_lby_pic_02.gif" alt=""  OLDSRC="he_xwpd_lby_pic_02.gif" OLDID="18359" RELATED="1" />
                    <a class="jiathis_button_weixin" ></a>
                    <a class="jiathis_button_tsina" ></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank" ></a>
                </div>
                 <div class="clear"></div>   
           </p>
        </div>
          <div class="clear"></div>


            <div class="gongshi20180402">
                 <h3>公&nbsp;&nbsp;示</h3>
                    <p style="width: 1100px; margin: 0 auto; line-height: 30px; text-align: left;text-indent:30px;">2018年4月1日，2017年度安徽新闻奖（新闻摄影、新闻漫画）评选会在合肥举行，会议评选出安徽新闻奖新闻摄影作品32幅（组），其中一等奖4幅（组），二等奖16幅（组），三等奖12幅（组）；评选出安徽新闻奖新闻漫画作品6幅，其中一等奖1幅，二等奖2幅，三等奖3幅。
                        <p style="width: 1100px; margin: 0 auto; line-height: 30px;  text-align: left;text-indent:30px;">
                            根据省记协下发的《关于开展2017年度安徽新闻奖评选工作的通知》（皖记协字[2018]1号）和省新闻摄影学会《关于开展2017年度安徽新闻奖新闻摄影奖、新闻漫画奖评选工作的通知》规定，现予以公示，公示期为2018年4月2日至4月9日，在此期间，社会各界可通过电话、信函或电子邮件等方式发表意见。安徽省新闻摄影学会将认真受理，按照评选通知规定，对有关举报进行核查，并提出处理意见报评委会决定。 
                        </p>

                      <div style="width: 1100px; margin:0 auto;">
                          <div class="clear"></div>
                        <p style="float: left;  line-height: 30px;text-indent:30px;">省新闻摄影学会联系人：刘浩  </p>
                        <div class="clear"></div>
                        <p style="float: left;  line-height: 30px;text-indent:30px;">联系电话：0551-65179191  </p>
                        <div class="clear"></div>
                        <p style="float: left;  line-height: 30px;text-indent:30px;">电子邮箱：ahrblh@163.com </p>
                        <div class="clear"></div>
                        <p style="float: left;  line-height: 30px;text-indent:30px;">地址：安徽省合肥市潜山路1469号  </p>
                        <div class="clear"></div>
                        <p style="float: left;  line-height: 30px;text-indent:30px;">邮编：230071</p>
                        <div class="clear"></div>
                        <p style="float: right;  line-height: 30px;"> 安徽省新闻摄影学会</p>
                        <div class="clear"></div>
                        <p style="float: right;  line-height: 30px;">2018年4月2日 </p>
                            </div>
                

            </div>
       
        <div class="clear"></div>

        <div class="yidengjiang20180402" ng-init="ahnewswinnerslist.getClientGroups(3166,4,0,2)"> 
            <p style="border-bottom:1px solid #e6e6e6; padding-bottom: 15px;  text-align: center;">
                <span style="font-size:22px; text-indent: 30px; display: inline-block; margin:0 auto;" class="jiangxiang20180402">新闻摄影一等奖(4副/组)</span>
                <div class="clear"></div>
                <ul class="tongyi20180402"  >
                    <li ng-repeat="item in ahnewswinnerslist.firstprize track by $index">
                    	<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank" style="height: 240px;display: block;">
							<img ng-src="{{item.filePath}}" alt="" style="max-height:233px;max-width:370px">
						</a>
                        <p>
	                        <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								{{item.TITLE}}
							</a>	
						</p>
                    </li>
                </ul>

            </p>

        </div>
        <div class="clear"></div>

         <div class="yidengjiang20180402"  ng-init="ahnewswinnerslist.getClientGroups(3167,16,0,2)"> 
            <p style="border-bottom:1px solid #e6e6e6; padding-bottom: 15px;  text-align: center; margin-top: 20px;">
                <span style="font-size:22px; text-indent: 30px; display: inline-block; margin:0 auto;" class="jiangxiang20180402">新闻摄影二等奖(16副/组)</span>
                <div class="clear"></div>
                <ul class="tongyi20180402">
                 	 <li ng-repeat="item in ahnewswinnerslist.secondprize track by $index">
                        <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank" style="height: 240px;display: block;">
							<img ng-src="{{item.filePath}}" alt="" style="max-height:233px;max-width:370px">
						</a>
                        <p>
	                        <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								{{item.TITLE}}
							</a>	
						</p>
                    </li>
                </ul>
            </p>
        </div>

<div class="clear"></div>
         <div class="yidengjiang20180402" > 
            <p style=" padding-bottom: 15px;  text-align: center; margin-top: 20px;">
                <span style=" font-size:22px; text-indent: 30px; display: inline-block; margin:0 auto; margin" class="jiangxiang20180402">新闻摄影三等奖名单</span>
                <div class="clear"></div>
        <table class="table-big20180402" style="margin-top: 10px;">
            <tr>
                <td style="width: 100px;">编号</td>
                <td style="width: 300px; height: 30px;">作品标题</td>
                <td style="width: 200px;">作者</td>
                <td style="width: 200px;">单位</td>
            </tr>
            <tr>
                <td>44</td>
                <td>《患难夫妻 大爱无言》（组）</td>
                <td>张延林 李锦文</td>
                <td>亳州晚报社</td>
            </tr>
            <tr>
                <td>63</td>
                <td>《古籍保护有传人》（组）</td>
                <td>程  兆</td>
                <td>安徽日报社</td>
            </tr>
            <tr>
                <td>74</td>
                <td>《戏曲进校园》（组）</td>
                <td>张大岗</td>
                <td>合肥日报社</td>
            </tr>
            <tr>
                <td>2</td>
                <td>《铜陵有色金昌冶炼厂生产系统全面关停》（组）</td>
                <td>过仕宁</td>
                <td>铜陵日报社</td>
            </tr>
            <tr>
                <td>61</td>
                <td>《全球首条10.5代线投产》（单）</td>
                <td>李  博</td>
                <td>安徽日报社</td>
            </tr>
            <tr>
                <td>78</td>
                <td>《生态湿地美如画》（组）</td>
                <td>何希斌</td>
                <td>合肥日报社</td>
            </tr>
            <tr>
                <td>88</td>
                <td>《“老赖”赖着不走 法院强制迁出》（单）</td>
                <td>高  勇</td>
                <td>合肥晚报社</td>
            </tr>
            <tr>
                <td>8</td>
                <td>《夜幕下的代驾人》（组）</td>
                <td>王  彪</td>
                <td>颍州晚报社</td>
            </tr>
            <tr>
                <td>69</td>
                <td>《三千人瑞九夜间大拨接》（组）</td>
                <td>集  体</td>
                <td>铁道建设报</td>
            </tr>
             <tr>
                <td>80</td>
                <td>《一个人的坚守》（单）</td>
                <td>庄道龙</td>
                <td>江淮晨报社</td>
            </tr>
            <tr>
                <td>100</td>
                <td>《以手代脚，走出“尊严人生路”》（组）</td>
                <td>陈  群</td>
                <td>新安晚报社</td>
            </tr>
            <tr>
                <td>103</td>
                <td>《张亮亮“亮出”运动生涯最后一剑》（组）</td>
                <td>黄洋洋</td>
                <td>市场星报社</td>
            </tr>
        </table>
    </p>
</div>


<div class="clear"></div>
         <div class="yidengjiang20180402" ng-init="ahnewswinnerslist.getClientGroups(3170,6,0,2)" > 
            <p style="border-bottom:1px solid #e6e6e6; padding-bottom: 15px;  text-align: center; margin-top: 60px;">
                <span style="font-size:22px; text-indent: 30px; display: inline-block; margin:0 auto;" class="jiangxiang20180402">新闻漫画奖</span>
                <div class="clear"></div>
                <ul class="tongyi20180402 last-li20180402" style="width: 1000px;margin: 0 auto;">
                    <li ng-repeat="item in ahnewswinnerslist.cartoonprize track by $index">
                       <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank" style="height: 240px;display: block;">
							<img ng-src="{{item.filePath}}" alt="" style="max-height:233px;max-width:370px">
						</a>
                        <p>
	                        <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								{{item.TITLE}}
							</a>	
						</p>
                    </li>
                </ul>
            </p>
        </div>
    </div>
