<div class="user-manager-container">
    <form name="form" method="post" id="modifyWaterMarkForm" action="/photo/lanmu/saveLanmuWithPic.do" enctype="multipart/form-data">
    <div class="c-common-titbox clear">
        <div class="fll proj-detail-left">
            <role-common-tit  value="专题管理-->栏目管理"></role-common-tit>
        </div>
        <span class="edit-column">编辑栏目信息</span>
        <div class="flr clear">
            <div class="user-hd-left fll">
                <!--<span class="dib cursor user-add-btn role-del-btn" ui-sref="role.manager.projectManageView({id:projectManageEdit0.columnId,topicId:projectManageEdit0.specialId})">预览</span>-->
                <button type="button" style="outline: none;" class="dib cursor user-add-btn" 
				        ng-click="projectManageEdit0.saveProjectManageEdit()">保存</button>
				<span class="dib cursor user-add-btn role-modify-btn" 
				      ui-sref="role.manager.projectManageDetail({id:projectManageEdit0.specialId})">返回</span>
            </div>
        </div>
    </div>
    <div class="c-user-table padding-10-15 pro-height-auto">
        <p class="l-e-title">栏目信息</p>
        <div class="l-e-container clear">
            <div class="fll w50p h-270">
                <div class="form-group">
                    <label class="label-info">专题名称</label>
                    <span>{{projectManageEdit0.specialName}}</span>
                </div>
                <div class="form-group">
                    <label class="label-info">栏目模板</label>
                    <span>无</span>
                </div>
                <div class="form-group">
                    <label class="label-info">栏目名称</label>
                    <input type="text" name="cpLanmu[0].name" ng-model="projectManageEdit0.columnName"><span class="color_red">*</span>
                    <input type="text" class="inp-hid" name="cpLanmu[0].id" ng-model="projectManageEdit0.columnId">
                </div>
                <div class="form-group">
                    <label class="label-info">子栏目1名称</label>
                    <input type="text" name="cpLanmu[0].cpLanmu1.name" ng-model="projectManageEdit0.sonColumnName1"><span class="color_red">*</span>
                    <input type="text"  class="inp-hid" name="cpLanmu[0].cpLanmu1.typeId" ng-model="projectManageEdit0.sonTemplate1">
                    <input type="text"  class="inp-hid" name="cpLanmu[0].cpLanmu1.id" ng-model="projectManageEdit0.sonColumnId1">
                </div>
                <div class="form-group">
                    <label class="label-info">子栏目1模板</label>
                    <span>{{projectManageEdit0.sonTemplate1 | sonColumnDis}}</span>
                </div>
                <div class="form-group">
                    <label class="label-info">子栏目2名称</label>
                    <input type="text" name="cpLanmu[0].cpLanmu2.name" value="" ng-model="projectManageEdit0.sonColumnName2"><span class="color_red">*</span>
                    <input type="text"  class="inp-hid" name="cpLanmu[0].cpLanmu2.typeId" ng-model="projectManageEdit0.sonTemplate2">
                    <input type="text" class="inp-hid" name="cpLanmu[0].cpLanmu2.id" ng-model="projectManageEdit0.sonColumnId2">
                </div>
                <div class="form-group">
                    <label class="label-info">子栏目2模板</label>
                    <span>{{projectManageEdit0.sonTemplate2 | sonColumnDis}}</span>
                </div>
            </div>
            <!--<div class="flr w50p h-185">
                <div class="form-group">
                    <label class="label-info label-top">缩略图</label>
                    <img src="admin/assets/img/role/empty.png" alt="">
                </div>
            </div>-->
        </div>
    </div>
    <div class="c-user-table padding-10-15">
        <!--栏目内容-->
        <p class="l-e-title">栏目页面内容</p>
        <div class="l-e-tab clear">
            <div class="fll text-center">
                <span class="l-e-tab-1">元素1</span><span class="l-e-tab-2">图片</span>
            </div>
        </div>
        <div class="l-e-img-box">
            <div class="clear">
                <span class="l-e-tip fll">图片1</span>
            </div>
            <div class="img-box pos-r">
                <input type="file" name="wmFile" multiple id="add_File" fileinput="file"
                       filepreview="filepreview"
                       style="opacity:0; width: 0; display: none" class="down-remark-input fll tal"/>
                <img class="div-center" id="modifyWaterMarkImageId" ng-src="{{filepreview}}"/>
                <!--<img class="div-center" ng-if="!projectManageEdit0.columnPic" src="admin/assets/img/role/empty.png" alt="" class="">-->
            </div>
            <div class="button img upload-img add-img-div add-img cursor">
                <label for="add_File" class="add_pic_label" style="display: inline-block">
                    <span>添加图片</span>
                </label>
            </div>
        </div>


        <!--子栏目1-->
        <p class="l-e-title mt15">子栏目1页面内容</p>
        <div class="l-e-tab clear">
            <div class="fll text-center">
                <span class="l-e-tab-1">元素1</span><span class="l-e-tab-2">稿件</span>
            </div>
        </div>
        <p class="l-e-title-16">子栏目1首页显示稿件:</p>
        <div class="clear">
            <!--稿件-->
            <div ng-repeat="item in projectManageEdit0.manuscript1 track by $index" class="pad-10 col-sm-4">
                <div class="l-e-gj-box">
                    <div class="clear">
                        <span class="l-e-tip fll">稿件{{$index + 1 }}</span>
                    </div>
                    <div class="img-box pos-r">
                        <img class="div-center" ng-if="item" ng-src="{{item.cpLanmuGroupPic.allpath}}" alt="" class="">
                        <img class="div-center" style="max-height:160px;" ng-if="!item" src="admin/assets/img/role/empty1.png" alt="" class="">
                    </div>
                    <p ng-if="item" class="gj-title">{{item.cpLanmuGroupPic.title}}</p>
                    <p ng-if="!item" class="gj-title">这里是标题</p>
                    <div>
                        <span ng-if="item" ng-click="projectManageEdit0.selectManuscript(projectManageEdit0.sonColumnId1,$index+1)" class="add-img cursor">替换稿件</span>
                        <span ng-if="!item" ng-click="projectManageEdit0.selectManuscript(projectManageEdit0.sonColumnId1,$index+1)" class="add-img cursor">选择稿件</span>
                    </div>
                </div>
            </div>
            <!--稿件结束·
        </div>

        <!--更多稿件list-->
        <div class="gj-more-list mt15" >
            <div class="clear">
                <div class="fll l-e-title-16">更多稿件:</div>
                <div ng-show="!projectManageEdit0.tableShow1" ng-click="projectManageEdit0.addMoreManuscript(projectManageEdit0.sonColumnId1,0);" class="flr dib cursor user-add-btn role-modify-btn">添加稿件</div>
            </div>
            <div class="gj-box clear" ng-show="!projectManageEdit0.tableShow1">
                <div ng-repeat="item in projectManageEdit0.moreManuscript1 track by $index" class="pad-10 col-sm-4">
                    <div class="l-e-gj-box more-manuscript">
                        <div class="clear">
                            <span class="l-e-tip fll">稿件{{$index + 1 }}</span>
                        </div>
                        <div class="img-box pos-r">
                            <img class="div-center" ng-if="item" ng-src="{{item.cpLanmuGroupPic.allpath}}" alt="" class="">
                            <img class="div-center" style="max-height:160px;" ng-if="!item" src="admin/assets/img/role/empty1.png" alt="" class="">
                        </div>
                        <p ng-if="item" class="gj-title">{{item.cpLanmuGroupPic.title}}</p>
                        <p ng-if="!item" class="gj-title">这里是标题</p>
                    </div>
                </div>
            </div>
            <div class="clear" ng-show="!projectManageEdit0.tableShow1">
                <span class="flr cursor" ng-click="projectManageEdit0.showManuscriptTable(1,1)">查看更多>></span>
            </div>
        </div>
        <!--更多稿件list结束-->

        <!--更多稿件table开始-->
        <div class="gj-more-table mt15 clear" ng-show="projectManageEdit0.tableShow1">
            <div class="c-user-table">
                <div class="t-search-hd clear">
                    <div class="user-hd-left fll">
                        <label for="checkAllProjectEdit">
                            <input type="checkbox" class="" ng-model="projectManageEdit0.isHadAllCheck1"
                                   id="checkAllProjectEdit"
                                   ng-click="projectManageEdit0.onCheckAllClick(1)"/>
                            <span class="user-check-txt">全选</span>
                        </label>
                        <span class="dib cursor user-add-btn" ng-click="projectManageEdit0.addMoreManuscript(projectManageEdit0.sonColumnId1,0)">添加稿件</span>
                        <span class="dib cursor user-add-btn role-del-btn" ng-click="projectManageEdit0.onShowDeleteModelClick(1)">批量删除</span>
                        <span class="dib cursor user-add-btn role-modify-btn" ng-click="projectManageEdit0.backMoreManuscriptList(1)">返回</span>
                    </div>
                    <div class="user-hd-right flr">
                        <input class="user-search-input" />
                        <img src="admin/assets/img/role/zxs_search.png" class="user-serach-pic"/>
                    </div>
                </div>
                <div class="t-uinfo-bd">
                    <div class="table-responsive">
                        <table class="table table-bordered uInfo-table">
                            <thead>
                            <tr>
                                <th class="uinfo-hd-th"></th>
                                <th class="uinfo-hd-th">ID</th>
                                <th class="uinfo-hd-th">缩略图</th>
                                <th class="uinfo-hd-th">标题</th>
                                <th class="uinfo-hd-th">编辑时间</th>
                                <th class="uinfo-hd-th">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in projectManageEdit0.moreContribute1"
                                ng-init="projectManageEdit0.checkBoxArray1[$index] = false">
                                <td>
                                    <input type="checkbox" ng-model="projectManageEdit0.checkBoxArray1[$index]" ng-true-value="{{item.id}}" ng-false-value="false"/>
                                </td>
                                <td>{{item.id}}</td>
                                <td>
                                    <img ng-if="item.cpLanmuGroupPic.allpath" class="thumbnail-img" ng-src="{{item.cpLanmuGroupPic.allpath}}" alt="">
                                    <img ng-if="!item.cpLanmuGroupPic.allpath" class="thumbnail-img" src="admin/assets/img/role/empty1.png" alt="">
                                </td>
                                <td>{{item.cpLanmuGroupPic.title}}</td>
                                <td>{{item.cpLanmuGroupPic.sgintime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <img src="admin/assets/img/role/look_user_info.png" ng-click="projectManageEdit0.selectManuscript(projectManageEdit0.sonColumnId1, 100, item.id);" title="替换稿件" class="cursor u-pwd-reset" width="20" height="20" />
                                    <img src="admin/assets/img/role/red_del.png" title="删除稿件" ng-click="projectManageEdit0.delMoreManuscript(1, item.id);" class="cursor" width="20" height="20"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 分页 -->
                    <div class="flr pr15">
                        <ul class="pagination" id="paginationImgId1"></ul>
                    </div>
                </div>
            </div>
        </div>
        <!--更多稿件table结束-->


        <!--子栏目2-->
        <p class="l-e-title mt15">子栏目2页面内容</p>
        <div class="l-e-tab clear">
            <div class="fll text-center">
                <span class="l-e-tab-1">元素1</span><span class="l-e-tab-2">稿件</span>
            </div>
        </div>
        <p class="l-e-title-16">子栏目2首页显示稿件:</p>
        <div class="clear">
            <!--稿件-->
            <div ng-repeat="item in projectManageEdit0.manuscript2 track by $index" class="pad-10 col-sm-4">
                <div class="l-e-gj-box">
                    <div class="clear">
                        <span class="l-e-tip fll">稿件{{$index + 1 }}</span>
                    </div>
                    <div class="img-box pos-r">
                        <img class="div-center" ng-if="item" ng-src="{{item.cpLanmuGroupPic.allpath}}" alt="" class="">
                        <img class="div-center" style="max-height:160px;" ng-if="!item" src="admin/assets/img/role/empty1.png" alt="" class="">
                    </div>
                    <p ng-if="item" class="gj-title">{{item.cpLanmuGroupPic.title}}</p>
                    <p ng-if="!item" class="gj-title">这里是标题</p>
                    <div>
                        <span ng-if="item" ng-click="projectManageEdit0.selectManuscript(projectManageEdit0.sonColumnId2,$index+1)" class="add-img cursor">替换稿件</span>
                        <span ng-if="!item" ng-click="projectManageEdit0.selectManuscript(projectManageEdit0.sonColumnId2,$index+1)" class="add-img cursor">选择稿件</span>
                    </div>
                </div>
            </div>
            <!--稿件结束-->
        </div>

        <!--更多稿件list-->
        <div class="gj-more-list mt15" >
            <div class="clear">
                <div class="fll l-e-title-16">更多稿件:</div>
                <div ng-show="!projectManageEdit0.tableShow2" class="flr dib cursor user-add-btn role-modify-btn" ng-click="projectManageEdit0.addMoreManuscript(projectManageEdit0.sonColumnId2,0);">添加稿件</div>
            </div>
            <div class="gj-box clear" ng-show="!projectManageEdit0.tableShow2">
                <div ng-repeat="item in projectManageEdit0.moreManuscript2 track by $index" class="pad-10 col-sm-4">
                    <div class="l-e-gj-box more-manuscript">
                        <div class="clear">
                            <span class="l-e-tip fll">稿件{{$index + 1 }}</span>
                        </div>
                        <div class="img-box pos-r">
                            <img class="div-center" ng-if="item" ng-src="{{item.cpLanmuGroupPic.allpath}}" alt="" class="">
                            <img class="div-center" style="max-height:160px;" ng-if="!item" src="admin/assets/img/role/empty1.png" alt="" class="">
                        </div>
                        <p ng-if="item" class="gj-title">{{item.cpLanmuGroupPic.title}}</p>
                        <p ng-if="!item" class="gj-title">这里是标题</p>
                    </div>
                </div>
            </div>
            <div class="clear" ng-show="!projectManageEdit0.tableShow2">
                <span class="flr cursor" ng-click="projectManageEdit0.showManuscriptTable(2,1)">查看更多>></span>
            </div>
        </div>
        <!--更多稿件list结束-->

        <!--更多稿件table开始-->
        <div class="gj-more-table mt15 clear" ng-show="projectManageEdit0.tableShow2">
            <div class="c-user-table">
                <div class="t-search-hd clear">
                    <div class="user-hd-left fll">
                        <label for="checkAllProjectEdit0">
                            <input type="checkbox" class="" ng-model="projectManageEdit0.isHadAllCheck2"
                                   id="checkAllProjectEdit0" ng-click="projectManageEdit0.onCheckAllClick(2)"/>
                            <span class="user-check-txt">全选</span>
                        </label>
                        <span class="dib cursor user-add-btn" ng-click="projectManageEdit0.addMoreManuscript(projectManageEdit0.sonColumnId2,0)">添加稿件</span>
                        <span class="dib cursor user-add-btn role-del-btn" ng-click="projectManageEdit0.onShowDeleteModelClick(2)">批量删除</span>
                        <span class="dib cursor user-add-btn role-modify-btn" ng-click="projectManageEdit0.backMoreManuscriptList(2)">返回</span>
                    </div>
                    <div class="user-hd-right flr">
                        <input class="user-search-input"/>
                        <img src="admin/assets/img/role/zxs_search.png" class="user-serach-pic"/>
                    </div>
                </div>
                <div class="t-uinfo-bd">
                    <div class="table-responsive">
                        <table  class="table table-bordered uInfo-table">
                            <thead>
                            <tr>
                                <th class="uinfo-hd-th"></th>
                                <th class="uinfo-hd-th">ID</th>
                                <th class="uinfo-hd-th">缩略图</th>
                                <th class="uinfo-hd-th">标题</th>
                                <th class="uinfo-hd-th">编辑时间</th>
                                <th class="uinfo-hd-th">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in projectManageEdit0.moreContribute2"
                                ng-init="projectManageEdit0.checkBoxArray2[$index] = false">
                                <td>
                                    <input type="checkbox" ng-model="projectManageEdit0.checkBoxArray2[$index]" ng-true-value="{{item.id}}" ng-false-value="false"/>
                                </td>
                                <td>{{item.id}}</td>
                                <td>
                                    <img ng-if="item.cpLanmuGroupPic.allpath" class="thumbnail-img" ng-src="{{item.cpLanmuGroupPic.allpath}}" alt="">
                                    <img ng-if="!item.cpLanmuGroupPic.allpath" class="thumbnail-img" src="admin/assets/img/role/empty1.png" alt="">
                                </td>
                                <td>{{item.cpLanmuGroupPic.title}}</td>
                                <td>{{item.cpLanmuGroupPic.sgintime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>
                                    <img src="admin/assets/img/role/look_user_info.png" ng-click="projectManageEdit0.selectManuscript(projectManageEdit0.sonColumnId2, 100, item.id);" title="替换稿件" class="cursor u-pwd-reset" width="20" height="20" />
                                    <img src="admin/assets/img/role/red_del.png" title="删除稿件" ng-click="projectManageEdit0.delMoreManuscript(2, item.id);" class="cursor" width="20" height="20"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 分页 -->
                    <div class="flr pr15">
                        <ul class="pagination" id="paginationImgId2"></ul>
                    </div>
                </div>
            </div>
        </div>
        <!--更多稿件table结束-->
    </div>
    </form>
</div>
