.spec-pic-container{
    border: 1px solid #ccc;
    padding: 5px;
    background: #FFF;
}
.rec-top-tit{
    font-weight: bold;
    font-size:1.4rem;
    margin-left: 4px;
}
.rec-topic-li{
    width: 33.1%;
    margin-right: 0.35%;
    border: 1px solid #ccc;
}
.rec-topic-tit{
    background: url('../../img/rec-topic-bg.gif');
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
}
.rec-top-img{
    width:90%;
    border: 1px solid #ccc;
    padding:2px;
}
.rec-topic-pic{
    width:55%;
    display:table-cell;
    vertical-align: middle;
}
.rec-topic-desc{
    width:45%;
    display:table-cell;
    vertical-align: middle;
}
.rec-topic-details{
    padding:6px;
}
.all-topic-box{
    margin:10px 0;
}
.all-top-paging{
    background:#EFEFEF;
    padding: 3px 11px;
}
.all-topic-left{
    width: 49.5%;
    margin-right: 1%;
}
.all-topic-right{
    width: 49.5%;;
}
.all-topic-pic{
    margin: 5px 4px 0 0;
}
.all-topic-con{
    padding: 10px 7px 20px 7px;
}
.all-topic-item{
    margin-top: 10px;
}
.rec-tr-tem{
    display:table-row;
}
.all-topic-img{
    width: 85%;
}