
    <!-- 主体部分 -->
    <div class="newsPic_content">

        <!-- 大美安徽 -->
        <div class="newsPic_politics">
            <div class="newsPic_politics_title">
                <div class="newsPic_politics_title_box">
                    大美安徽
                    <span><a ui-sref="root.moreSortList({sginId: 3089})">更多</a></span>
                </div>
            </div>
            <div class="newsPic_politics_cntent" ng-init="anhuiPhoto.getClientGroups(3089,7,0,2)">
                <div class="newsPic_politics_cntent_lt" ng-repeat="item in anhuiPhoto.beautifulAnhui track by $index" ng-if="$first">
                    <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
						<img ng-src="{{item.filePath}}" alt="" width="471" height="337">
					</a>
                    <p class="split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                </div>
                <div class="newsPic_politics_cntent_rt">
                    <ul>
                        <li ng-repeat="item in anhuiPhoto.beautifulAnhui track by $index" ng-if="!$first">
                            <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.filePath}}" alt="" width="228" height="146">
							</a>
                            <p class="split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <!--创新安徽-->
        <div class="newsPic_content_bottom" ng-init="anhuiPhoto.getClientGroups(3090,3,0,2)">
            <div class="newsPic_politics_title">
                <div class="newsPic_politics_title_box">
                    创新安徽
                    <span><a ui-sref="root.moreSortList({sginId: 3090})">更多</a></span>
                </div>
            </div>
            <div class="newsPic_business" ng-repeat="item in anhuiPhoto.innovationAnhui track by $index">
                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
					<img ng-src="{{item.filePath}}" alt="" width="370" height="233">
				</a>
                <p class="newsPic_business_p1 split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
            </div>
        </div>
        <div class="clear"></div>
		<!--开放安徽-->
        <div class="newsPic_content_bottom" ng-init="anhuiPhoto.getClientGroups(3092,3,0,2)">
            <div class="newsPic_politics_title">
                <div class="newsPic_politics_title_box">
                    开放安徽
                    <span><a ui-sref="root.moreSortList({sginId: 3092})">更多</a></span>
                </div>
            </div>
            <div class="newsPic_business" ng-repeat="item in anhuiPhoto.openingAnhui track by $index">
                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
					<img ng-src="{{item.filePath}}" alt="" width="370" height="233">
				</a>
                <p class="newsPic_business_p1 split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
            </div>
            
        </div>
        <div class="clear"></div>
		<!--人文安徽-->
        <div class="newsPic_content_bottom" ng-init="anhuiPhoto.getClientGroups(3093,3,0,2)">
            <div class="newsPic_politics_title">
                <div class="newsPic_politics_title_box">
                    人文安徽
                    <span><a ui-sref="root.moreSortList({sginId: 3093})">更多</a></span>
                </div>
            </div>
            <div class="newsPic_business" ng-repeat="item in anhuiPhoto.humanitiesAnhui track by $index">
                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
					<img ng-src="{{item.filePath}}" alt="" width="370" height="233">
				</a>
                <p class="newsPic_business_p1 split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
            </div>
        </div>
        <div class="clear"></div>

    </div>
	<script id="_trs_ta_js" src="//ta.trs.cn/c/js/ta.js?mpid=1485" async="async" defer="defer"></script>