<div class="wrapper">
	    <!-- 主体内容部分 -->
	    <div class="sjah_photographer_content">
	        <!-- 摄影师banner -->
	    	<div class="sjah_photographer_content_pic"></div>

	    	<!-- 摄影师页面 -->
	    	<div class="sjah_photographer_content_box"  >
	    		<div class="sjah_photographer_content_detail" dir-paginate="item in photographerList.photoList | itemsPerPage:photographerList.selPageRows" 
                     total-items="photographerList.photoList_total" 
                     current-page="photographerList.pagination.current">
	    		<!-- 左侧摄影师头像 -->
	    			<div class="sjah_photographer_content_detail_lt left" ng-if="item.showStatus==0">
	    				<div class="sjah_photographer_content_detail_lt_box"><a ui-sref="root.photographerdetail({userId: item.ID,sginId:item.HOMEPAGE_COLUMNID})" target="_blank"><img src="{{item.STANDBY3}}"></a></div>
	    			</div>
	    			
	    			<div class="sjah_photographer_content_detail_lt right" ng-if="item.showStatus==1">
	    				<div class="sjah_photographer_content_detail_lt_box"><a ui-sref="root.photographerdetail({userId: item.ID,sginId:item.HOMEPAGE_COLUMNID})" target="_blank"><img src="{{item.STANDBY3}}"></a></div>
	    			</div>
	    			
	    			
	    		<!-- 右侧姓名、简介 -->
	    			<div class="sjah_photographer_content_detail_rt right" ng-if="item.showStatus==0">
	    				<div class="sjah_photographer_name">
	    					<span class="left"><a ui-sref="root.photographerdetail({userId: item.ID,sginId:item.HOMEPAGE_COLUMNID})" target="_blank">{{item.TURE_NAME}}</a></span>
	    					<div class="sjah_photographer_name_line right"></div>
	    				</div>
	    				<div class="clear"></div>
	    				<div class="sjah_photographer_intru">
	    					<p>{{item.USER_DETAIL}}</p>
	    				</div>
	    			</div>
	    			
	    			
	    			<div class="sjah_photographer_content_detail_rt left" ng-if="item.showStatus==1">
	    				<div class="sjah_photographer_name">
	    					<span class="right"><a ui-sref="root.photographerdetail({userId: item.ID,sginId:item.HOMEPAGE_COLUMNID})" target="_blank">{{item.TURE_NAME}}</a></span>
	    					<div class="sjah_photographer_name_line left"></div>
	    				</div>
	    				<div class="clear"></div>
	    				<div class="sjah_photographer_intru">
	    					<p>{{item.USER_DETAIL}}</p>
	    				</div>
	    			</div>
	    			<div class="clear"></div>
	    		</div> 
	    		
				<!--
	    		<div class="sjah_photographer_content_detail">

	    			<div class="sjah_photographer_content_detail_lt right">
	    				<div class="sjah_photographer_content_detail_lt_box"><img src="client_ah/assets/images_ah/sjah_photographer_index_03.jpg"></div>
	    			</div>

	    			<div class="sjah_photographer_content_detail_rt left">
	    				<div class="sjah_photographer_name">
	    					<span class="right"><a href="" target="_blank">贺敬华</a></span>
	    					<div class="sjah_photographer_name_line left"></div>
	    				</div>
	    				<div class="clear"></div>
	    				<div class="sjah_photographer_intru">
	    					<p>作品《街头时尚面膜女》获第二十五届国展优秀奖、第十一届“奈斯杯”中国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影大作品《街头时尚面膜女》获第二十五届国展优秀奖、第十一届“奈斯杯”中国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影大;国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影;国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影；国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影。</p>
	    				</div>
	    			</div>
	    			<div class="clear"></div>
	    		</div> 
	    		

	    		<div class="sjah_photographer_content_detail">
	   
	    			<div class="sjah_photographer_content_detail_lt left">
	    				<div class="sjah_photographer_content_detail_lt_box"><img src="client_ah/assets/images_ah/sjah_photographer_index_03.jpg"></div>
	    			</div>

	    			<div class="sjah_photographer_content_detail_rt right">
	    				<div class="sjah_photographer_name">
	    					<span class="left"><a href="" target="_blank">贺敬华</a></span>
	    					<div class="sjah_photographer_name_line right"></div>
	    				</div>
	    				<div class="clear"></div>
	    				<div class="sjah_photographer_intru">
	    					<p>作品《街头时尚面膜女》获第二十五届国展优秀奖、第十一届“奈斯杯”中国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影大作品《街头时尚面膜女》获第二十五届国展优秀奖、第十一届“奈斯杯”中国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影大;国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影;国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影；国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影。</p>
	    				</div>
	    			</div>
	    			
	    			<div class="clear"></div>
	    		</div> 
	    		

	    		<div class="sjah_photographer_content_detail">
	   
	    			<div class="sjah_photographer_content_detail_lt right">
	    				<div class="sjah_photographer_content_detail_lt_box"><img src="client_ah/assets/images_ah/sjah_photographer_index_03.jpg"></div>
	    			</div>
	    		 
	    			<div class="sjah_photographer_content_detail_rt left">
	    				<div class="sjah_photographer_name">
	    					<span class="right"><a href="" target="_blank">贺敬华</a></span>
	    					<div class="sjah_photographer_name_line left"></div>
	    				</div>
	    				<div class="clear"></div>
	    				<div class="sjah_photographer_intru">
	    					<p>作品《街头时尚面膜女》获第二十五届国展优秀奖、第十一届“奈斯杯”中国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影大作品《街头时尚面膜女》获第二十五届国展优秀奖、第十一届“奈斯杯”中国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影大;国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影;国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影；国摄影大赛网上摄影铜奖；《天鹅雪舞》获得中日友爱国际摄影。</p>
	    				</div>
	    			</div>
	    			
	    			<div class="clear"></div>
	    		</div> 
	    		
	    		-->
	    		
	    	</div>
	    </div>
	    
	    <div class="gailan_curpage_bottom clear">
                <div class="photo-record-page left">
                    <span>共找到</span>
                    <span class="color_red ng-binding">{{photographerList.photoList_total}}</span>
                    <span>条记录</span>
                </div>
                <div class="photo-now-page left">
                    <span>第 </span>
                    <span class="ng-binding">{{photographerList.pagination.current}}</span>
                    <span>/</span>
                    <span class="ng-binding">{{photographerList.totalPages}}</span>
                    <span>页</span>
                </div>
                <div class="photo-jump-page right">
					<dir-pagination-controls on-page-change="photographerList.pageChanged(newPageNumber)"
						template-url="client_ah/assets/libs/angular-dirPagination/dirPagination.tpl.html">
					</dir-pagination-controls>
                </div>
            </div>
</div>
<script id="_trs_ta_js" src="//ta.trs.cn/c/js/ta.js?mpid=1485" async="async" defer="defer"></script>