	<link rel="stylesheet" href="sjah_photographer_detail.css">
	<script type='text/javascript' src='jquery-1.8.3.min.js' ></script>
	<script type='text/javascript' src='notfound.js' ></script>
	<div class="wrapper">
	    <!-- 主体内容部分 -->
	    <div class="sjah_photographer_content">
	        <!-- 活动banner -->
	    	<div class="notfound_content"></div>
	    </div>
	</div>
	<script>
        onload=function(){
            setTimeout(go, 2000); 
        };  
        function go(){  
            location.href="http://vi.ahnews.com.cn/photo/index.html#/";   
        }  
	</script>