<div class="current-doctor-container">
    <!--header-->
    <div class="client-header-container clear">
        <div class="hd-container-box">
            <div class="hd-operate-box clear">
                <div class="hd-spec-center-box">
                    <div class="fll">
                        <a class="cursor change-hover-color client-login-btn">[登录]</a>
                        <a class="cursor change-hover-color client-register-btn">[注册]</a>
                    </div>
                    <div class="flr">
                        <span class="full-serch-txt client-login-btn">全文检索：</span>
                        <input type="text" class="full-text-search-input"/>
                        <button type="button" class="hd-go-btn">Go</button>
                        <a class="cursor change-hover-color client-register-btn hd-help-btn">[帮助]</a>
                        <a class="cursor change-hover-color client-login-btn">高级检索</a>
                    </div>
                </div>
            </div>
            <div class="hd-logo-box clear">
                <div class="hd-spec-pic-box">
                    <div class="doctor-hd-logo-left">
                        <a class="cursor">
                            <img src="client/assets/img/logo.gif" class="img-responsive " alt="Responsive image">
                        </a>
                    </div>
                    <div class="doctor-hd-logo-right">
                        <a class="cursor">
                            <img src="client/assets/img/current-doctor-pic.jpg" class="img-responsive " alt="Responsive image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--main-->
    <!--<div class="current-doctor-bd-con">-->
        <!--<div class="current-doctor-hd-bg">-->
        <!--</div>-->
        <!--<div class="current-doctor-main">-->
            <!--<div class="current-doctor-main-banner">-->

            <!--</div>-->
            <!--<div class="current-doctor-main-detail">-->
                  <!--<ul class="doctor-spec-subject-list">-->
                      <!--<li class="doctor-spec-subject-li current-doctor-color01">-->
                          <!--耳鼻咽喉-头颈外科学-->
                      <!--</li>-->
                      <!--<li class="doctor-spec-subject-li current-doctor-color02">-->
                          <!--眼科学-->
                      <!--</li>-->
                      <!--<li class="doctor-spec-subject-li current-doctor-color03">-->
                          <!--变态反应学-->
                      <!--</li>-->
                      <!--<li class="doctor-spec-subject-li current-doctor-color04">-->
                          <!--内科学-->
                      <!--</li>-->
                      <!--<li class="doctor-spec-subject-li current-doctor-color05">-->
                          <!--外科学-->
                      <!--</li>-->
                      <!--<li class="doctor-spec-subject-li current-doctor-color06">-->
                          <!--妇产科学-->
                      <!--</li>-->
                      <!--<li class="doctor-spec-subject-li current-doctor-color07">-->
                          <!--儿科学-->
                      <!--</li>-->
                      <!--<li class="doctor-spec-subject-li current-doctor-color08">-->
                          <!--小儿外科学-->
                      <!--</li>-->
                  <!--</ul>-->
                  <!--<ul class="doctor-spec-subject-list">-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color01">-->
                        <!--皮肤性病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color02">-->
                        <!--结核病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color03">-->
                        <!--器官移植学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color04">-->
                        <!--放射学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color05">-->
                        <!--脑心血管外科学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color06">-->
                        <!--航空航天医学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color07">-->
                        <!--核医学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color08">-->
                        <!--肿瘤学-->
                    <!--</li>-->
                <!--</ul>-->
                  <!--<ul class="doctor-spec-subject-list">-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color01">-->
                        <!--心血管病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color02">-->
                        <!--糖尿病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color03">-->
                        <!--骨科学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color04">-->
                        <!--肝病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color05">-->
                        <!--呼吸病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color06">-->
                        <!--神经外科学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color07">-->
                        <!--消化病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color08">-->
                        <!--烧伤外科学-->
                    <!--</li>-->
                <!--</ul>-->
                  <!--<ul class="doctor-spec-subject-list">-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color01">-->
                        <!--内分泌学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color02">-->
                        <!--口腔医学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color03">-->
                        <!--肾脏病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color04">-->
                        <!--感染病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color05">-->
                        <!--老年病学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color06">-->
                        <!--泌尿外科学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color07">-->
                        <!--急诊医学-->
                    <!--</li>-->
                    <!--<li class="doctor-spec-subject-li current-doctor-color08">-->
                        <!--医学美学与美容学-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--footer-->
    <div class="current-doctor-footer">
        <!--footer-->
        <div class="client-footer-link  current-doctor-footer-con clear">
            <div class="clear">
                <div class="fri-link-hd fll clear">
                    <img src="client/assets/img/footer-icon.gif" class="fll"/>
                    <h5 class="footer-friendly-link color-black fll">友情链接</h5>
                </div>
                <div class="fri-link-bd fll">
                    <a class="hd-nav-link">博鳌亚洲论坛</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">中新网</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">中国新闻周刊</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">西藏图片库</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">人民摄影</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">中国女摄影家协会</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">中国国家地理网</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">环球网图片</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">河图网</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">红网图片频道</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">国家摄影网</a>
                    <a class="hd-nav-link">中国旅游图片网</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">中国娱乐网</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">共铸中国心</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">中国西藏网图片频道</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">全摄影网</a>
                    <span class="foot-part-line">|</span>
                    <a class="hd-nav-link">That's Books on China</a>
                </div>
            </div>
            <div class="tac mt10">
                <a class="hd-nav-link">关于我们</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">版权声明</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">我要投稿</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">定购下载</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">用户撷英</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">摄影书籍</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">招聘信息</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">联系我们</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">帮助中心</a>
                <span class="foot-part-line">|</span>
                <a class="hd-nav-link">全站链接</a>
            </div>
        </div>
        <div class="footer-txt-desc">
            <p>
                图片网站地址：北京西城区百万庄南街12号&nbsp;&nbsp;
                中国新闻社图片网络中心
            </p>
            <p>
                本网站所刊图文版权为中国新闻社所有&nbsp;&nbsp;
                未经协议授权&nbsp;&nbsp;
                禁止下载使用
            </p>
            <p>
                稿件邮箱：photocns@chinanews.com.cn&nbsp;&nbsp;
                销售邮箱：cnssale@chinanews.com.cn
            </p>
            <p>
                值班编辑热线：010-68328095&nbsp;&nbsp;
                传真：010-88311332
            </p>
            <p>
                销售热线：010-68320767、010-68345106
            </p>
            <p>
                [京ICP备12003858号]
            </p>
        </div>
    </div>
</div>