
    <!-- 主体部分 -->
    <div class="newsPic_content">

      
		<!--航拍视频-->
        <div class="newsPic_content_bottom" ng-init="videoVR.getClientGroups(3098,3,0,2)">
            <div class="newsPic_politics_title">
                <div class="newsPic_politics_title_box">
                    航拍视频
                    <span><a ui-sref="root.moreSortList({sginId: 3098})">更多</a></span>
                </div>
            </div>
            <div class="newsPic_business" ng-repeat="item in videoVR.aerialVideo track by $index" style="text-align:center">
                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
					<img ng-src="{{item.filePath}}" alt="" width="370" height="233">
				</a>
                <p class="newsPic_business_p1 split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
            </div>
        </div>
        <div class="clear"></div>
		<!--微视频库-->
        <div class="newsPic_content_bottom" ng-init="videoVR.getClientGroups(3099,3,0,2)">
            <div class="newsPic_politics_title">
                <div class="newsPic_politics_title_box">
                    微视频库
                    <span><a ui-sref="root.moreSortList({sginId: 3099})">更多</a></span>
                </div>
            </div>
            <div class="newsPic_business" ng-repeat="item in videoVR.microVideo track by $index" style="text-align:center">
                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
					<img ng-src="{{item.filePath}}" alt="" width="370" height="233">
				</a>
                <p class="newsPic_business_p1 split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
            </div>
            
        </div>
        <div class="clear"></div>
		<!--VR-->
        <div class="newsPic_content_bottom" ng-init="videoVR.getClientGroups(3100,3,0,2)">
            <div class="newsPic_politics_title">
                <div class="newsPic_politics_title_box">
                    VR
                    <span><a ui-sref="root.moreSortList({sginId: 3100})">更多</a></span>
                </div>
            </div>
            <div class="newsPic_business" ng-repeat="item in videoVR.VR track by $index" style="text-align:center">
                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
					<img ng-src="{{item.filePath}}" alt="" width="370" height="233">
				</a>
                <p class="newsPic_business_p1 split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
            </div>
            
        </div>
        <div class="clear"></div>

    </div>
	<script id="_trs_ta_js" src="//ta.trs.cn/c/js/ta.js?mpid=1485" async="async" defer="defer"></script>