<div class="gailan_content">
        <div class="gailan_title">
            <div class="title_box">
                <span ng-if="moreSortList.pColumnName">
                	当前位置：<a href="/photo/index.html">首页</a> >  <a href="">{{moreSortList.pColumnName}}</a>>  <a href="">{{moreSortList.columnName}}</a>
                </span>
                <span ng-if="!moreSortList.pColumnName">
                	当前位置：<a href="/photo/index.html">首页</a> >  <a href="">{{moreSortList.columnName}}</a>
                </span>
                
                <!--<div class="gailan_curpage">
                    <span><a href=""><</a></span>
                    <ul style="display: inline-block;">
                        <li class="gailan_hover"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li>...</li>
                        <li><a href="">10</a></li>
                        <li><a href="">11</a></li>
                    </ul>
                    <span><a href="" class="gailan_plus">></a></span>
                    共11页
                </div>-->
            </div>
            <div class="clear"></div>
        </div>
        <div class="gailan_mainPic">
                <ul>
                    <li dir-paginate="item in moreSortList.getMoreGroupsList | itemsPerPage: moreSortList.itemsPerPage"
                     total-items="moreSortList.moreSortList_total"
                     current-page="moreSortList.pagination.current">
                        <a ui-sref="root.newDetailList({groupId: item.ID,sginId:item.CATEGORY_ID})" target="_blank">
							<img ng-src="{{item.filePath}}"></a><!--width:285px;max-height:179px-->
                        <p><a title="{{item.TITLE}}（{{item.PICTURE_COUNT}}张）" ui-sref="root.newDetailList({groupId: item.ID,sginId:item.CATEGORY_ID})" target="_blank">{{item.TITLE}}（{{item.PICTURE_COUNT}}张）</a></p>
                    </li>
                </ul>
        </div>

        <div class="gailan_curpage_bottom clear">
                <div class="photo-record-page left">
                    <span>共找到</span>
                    <span class="color_red ng-binding">{{moreSortList.moreSortList_total}}</span>
                    <span>条记录</span>
                </div>
                <div class="photo-now-page left">
                    <span>第 </span>
                    <span class="ng-binding">{{moreSortList.pagination.current}}</span>
                    <span>/</span>
                    <span class="ng-binding">{{moreSortList.totalPages}}</span>
                    <span>页</span>
                </div>
                <div class="photo-jump-page right">
					<dir-pagination-controls on-page-change="moreSortList.pageChanged(newPageNumber)"
						template-url="client_ah/assets/libs/angular-dirPagination/dirPagination.tpl.html">
					</dir-pagination-controls>
                </div>
            </div>
    </div>
	<script id="_trs_ta_js" src="//ta.trs.cn/c/js/ta.js?mpid=1485" async="async" defer="defer"></script>