<div class="need_channel">
    <div class="needChannel-cont">
        <div class="myInfo-detail-download-retrieval">
                    <span>
                        订单号：
                        <input type="text" ng-model="myOrder.search.orderNum" ng-keydown="myOrder.enterSearch($event)"/>
                    </span>
                    <span>
                        图片数：
                        <input type="text" ng-model="myOrder.search.picCount"  ng-keydown="myOrder.enterSearch($event)"/>
                    </span>
                    <span>
                        创建时间：
                        <input id="picAllStartId" type="text"
                               onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'});"
                               ng-model="myOrder.search.createStartTime"
                               datepicker/>
                        &nbsp;至&nbsp;&nbsp;<input id="picAllEndId" type="text"
                                onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'});"
                                ng-model="myOrder.search.createEndTime"
                                datepicker/>
                    </span>
                    <span class="ml5">
                        订单状态：
                        <select  ng-model="myOrder.search.orderStatus" ng-change="myOrder.changeOrderStatus()">
                            <option value="">请选择</option>
                            <option value="0">待付款</option>
                            <option value="1">取消付款</option>
                            <option value="2">已付款</option>
                        </select>
                    </span>
        </div>
        <div class="mb10 oH">
            <a class="flr color-0000ff cursor" ng-click="myOrder.lookAllDownPic()">[查看所有已下载图片]</a>
            <span class="flr">
                        <button class="mr15" ng-click="myOrder.searchMyOrder()">
                            <img src="client/assets/img/myInfo/search.png" width="16"/>检索
                        </button>
            </span>
        </div>
        <div>
            <table>
                <tr>
                    <th width="15%">订单号</th>
                    <th width="10%">用户</th>
                    <th width="15%">订购时间</th>
                    <th width="15%">结算时间</th>
                    <th width="5%">图片数</th>
                    <th width="8%">订单状态</th>
                    <th width="32%"></th>
                </tr>
                <tr dir-paginate="item in myOrder.myOrderList | itemsPerPage: myOrder.itemsPerPage"
                    total-items="myOrder.myOrder_total"
                    current-page="myOrder.pagination.current">
                    <td>{{item.orderNo}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        <span ng-if="item.payTime">{{item.payTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        <span ng-if="!item.payTime">------</span>
                    </td>
                    <td>{{item.picCount}}</td>
                    <td>{{item.orderStatus | orderStatusFilter}}</td>
                    <td>
                        <a class="cursor color-0000ff" ui-sref="root.lookPics({orderId: item.id})" target="_blank">[查看图片]</a>
                        <a  class="cursor ml10 mr10 color-0000ff" ng-click="myOrder.settleCounts(item.id)" ng-if="item.orderStatus != 2">
                            [去结算]
                        </a>
                        <a  class="cursor ml10 mr10 color-gray"  ng-if="item.orderStatus == 2">
                            [去结算]
                        </a>
                        <a  class="cursor color-0000ff" ng-click="myOrder.delOrder(item.orderNo,item.id)">[删除]</a>
                    </td>
                </tr>
            </table>
        </div>
        <!--photolist paging-->
        <div class="hd-photo-paging mt10 clear">
            <div class="photo-record-page fll">
                <span>共找到</span>
                <span class="color_red">{{myOrder.myOrder_total}}</span>
                <span>条记录</span>
            </div>
            <div class="photo-now-page fll">
                <span>第 </span>
                <span>{{myOrder.pagination.current}}</span>
                <span>/</span>
                <span>{{myOrder.myOrderPages}}</span>
                <span>页</span>
            </div>
            <!--分页-->
            <div class="photo-jump-page flr">
                <dir-pagination-controls on-page-change="myOrder.pageChanged(newPageNumber)"
                                         template-url="client/assets/libs/angular-dirPagination/dirPagination.tpl.html">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
<!-- 结算模态框 -->
<div class="modal fade" id="settle-counts-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog w100p">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    提示
                </h4>
            </div>
            <div class="modal-body">
                <p class="choose-down-way">
                    请选择下载方式进行结算：
                </p>
                <p class="tac">
                    <!--<a class="cursor" ng-click="myOrder.sureDownPic(item.id,0)">图片下载结算</a>-->
                    <a class="cursor ml15" ng-click="myOrder.sureDownPic(item.id,1)">图文下载结算</a>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>