<div class="month-draft-container">
   <div class="month-draft-pic-box">
        <img src="client/assets/img/month-draft-bg.jpg" class="month-draft-pic"/>
   </div>
    <div class="month-draft-con">
        <div class="month-draft-item-titi">
            2014年4月好稿
        </div>
        <div class="month-draft-relate-piclist clear mt20">
            <div class="mdraft-pic-left">
                <a>
                    <img src="client/assets/img/daily-draft-pic1.jpg" class="month-draft-item-img"/>
                </a>
                <p class="mdraft-item-txt">
                    2014年中国汽车产销量将达2400万辆
                </p>
            </div>
            <div class="mdraft-pic-middle">
                <div class="mdraft-spec-item">
                    <a>
                        <img src="client/assets/img/month-draft-pic2.jpg" class="month-draft-spec-img"/>
                    </a>
                    <p class="mdraft-item-txt">
                        浙江绍兴最后的棚户区（20张）
                    </p>
                </div>
                <div class="mdraft-spec-item spec-draftpic-mtop">
                    <a>
                        <img src="client/assets/img/month-draft-pic4.jpg" class="month-draft-spec-img"/>
                    </a>
                    <p class="mdraft-item-txt">
                        浙江绍兴最后的棚户区（20张）
                    </p>
                </div>
            </div>
            <div class="mdraft-pic-right">
                <a>
                    <img src="client/assets/img/month-draft-pic3.jpg" class="month-draft-item-img"/>
                </a>
                <p class="mdraft-item-txt">
                    2014年中国汽车产销量将达2400万辆
                </p>
            </div>
        </div>
        <div class="draft-tpic-list mt20">
            <ul class="daily-rec-list-item clear">
                <li class="photo-list-li month-draft-li">
                    <img src="client/assets/img/pic-1.jpg" class="img-responsive">
                    <p class="mt15">南方强降水造成7省份受灾 已致16人死亡（2张）</p>
                </li>
                <li class="photo-list-li month-draft-li">
                    <img src="client/assets/img/pic-2.jpg" class="img-responsive">
                    <p class="mt15">南方强降水造成7省份受灾 已致16人死亡（2张）</p>
                </li>
                <li class="photo-list-li month-draft-li">
                    <img src="client/assets/img/pic-3.jpg" class="img-responsive">
                    <p class="mt15">南方强降水造成7省份受灾 已致16人死亡（2张）</p>
                </li>
                <li class="photo-list-li month-draft-li">
                    <img src="client/assets/img/pic-4.jpg" class="img-responsive">
                    <p class="mt15">南方强降水造成7省份受灾 已致16人死亡（2张）</p>
                </li>
                <li class="photo-list-li month-draft-li" style="margin:0;">
                    <img src="client/assets/img/pic-5.jpg" class="img-responsive">
                    <p class="mt15">南方强降水造成7省份受灾 已致16人死亡（2张）</p>
                </li>
            </ul>
        </div>
        <div class="month-other-draft-item-titi mt20">
            其它月度好稿专题
        </div>
        <div class="other-month-draft-con mt15">
            <a class="change-hover-color mr10">2014年4月好稿 </a>
            <a class="change-hover-color mr10">2014年3月度好稿 </a>
            <a class="change-hover-color mr10">1111111111 </a>
        </div>
    </div>
</div>