<div class="forget-password-container">
    <div class="forget-password-head">
        <span>找回登录密码</span>
    </div>
    <div class="forget-password-flowCharOne">
        <span class="forget-password-centerLeft">1 确认账号</span>
        <span class="forget-password-centerOne">2 验证身份</span>
        <span class="forget-password-centerTwo">3 设置密码信息</span>
        <span class="forget-password-centerRight">4 重置成功</span>
    </div>

    <div class="forget-password-content">
        <div>
            <span>账户名：</span>
            <span><input type="text" ng-model="forgetPassword.userName" class="forget-password-inputText" placeholder="用户名/手机/邮箱"></span>
        </div>
        <div class="forget-password-conTop">
            <span>验证码：</span>
            <span><input type="text" ng-model="forgetPassword.vilidate" class="forget-password-inputText"></span>
            <span>
                <img src="/photo/yanzheng.do"
                        onclick="javascript:this.src='/photo/yanzheng.do?tm='+Math.random()"
                        id="vCodeId"/>看不清？
                            <a class="cursor change-hover-color" href="javascript:void(0);"
                               onclick="document.getElementById('vCodeId').src='/photo/yanzheng.do?tm='+Math.random()">
                                换一张</a>
            </span>
        </div>
        <div class="forget-password-conTopTwo">
            <span>
                <input type="button" value="提交" class="forget-password-inputBtn" ng-click="forgetPassword.submitData()">
            </span>
        </div>
    </div>


</div>
