<div class="forget-password-container">
    <div class="forget-password-head">
        <span>找回登录密码</span>
    </div>
    <div class="forget-passwordOne-flowCharTwo">
        <span class="forget-password-centerLeft">1 确认账号</span>
        <span class="forget-password-centerOne">2 验证身份</span>
        <span class="forget-password-centerTwo">3 设置密码信息</span>
        <span class="forget-password-centerRight">4 重置成功</span>
    </div>

    <div class="forget-passwordOne-content">
        <div class="forget-passwordOne-leftContent fll">
            <div>
                <div class="tar mt5">新登录密码：</div>
                <div class="forget-password-conTop tar">确认登录密码：</div>
            </div>
        </div>
        <div class="forget-passwordOne-RightContent flr">
            <div class="forget-passwordOne-RightWidth mt2 tal">
                <span><input type="password" ng-model="forgetPasswordStepTwo.password" class="forget-password-inputText"></span>
            </div>
            <div class="forget-passwordOne-RightWidth mt5 tal">
                <span><input type="password" ng-model="forgetPasswordStepTwo.confirmPwd" class="forget-password-inputText"></span>
            </div>
            <div class="forget-passwordOne-RightWidth mt12 tal">
                <input type="button" value="提交" class="forget-password-inputBtn" ng-click="forgetPasswordStepTwo.submitData()">
            </div>
        </div>
    </div>


</div>
