<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deepai.photo.mapper.CpRightMapper" >
  <resultMap id="BaseResultMap" type="com.deepai.photo.bean.CpRight" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TYPE" property="type" jdbcType="TINYINT" />
    <result column="RIGHT_NAME" property="rightName" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="TARGET_VALUE" property="targetValue" jdbcType="VARCHAR" />
    <result column="P_ID" property="pId" jdbcType="INTEGER" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="TINYINT" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STANDBY1" property="standby1" jdbcType="INTEGER" />
    <result column="STANDBY2" property="standby2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TYPE, RIGHT_NAME, MEMO, TARGET_VALUE, P_ID, DELETE_FLAG, UPDATE_USER, UPDATE_TIME, 
    STANDBY1, STANDBY2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.deepai.photo.bean.CpRightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cp_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cp_right
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByRightName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cp_right
    where RIGHT_NAME = #{rightName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cp_right
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.deepai.photo.bean.CpRightExample" >
    delete from cp_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deepai.photo.bean.CpRight" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cp_right (TYPE, RIGHT_NAME, MEMO, 
      TARGET_VALUE, P_ID, DELETE_FLAG, 
      UPDATE_USER, UPDATE_TIME, STANDBY1, 
      STANDBY2)
    values (#{type,jdbcType=TINYINT}, #{rightName,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{targetValue,jdbcType=VARCHAR}, #{pId,jdbcType=INTEGER}, #{deleteFlag,jdbcType=TINYINT}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{standby1,jdbcType=INTEGER}, 
      #{standby2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.deepai.photo.bean.CpRight" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cp_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        TYPE,
      </if>
      <if test="rightName != null" >
        RIGHT_NAME,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="targetValue != null" >
        TARGET_VALUE,
      </if>
      <if test="pId != null" >
        P_ID,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="standby1 != null" >
        STANDBY1,
      </if>
      <if test="standby2 != null" >
        STANDBY2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="rightName != null" >
        #{rightName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="targetValue != null" >
        #{targetValue,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="standby1 != null" >
        #{standby1,jdbcType=INTEGER},
      </if>
      <if test="standby2 != null" >
        #{standby2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deepai.photo.bean.CpRightExample" resultType="java.lang.Integer" >
    select count(*) from cp_right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cp_right
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.rightName != null" >
        RIGHT_NAME = #{record.rightName,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.targetValue != null" >
        TARGET_VALUE = #{record.targetValue,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null" >
        P_ID = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.deleteFlag != null" >
        DELETE_FLAG = #{record.deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="record.updateUser != null" >
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.standby1 != null" >
        STANDBY1 = #{record.standby1,jdbcType=INTEGER},
      </if>
      <if test="record.standby2 != null" >
        STANDBY2 = #{record.standby2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cp_right
    set ID = #{record.id,jdbcType=INTEGER},
      TYPE = #{record.type,jdbcType=TINYINT},
      RIGHT_NAME = #{record.rightName,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      TARGET_VALUE = #{record.targetValue,jdbcType=VARCHAR},
      P_ID = #{record.pId,jdbcType=INTEGER},
      DELETE_FLAG = #{record.deleteFlag,jdbcType=TINYINT},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      STANDBY1 = #{record.standby1,jdbcType=INTEGER},
      STANDBY2 = #{record.standby2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deepai.photo.bean.CpRight" >
    update cp_right
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=TINYINT},
      </if>
      <if test="rightName != null" >
        RIGHT_NAME = #{rightName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="targetValue != null" >
        TARGET_VALUE = #{targetValue,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        P_ID = #{pId,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="standby1 != null" >
        STANDBY1 = #{standby1,jdbcType=INTEGER},
      </if>
      <if test="standby2 != null" >
        STANDBY2 = #{standby2,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deepai.photo.bean.CpRight" >
    update cp_right
    set TYPE = #{type,jdbcType=TINYINT},
      RIGHT_NAME = #{rightName,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      TARGET_VALUE = #{targetValue,jdbcType=VARCHAR},
      P_ID = #{pId,jdbcType=INTEGER},
      DELETE_FLAG = #{deleteFlag,jdbcType=TINYINT},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      STANDBY1 = #{standby1,jdbcType=INTEGER},
      STANDBY2 = #{standby2,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>