<!--content-->
<div id='navigation_box' class="container clearfloat">
    <!--选项卡导航-->
    <div  id='navigation'>
        <div class='nav_title'><span>FEATURE</span></div>
        <ul id='nav_ul'>
            <li>Politics</li>
            <li>Society</li>
            <li>Defense And Diplomacy</li>
            <li>Environment</li>
            <li>Americas</li>
            <li>Middle East</li>
        </ul>
    </div>
    <!--栏目总内容-->    
    <div class='nav_cont_content nav_cont_d'>

        <div class='nav_cont_top clearfloat'>
            <a ui-sref="root.feature_photos" target="_blank"><img src='./client_en/assets/images/zutu1-yuan/20170331103249290zc.jpg'></a>
            <div class='nav_cont_top_w'><p class='nav_cont_top_wo'>Lin Zhengyuee and some of them in Hong Kong</p></div>
        </div>

        <!--politics -->
        <div class='politics clearfloat'>
           <h1 class='h1'>POLTTICS</h1>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170411103264321ta.jpg'>
                   <p class="politics_cont_words">Lin Zhengyuee and some of them in Hong Kong</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170416103270900ta.jpg'>
                   <p class="politics_cont_words">The United States "tax day," Washington spy trump parade</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278630ta.jpg'>
                    <p class="politics_cont_words">77 years after the Sichuan Taiwan war veterans home crying parents grave</p>
                 </a>
              </div>
    </div>
        <div class='politics clearfloat'>
           <h1 class='h1'>POLTTICS_TWO</h1>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278819ta.jpg'>
                    <p class="politics_cont_words">Day boat one cargo ship launched a complete success</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170423103284339c.jpg'>
                   <p class="politics_cont_words">Naval voyage</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170424103284872ta.jpg'>
                    <p class="politics_cont_words"></p>
                  </a>
              </div>
        </div>
    <div class='politics clearfloat'>
           <h1 class='h1'>POLTTICS_THREE</h1>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278819ta.jpg'>
                    <p class="politics_cont_words">Day boat one cargo ship launched a complete success</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170423103284339c.jpg'>
                   <p class="politics_cont_words">Naval voyage</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170424103284872ta.jpg'>
                    <p class="politics_cont_words"></p>
                  </a>
              </div>
        </div>
    <div class='politics clearfloat'>
           <h1 class='h1'>POLTTICS_FOUR</h1>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278819ta.jpg'>
                    <p class="politics_cont_words">Day boat one cargo ship launched a complete success</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170423103284339c.jpg'>
                   <p class="politics_cont_words">Naval voyage</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170424103284872ta.jpg'>
                    <p class="politics_cont_words"></p>
                  </a>
              </div>
        </div>

        <div class='politics clearfloat'>
           <h1 class='h1'>POLTTICS_FOUR</h1>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278819ta.jpg'>
                    <p class="politics_cont_words">Day boat one cargo ship launched a complete success</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170423103284339c.jpg'>
                   <p class="politics_cont_words">Naval voyage</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170424103284872ta.jpg'>
                    <p class="politics_cont_words"></p>
                  </a>
              </div>
        </div>

        <div class='politics clearfloat'>
           <h1 class='h1'>POLTTICS_FOUR</h1>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278819ta.jpg'>
                    <p class="politics_cont_words">Day boat one cargo ship launched a complete success</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170423103284339c.jpg'>
                   <p class="politics_cont_words">Naval voyage</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170424103284872ta.jpg'>
                    <p class="politics_cont_words"></p>
                  </a>
              </div>
        </div>

    </div>
    <!--子栏目内容-->
    <!--1-->
    <div class='nav_cont_content nav_cont_d'>

        <div class='nav_cont_top clearfloat'>
            <a ui-sref="root.feature_photos" target="_blank"><img src='./client_en/assets/images/zutu1-yuan/20170331103249290zc.jpg'></a>
            <div class='nav_cont_top_w'><p class='nav_cont_top_wo'>Lin Zhengyuee and some of them in Hong Kong</p></div>
        </div>

        <!--politics -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170411103264321ta.jpg'>
                   <p class="politics_cont_words">Lin Zhengyuee and some of them in Hong Kong</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170416103270900ta.jpg'>
                   <p class="politics_cont_words">The United States "tax day," Washington spy trump parade</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278630ta.jpg'>
                    <p class="politics_cont_words">77 years after the Sichuan Taiwan war veterans home crying parents grave</p>
                 </a>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278819ta.jpg'>
                    <p class="politics_cont_words">Day boat one cargo ship launched a complete success</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170423103284339c.jpg'>
                   <p class="politics_cont_words">Naval voyage</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170424103284872ta.jpg'>
                    <p class="politics_cont_words"></p>
                  </a>
              </div>
        </div>
		<div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278819ta.jpg'>
                    <p class="politics_cont_words">Day boat one cargo ship launched a complete success</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170423103284339c.jpg'>
                   <p class="politics_cont_words">Naval voyage</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170424103284872ta.jpg'>
                    <p class="politics_cont_words"></p>
                  </a>
              </div>
        </div>
		<div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170420103278819ta.jpg'>
                    <p class="politics_cont_words">Day boat one cargo ship launched a complete success</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <a class='politics_cont_pic3_a'href='#'>
                   <img src='./client_en/assets/images/politics/20170423103284339c.jpg'>
                   <p class="politics_cont_words">Naval voyage</p>
                </a>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <a class='politics_cont_pic3_a'href='#'>
                    <img src='./client_en/assets/images/politics/20170424103284872ta.jpg'>
                    <p class="politics_cont_words"></p>
                  </a>
              </div>
        </div>

    </div>
    <!--2-->
    <div class='nav_cont_content nav_cont_d'>

        <div class='nav_cont_top clearfloat'>
            <img src='./client_en/assets/images/zutu1-yuan/20170420103278330c.jpg'>
            <div class='nav_cont_top_w'><p class='nav_cont_top_wo'>April 20th, India national treasure movie star Amir Khan came to Sichuan, Chengdu, open the water asked to experience the Chinese cultural experience of the trip.</p></div>
        </div>

        <!--society -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/social/20170420103278330c.jpg'>
                <p class="politics_cont_words">Indian superstar Aamir Khan’s journey in China</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/social/20170418103274243ta.jpg'>
                <p class="politics_cont_words">Chongqing is a huge area on the ground floor of the keyboard"</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/social/20170418103274512ta.jpg'>
                <p class="politics_cont_words">Visit China's first air bike lane</p>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/social/20170418103274895ta.jpg'>
                <p class="politics_cont_words">Qinghai Yushu: the Tongtian River Village staged "Zanba wars" spring ploughing (Pei Wen)</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/social/20170316103225982ta.jpg'>
                <p class="politics_cont_words">Welcome to the agricultural ceremony in Tibet</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/social/20170420103278489ta.jpg'>
                <p class="politics_cont_words">The 88 meter high "Miao yangasha" statue to be built</p>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/social/20170420103278774a.jpg'>
                <p class="politics_cont_words">Shanxi start scholarly floating family parent-child reading activities to meet the world reading day</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/social/20170421103279907ta.jpg'>
                <p class="politics_cont_words">Changchun college students with nearly 300 thousand caps to fight a huge map of the world</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/social/20170421103280067c.jpg'>
                <p class="politics_cont_words">Qingdao Music Square is now 3D painting air overlooking more shocking</p>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/social/20170423103284061a.jpg'>
                <p class="politics_cont_words">Zhengzhou, a university cafeteria is birdcage private rooms</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/social/20170423103284130a.jpg'>
                <p class="politics_cont_words">Fujian, Nanjing: Mazu crosses the sea</p>
              </div>
        </div>      
    </div>
    <!--3-->
    <div class='nav_cont_content nav_cont_d'>

        <div class='nav_cont_top clearfloat'>
            <img src='./client_en/assets/images/details/pic1.jpg'>
            <div class='nav_cont_top_w'><p class='nav_cont_top_wo'>Melinda Quispe walks on the trash strewn shore of Lake Titicaca, as she holds her dog, in her village Kapi Cruz Grande, in the Puno region of Peru. (AP Photo/Rodrigo Abd) License this photo </p></div>
        </div>

        <!--politics -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
        </div>

        <!--society -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
		</div> 
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
        </div>      
    </div>
    <!--4-->
    <div class='nav_cont_content nav_cont_d'>

        <div class='nav_cont_top clearfloat'>
            <img src='./client_en/assets/images/zutu1-yuan/20170315103224634a.jpg'>
            <div class='nav_cont_top_w'><p class='nav_cont_top_wo'>March 15, 2017, Jiangsu, Xinghua, thousands of cauliflower cauliflower cauliflower.</p></div>
        </div>

        <!--Environment -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/environment/20170307103213650za.jpg'>
                <p class="politics_cont_words">White swans rest in ancient city</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/environment/20170308103214030a.jpg'>
                <p class="politics_cont_words">Xinjiang Erqis spring is the rime scenery</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/environment/20170315103224634a.jpg'>
                 <p class="politics_cont_words">A beautiful picture of cauliflower</p>
              </div>
		</div>    
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/environment/20170316103225286c.jpg'>
                <p class="politics_cont_words">Guangxi Longji terrace</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/environment/20170316103225318ta.jpg'>
                <p class="politics_cont_words">Aerial view of the beautiful new countryside</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/environment/20170319103230512ta.jpg'>
                 <p class="politics_cont_words">Kunming zoo, thousands of people chorus birthday song for Asian elephant birthday</p>
              </div>
		</div>    
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/environment/20170414103268558zc.jpg'>
                <p class="politics_cont_words">Equus kiangs of Qinghai-Tibetan Plateau</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/environment/20170415103270731zc.jpg'>
                <p class="politics_cont_words">Charming West Lake in Spring</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/environment/20170418103273860c.jpg'>
                 <p class="politics_cont_words">Aerial view of the moon Shanbaili terrace scenery</p>
              </div>
		</div>    
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/environment/20170419103276347ta.jpg'>
                <p class="politics_cont_words">The Shenyang Tiger Park 6 little tiger adorable cute</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/environment/20170420103278496ta.jpg'>
                <p class="politics_cont_words">Guangxi Longsheng: see Guyu tea</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/environment/20170423103284430a.jpg'>
                 <p class="politics_cont_words">Xin'An River beauty</p>
              </div>
        </div>      
    </div>
    <!--5-->
    <div class='nav_cont_content nav_cont_d'>

        <div class='nav_cont_top clearfloat'>
            <img src='./client_en/assets/images/details/pic1.jpg'>
            <div class='nav_cont_top_w'><p class='nav_cont_top_wo'>Melinda Quispe walks on the trash strewn shore of Lake Titicaca, as she holds her dog, in her village Kapi Cruz Grande, in the Puno region of Peru. (AP Photo/Rodrigo Abd) License this photo </p></div>
        </div>

        <!--politics -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
        </div>

        <!--society -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
        </div>      
    </div>
    <!--6-->
    <div class='nav_cont_content nav_cont_d'>

        <div class='nav_cont_top clearfloat'>
            <img src='./client_en/assets/images/details/pic1.jpg'>
            <div class='nav_cont_top_w'><p class='nav_cont_top_wo'>Melinda Quispe walks on the trash strewn shore of Lake Titicaca, as she holds her dog, in her village Kapi Cruz Grande, in the Puno region of Peru. (AP Photo/Rodrigo Abd) License this photo </p></div>
        </div>

        <!--politics -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
        </div>

        <!--society -->
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
		</div>
        <div class='politics clearfloat'>
              <div class='politics_cont_pic3'>
                <img src='./client_en/assets/images/l1.png'>
                <p class="politics_cont_words">Aerial view of cole flowers in terraced fields in east China's Zhejiang</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                <img src='./client_en/assets/images/l2.png'>
                <p class="politics_cont_words">Demi-Leigh Nel-Peters crowned Miss South Africa 2017</p>
              </div>
              <div class='politics_cont_pic3 politics_cont_l_pic3'>
                 <img src='./client_en/assets/images/l3.png'>
                 <p class="politics_cont_words">Cherry trees in full blossom attract numerous tourists in SW China city</p>
              </div>
        </div>      
    </div>
</div>

