<div class="acade-pic-container">
    <div class="acade-topic-banner clear">
        <div class="acade-banner fll">
                <div class="ad-banner-flexslider">
                    <div class="flexslider ad-flex-banner">
                        <ul class="slides">
                            <li class="ad-banner-pic">
                                <img src="client/assets/img/pic-1.jpg" class="ad-banner-pic-style"/>
                                <p class="flex-caption">1Adventurer Cheesecake Brownie</p>
                            </li>
                            <li class="ad-banner-pic">
                                <img src="client/assets/img/pic-2.jpg" class="ad-banner-pic-style"/>
                                <p class="flex-caption">2Adventurer Cheesecake Brownie</p>
                            </li>
                            <li class="ad-banner-pic">
                                <img src="client/assets/img/pic-3.jpg" class="ad-banner-pic-style"/>
                                <p class="flex-caption">3Adventurer Cheesecake Brownie</p>
                            </li>
                            <li class="ad-banner-pic">
                                <img src="client/assets/img/pic-4.jpg" class="ad-banner-pic-style"/>
                                <p class="flex-caption">4Adventurer Cheesecake Brownie</p>
                            </li>
                            <li class="ad-banner-pic">
                                <img src="client/assets/img/pic-5.jpg" class="ad-banner-pic-style"/>
                                <p class="flex-caption">5Adventurer Cheesecake Brownie</p>
                            </li>
                        </ul>
                    </div>
               </div>
        </div>
        <div class="rec-bd-con hot-topic-con fll">
            <div class="acade-topic-item mt10 clear">
                <div class="rec-topic-tit acade-topic-tit">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <span class="cursor change-hover-color"> 热点专题 >>></span>
                </div>
                <div class="acade-person-con clear">
                    <div class="acade-pic-li  hot-spec-li fll">
                        <img src="client/assets/img/pic-21.jpg">
                        <p class="hot-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                    </div>
                    <div class="acade-pic-li hot-spec-li fll">
                        <img src="client/assets/img/pic-21.jpg">
                        <p class="hot-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--科学院院士-->
    <div class="rec-bd-con">
        <div class="acade-topic-item mt10 clear">
            <div class="rec-topic-tit acade-topic-tit">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <span class="cursor change-hover-color">中国科学院院士</span>
            </div>
            <div class="acade-person-con clear">
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--中国工程院院士-->
    <div class="rec-bd-con">
        <div class="acade-topic-item mt10 clear">
            <div class="rec-topic-tit acade-topic-tit">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <span class="cursor change-hover-color">中国工程院院士</span>
            </div>
            <div class="acade-person-con clear">
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--两院双院士-->
    <div class="rec-bd-con">
        <div class="acade-topic-item mt10 clear">
            <div class="rec-topic-tit acade-topic-tit">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <span class="cursor change-hover-color">两院双院士</span>
            </div>
            <div class="acade-person-con clear">
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--国家重点实验室-->
    <div class="rec-bd-con">
        <div class="acade-topic-item mt10 clear">
            <div class="rec-topic-tit acade-topic-tit">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <span class="cursor change-hover-color">国家重点实验室</span>
            </div>
            <div class="acade-person-con clear">
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--国内外科技成果展-->
    <div class="rec-bd-con">
        <div class="acade-topic-item mt10 clear">
            <div class="rec-topic-tit acade-topic-tit">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <span class="cursor change-hover-color">国内外科技成果展</span>
            </div>
            <div class="acade-person-con clear">
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--科普图片-->
    <div class="rec-bd-con">
        <div class="acade-topic-item mt10 clear">
            <div class="rec-topic-tit acade-topic-tit">
                <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                <span class="cursor change-hover-color">科普图片</span>
            </div>
            <div class="acade-person-con clear">
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acade-pic-li fll">
                    <div class="rec-topic-details">
                        <div class="rec-tr-tem">
                            <div class="rec-topic-pic acade-topic-pic">
                                <img src="client/assets/img/pic-20.jpg" class="rec-top-img acade-top-img">
                            </div>
                            <div class="rec-topic-desc acade-topic-desc">
                                <h6 class="acade-person-tit change-hover-color">中科院院士叶笃正</h6>
                                <p class="acade-pic-txt change-hover-color">1006年1月9日，全国科学技术大会在北京人民大会堂举行，中国科学院院士、中国大气物理研究奠基人叶笃正获得二零零五年度国家最高科学技术奖。图为叶笃正的资料图片</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>