	    <!-- <div class="marquee_box">
        <div class="marquee">
	        <marquee behavior="scroll" scrollamount="5" direction="left" loop="-1" onMouseOut="this.start()" onMouseOver="this.stop()">通知：<a href="">视觉安徽图片新闻网滚动通知。</a></marquee>
	    </div>
        </div> -->

	    <div class="main_box">
	        <!-- 通栏广告0 index.onToShowAdTopicClick(index.adShowImageArray[0])-->
	        <!-- 通栏广告 1-->
            <div class="special_pic" ng-show="index.showFlag1">			
					<a target="_blank">
                    <img ng-src="{{index.adShowImageArray[1]['file']}}"
                         ng-click="index.onToShowAdTopicClick(index.adShowImageArray[1])" width="1200" height="100">
				    </a>
			</div>
			<!-- 通栏广告 2-->
			<div class="special_pic" ng-show="index.showFlag2">			
					<a target="_blank">
                    <img ng-src="{{index.adShowImageArray[2]['file']}}"
                         ng-click="index.onToShowAdTopicClick(index.adShowImageArray[2])" width="1200" height="100">
				    </a>
			</div>
			
			
	        
	        <!-- 头条 焦点大图 -->
	        <div class="slideBox" id="slideBox">
                <div class="bd">
                    <ul ng-init="index.getClientGroups(3067,5,1,2)">
                        <li ng-repeat="item in index.toddayNews track by $index">
                            <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.filePath}}" width="1200" height="600">
							</a>
                            <p><a ui-sref="root.newDetailList({groupId: item.ID})">{{item.TITLE || '尚未签发'}}</a></p>
                        </li>
                    </ul>
                </div>
                <ul class="btn">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="index_prev prev"></div>
                <div class="index_next next"></div>
			
            </div>

            <div class="clear"></div>

            <!-- 通栏广告3 -->
           
            <div class="special_pic" ng-show="index.showFlag3" >
				<a target="_blank">
                    <img ng-click="index.onToShowAdTopicClick(index.adShowImageArray[3])" ng-src="{{index.adShowImageArray[3]['file']}}" width="1200" height="100">
                </a>
	        </div>
	        
	        
	        
	        
	       <!-- 通栏广告4 -->
           
            <div class="special_pic" ng-show="index.showFlag4">
				<a target="_blank">
                    <img ng-click="index.onToShowAdTopicClick(index.adShowImageArray[4])" ng-src="{{index.adShowImageArray[4]['file']}}" width="1200" height="100">
                </a>
	        </div>
	        
	        
	       <div class="clear" ></div>

            <!-- 新闻 -->
            <div class="news_box">
                <div class="news_title">
                   <div class="line"></div>
                   <div class="news_title_pic"></div>
                   <div class="refresh right"><span><a target="_blank" ui-sref="root.newsPhoto">更多</a></span></div>
                </div>
                <div class="clear"></div>
                <div class="news_content" ng-init="index.getClientGroups(3064,3,0,2)">
                    <ul>
                        <li ng-repeat="item in index.newsPhoto track by $index">
							<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.filePath}}" width="386" height="245">
							</a>
                            <p class="split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                        </li>
                    </ul>
                </div>
            </div>

            
            
            <!-- 通栏广告5   -->
           
            <div class="special_pic" ng-show="index.showFlag5">
				<a target="_blank">
                    <img ng-click="index.onToShowAdTopicClick(index.adShowImageArray[5])" ng-src="{{index.adShowImageArray[5]['file']}}" width="1200" height="100">
                </a>
	        </div>
	      
	        
	       <!-- 通栏广告6 -->
           
            <div class="special_pic" ng-show="index.showFlag6">
				<a target="_blank">
                    <img ng-click="index.onToShowAdTopicClick(index.adShowImageArray[6])" ng-src="{{index.adShowImageArray[6]['file']}}" width="1200" height="100">
                </a>
	        </div>
	        
	        <div class="clear"></div>
           
            <!-- 主要图片展示 -->
            <div class="beautiful_ah">
                <div class="main_pic_left left">
                    <div class="hfwy">
                        <div class="hfwy_title_box">
                            <div class="hfwy_title">
                                <a ui-sref="root.anhuiPhoto" target="_blank">皖风徽韵</a>
                                <div class="hfwy_title_right right" ng-init="index.getselChildColumn(3078)">
                                    <span ng-repeat="item in index.style">
										<a ui-sref="root.moreSortList({sginId:item.id})">{{item.name}}</a>
									</span>
                                </div>
                            </div>     
                        </div>
                        <div class="clear"></div>
						<!--皖风徽韵-->
                        <div class="hfwy_content" ng-init="index.getClientGroups(3078,5,0,2)">
                            <div class="hfwy_content_1 left" ng-repeat="item in index.anhuiStyle track by $index" ng-if="$first">
								<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.filePath}}" width="254" height="348">
								</a>
                                <p class="split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                            </div>
                            <div class="hfwy_content_2 right">
                                <div class="hfwy_content_2_1" ng-repeat="item in index.anhuiStyle track by $index" ng-if="!$first">
									<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
										<img ng-src="{{item.filePath}}" width="255" height="164">
									</a>
                                    <p class="split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
		            <div class="gstk">
                        <div class="yyjh_title_box">
                            <div class="yyjh_title">
                                <a href="javascript:void(0);">各市图库</a>
                            </div>     
                        </div>
                        <div class="gstk_nav" ng-init="index.getselChildColumn(3080)">
                            <span ng-repeat="item in index.citys">
								<a ui-sref="root.moreSortList({sginId:item.id})">{{item.name}}</a>
							</span>
                        </div>
                        <div class="gstk_content" ng-init="index.getClientGroups(3080,3,0,2)">
                            <div class="gstk_content_1 left" ng-repeat="item in index.anhuiCitys track by $index">
								<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.filePath}}" height="165" width="254">
								</a>
                                <p class="split_string"><span></span><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                            </div>							
                        </div>
                    </div>
		            <div class="clear"></div>
                    <div class="yyjh">
                        <div class="yyjh_title_box">
                            <div class="yyjh_title">
                                <a ui-sref="root.artPhoto" target="_blank">艺苑菁华</a>
                                <div class="yyjh_title_right right" ng-init="index.getselChildColumn(3082)">
                                    <span ng-repeat="item in index.essence">
										<a ui-sref="root.moreSortList({sginId:item.id})">{{item.name}}</a>
									</span>
                                </div>
                            </div>     
                        </div>
                        <div class="yyjh_content" ng-init="index.getClientGroups(3082,3,0,2)">
                            <div class="yyjh_content_1" ng-repeat="item in index.artEssence track by $index">
								<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.filePath}}" height="170" width="254">
								</a>
                                <p class="split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                            </div>
                            
                        </div>
                    </div>  
                    
                    
                </div>

                <div class="main_pic_right right">

                <!-- 视频 -->
                    <div class="yyjh_sp" ng-init="index.getClientGroups(3081,1,0,2)">
                        <div class="zt_title_box">
                            <div class="zt_title">
                                <a ui-sref="root.videoVR" target="_blank">视频</a>
                            </div>     
                        </div>
                        <div class="sp_content" ng-repeat="item in index.anhuiVideo track by $index">
							<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.filePath}}" width="329" height="198">
							</a>
                            <p class="split_string"><a href="">{{item.TITLE}}</a></p>
                        </div>
                    </div>

		            <div class="gstk_hd" ng-init="index.getClientGroups(3083,1,0,2)">
                        <div class="zt_title_box">
                            <div class="zt_title">
                                <a ui-sref="root.moreSortList({sginId:3083})" target="_blank">互动</a>
                            </div>     
                        </div>
                        <div class="hd_content" ng-repeat="item in index.interactiveSpace track by $index">
                            <!-- <div class="hd_nav">
                                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a>
                            </div> -->
                            <div class="hd_content_1">
                                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.filePath}}" alt="" width="329" height="185">
								</a>
                                <p><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- 专题 -->

                    <div class="hfwy_zt">
                        <div class="zt_title_box">
                            <div class="zt_title">
                                <a ui-sref="root.specPhoto" target="_blank">专题</a>
                            </div>     
                        </div>
                        <div class="zt_content_box" ng-init="index.getClientGroups(3077,7,0,2)">
                            <div class="zt_content_pic" ng-repeat="item in index.ahhuiTopics track by $index" ng-if="$first">
                                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.filePath}}" width="330" height="164">
								</a>
                            </div>
                            <div class="zt_content_list">
                                <ul>
                                    <li ng-repeat="item in index.ahhuiTopics track by $index" ng-if="!$first">
										<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a>
									</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    


                </div>
            </div>


	       

			<!-- 历史资料 -->
            <div class="clear"></div>
            <div class="history_box">
                <div class="history_title">
                   <div class="line"></div>
                   <div class="history_title_pic"></div>
                   <div class="refresh right"><span><a ui-sref="root.historyPhoto" target="_blank">更多</a></span></div>
                </div>
                <div class="clear"></div>
                <div class="history_content" ng-init="index.getClientGroups(3079,3,0,2)">
                    <ul>
                        <li ng-repeat="item in index.anhuiHistory track by $index">
							<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.filePath}}" width="387" height="245">
							</a>
                            <div class="history_subtitle">
                                <p class="split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                                <p class="split_string">{{item.TITLE}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            
            <!-- 通栏广告7 -->
           
            <div class="special_pic" ng-show="index.showFlag7">
				<a target="_blank">
                    <img ng-click="index.onToShowAdTopicClick(index.adShowImageArray[7])" ng-src="{{index.adShowImageArray[7]['file']}}" width="1200" height="100">
                </a>
	        </div>
	        
	        
	       <!-- 通栏广告8 -->
           
            <div class="special_pic" ng-show="index.showFlag8">
				<a target="_blank">
                    <img ng-click="index.onToShowAdTopicClick(index.adShowImageArray[8])" ng-src="{{index.adShowImageArray[8]['file']}}" width="1200" height="100">
                </a>
	        </div>
	        
	        
	        
            <div class="clear"></div>

            <!-- 数字报刊 -->
            <div class="eric_newsPaper">
                <div class="eric_title">
                   <div class="line"></div>
                   <a ui-sref="root.moreSortList({sginId:3097})" target="_blank"><div class="eric_title_pic"></div></a>
                </div>

                <div class="ericnews_box_box" id="ericnews_box_box">
                    <div class="ericnews_box" ng-init="index.getClientGroups(3097,8,0,2)">
                        <ul>
                            <li class="eric_list" ng-repeat="item in index.ericNewsPaper track by $index">
                                <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank"><img ng-src="{{item.filePath}}" alt="" height=300 width=214></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        
        
        
		<div class="clear"></div>
		<!-- 通栏广告9 -->
           
        <div class="special_pic"  ng-show="index.showFlag9">
			<a target="_blank">
                <img ng-click="index.onToShowAdTopicClick(index.adShowImageArray[9])" ng-src="{{index.adShowImageArray[9]['file']}}" width="1200" height="100">
            </a>
        </div>
        
        
        
       <!-- 通栏广告10 -->
          
        <div class="special_pic"  ng-show="index.showFlag10">
			<a target="_blank">
               <img ng-click="index.onToShowAdTopicClick(index.adShowImageArray[10])" ng-src="{{index.adShowImageArray[10]['file']}}" width="1200" height="100">
            </a>
        </div>
		<script id="_trs_ta_js" src="//ta.trs.cn/c/js/ta.js?mpid=1485" async="async" defer="defer"></script>
