	    <div class="marquee">
	        <marquee behavior="scroll" scrollamount="5" direction="left" loop="-1" onMouseOut="this.start()" onMouseOver="this.stop()">通知：<a href="">视觉安徽图片新闻网滚动通知。</a></marquee>
	    </div>
		<!-- 通栏广告 -->
	    <div class="main_box">
	        <div class="special_pic">
	            <!-- <a href="" target="_blank"><img src="client_ah/assets/images_ah/sjah_index_24.png"></a> -->
				<a target="_blank">
                    <img ng-src="{{index.adShowImageArray[0]['file']}}"
                         ng-click="index.onToShowAdTopicClick(index.adShowImageArray[0])" width="1200" height="100">
                </a>
	        </div>

	        <!-- 头条 焦点大图 -->
	        <div class="slideBox" id="slideBox">
                <div class="bd">
                    <ul ng-init="index.getClientGroups(3067,5,1,2)">
                        <li ng-repeat="item in index.toddayNews track by $index">
                            <a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.FilePath}}" width="1200" height="480">
							</a>
                            <p><a ui-sref="root.newDetailList({groupId: item.ID})">{{item.TITLE || '尚未签发'}}</a></p>
                        </li>
                    </ul>
                </div>
                <ul class="btn">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="prev"></div>
                <div class="next"></div>
			
            </div>

            <div class="clear"></div>
            <!-- 新闻 -->
            <div class="news_box">
                <div class="news_title">
                   <div class="line"></div>
                   <div class="news_title_pic"></div>
                   <div class="refresh right"><span><a target="_blank" ui-sref="root.moreSortList({sginId: 3064})">换一批</a></span></div>
                </div>
                <div class="clear"></div>
                <div class="news_content" ng-init="index.getClientGroups(3064,3,0,2)">
                    <ul>
                        <li ng-repeat="item in index.newsPhoto track by $index">
							<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.FilePath}}" width="386" height="245">
							</a>
                            <p class="split_string"><a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">{{item.TITLE}}</a></p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="clear"></div>
            <!-- 通栏广告 -->
            <div class="middle_gg">
				<a href="" target="_blank">
					<!--<img src="client_ah/assets/images_ah/sjah_index_38.png" height="130" width="1200">-->
					<a target="_blank">
                    <img ng-src="{{index.adShowImageArray[1]['file']}}"
                         ng-click="index.onToShowAdTopicClick(index.adShowImageArray[1])" width="1200" height="130">
                </a>
				</a>
			</div>

            <!-- 主要图片展示 -->
            <div class="beautiful_ah">
                <div class="main_pic_left left">
                    <div class="hfwy">
                        <div class="hfwy_title_box">
                            <div class="hfwy_title">
                                皖风徽韵
                                <div class="hfwy_title_right right">
                                    <span><a href="" target="_blank">大美安徽</a></span> | 
                                    <span><a href="" target="_blank">创新安徽</a></span> | 
                                    <span><a href="" target="_blank">开放安徽</a></span> | 
                                    <span><a href="" target="_blank">人文安徽</a></span>
                                </div>
                            </div>     
                        </div>
                        <div class="clear"></div>
						<!--皖风徽韵-->
                        <div class="hfwy_content" ng-init="index.getClientGroups(3078,5,0,2)">
                            <div class="hfwy_content_1 left" ng-repeat="item in index.anhuiStyle track by $index" ng-if="$first">
								<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.FilePath}}" width="254" height="348">
								</a>
                                <p class="split_string"><a href="">{{item.TITLE}}</a></p>
                            </div>
                            <div class="hfwy_content_2 right">
                                <div class="hfwy_content_2_1" ng-repeat="item in index.anhuiStyle track by $index" ng-if="!$first">
									<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
										<img ng-src="{{item.FilePath}}" width="255" height="164">
									</a>
                                    <p class="split_string"><a href="">{{item.TITLE}}</a></p>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="yyjh">
                        <div class="yyjh_title_box">
                            <div class="yyjh_title">
                                艺苑菁华
                                <div class="yyjh_title_right right">
                                    <span><a href="" target="_blank">安徽画坛</a></span> | 
                                    <span><a href="" target="_blank">网上展厅</a></span> | 
                                    <span><a href="" target="_blank">漫画天地</a></span>
                                </div>
                            </div>     
                        </div>
                        <div class="yyjh_content" ng-init="index.getClientGroups(3082,3,0,2)">
                            <div class="yyjh_content_1" ng-repeat="item in index.artEssence track by $index">
								<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.FilePath}}" height="198" width="254">
								</a>
                                <p class="split_string"><a href="">{{item.TITLE}}</a></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="gstk">
                        <div class="yyjh_title_box">
                            <div class="yyjh_title">
                                各市图库
                            </div>     
                        </div>
                        <div class="gstk_nav">
                            <span><a href="">合肥</a></span>|
                            <span><a href="">芜湖</a></span>|
                            <span><a href="">蚌埠</a></span>|
                            <span><a href="">淮南</a></span>|
                            <span><a href="">马鞍山</a></span>|
                            <span><a href="">淮北</a></span>|
                            <span><a href="">铜陵</a></span>|
                            <span><a href="">安庆</a></span>|
                            <span><a href="">宿州</a></span>|
                            <span><a href="">滁州</a></span>|
                            <span><a href="">六安</a></span>|
                            <span><a href="">宣城</a></span>|
                            <span><a href="">池州</a></span>|
                            <span><a href="">阜阳</a></span>|
                            <span><a href="">亳州</a></span>|
                            <span><a href="">黄山</a></span>
                        </div>
                        <div class="gstk_content" ng-init="index.getClientGroups(3080,3,0,2)">
                            <div class="gstk_content_1 left" ng-repeat="item in index.anhuiCitys track by $index" ng-if="$first">
								<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.FilePath}}" height="165" width="254">
								</a>
                                <p class="split_string"><span>[合肥]</span><a href="">{{item.TITLE}}</a></p>
                            </div>
                            <div class="gstk_content_2 gstk_content_1 left" ng-repeat="item in index.anhuiCitys track by $index" ng-if="$middle">
								<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.FilePath}}" height="165" width="254">
								</a>
                                <p class="split_string"><span>[芜湖]</span><a href="">{{item.TITLE}}</a></p>
                            </div>
                            <div class="gstk_content_1 right" ng-repeat="item in index.anhuiCitys track by $index" ng-if="$last">
								<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
									<img ng-src="{{item.FilePath}}" height="165" width="254">
								</a>
                                <p class="split_string"><span>[合肥]</span><a href="">{{item.TITLE}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_pic_right right">
                    <div class="hfwy_zt">
                        <div class="zt_title_box">
                            <div class="zt_title">
                                专题
                            </div>     
                        </div>
                        <div class="zt_content_box">
                            <div class="zt_content_pic">
                                <a href=""><img src="client_ah/assets/images_ah/sjah_index_47.png" width="330" height="164"></a>
                            </div>
                            <div class="zt_content_list">
                                <ul>
                                    <li><a href="">安徽休宁：山村工匠41年的“钟情”</a></li>
                                    <li><a href="">“品质包河。大美滨湖”摄影采风</a></li>
                                    <li><a href="">裕溪河龙舟节，百船赛龙舟！</a></li>
                                    <li><a href="">合安高铁上的半边天</a></li>
                                    <li><a href="">20170305女子粉蓝丝代公益跑</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="yyjh_sp" ng-init="index.getClientGroups(3081,1,0,2)">
                        <div class="zt_title_box">
                            <div class="zt_title">
                                视频
                            </div>     
                        </div>
                        <div class="sp_content" ng-repeat="item in index.anhuiVideo track by $index">
							<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.FilePath}}" width="329" height="198">
							</a>
                            <p class="split_string"><a href="">{{item.TITLE}}</a></p>
                        </div>
                    </div>

                    <div class="gstk_hd">
                        <div class="zt_title_box">
                            <div class="zt_title">
                                互动
                            </div>     
                        </div>
                        <div class="hd_content">
                            <div class="hd_nav">
                                <a href="">首届精准文化扶贫 助力贫困学生</a>
                            </div>
                            <div class="hd_content_1">
                                <a href=""><img src="client_ah/assets/images_ah/sjah_index_66.png" alt="" width="329" height="164"></a>
                                <p><a href="">摘要：8月7日下午，“首届精准文化扶贫 助力贫困学生仪式”，在蜀山区南岗镇人民政府举办。</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- 历史资料 -->
            <div class="clear"></div>
            <div class="history_box">
                <div class="history_title">
                   <div class="line"></div>
                   <div class="history_title_pic"></div>
                   <div class="refresh right"><span><a href="">换一批</a></span></div>
                </div>
                <div class="clear"></div>
                <div class="history_content" ng-init="index.getClientGroups(3079,4,0,2)">
                    <ul>
                        <li ng-repeat="item in index.anhuiHistory track by $index">
							<a ui-sref="root.newDetailList({groupId: item.ID})" target="_blank">
								<img ng-src="{{item.FilePath}}" width="390" height="245">
							</a>
                            <div class="history_subtitle">
                                <p class="split_string"><a href="">{{item.TITLE}}</a></p>
                                <p class="split_string">摘要：屯溪属于黄山中心城区，新安江穿流而过，屯溪的老街也是闻名遐迩。春天的皖南时而烟雨蒙蒙，时而天气晴朗。雨夜的老街格外宁静....清晨，江水缓缓而逝哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
                            </div>

                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div class="eric_newsPaper">
                <div class="eric_title">
                   <div class="line"></div>
                   <div class="eric_title_pic"></div>
                </div>
                <div class="ericnews_box">
                    <div class="eric_list">
                        <a href=""><img src="client_ah/assets/images_ah/sjah_index_92.png" alt="" height=300 width=214></a>
                    </div>
                    <div class="eric_list ml18 mr19">
                        <a href=""><img src="client_ah/assets/images_ah/sjah_index_94.png" alt="" height=300 width=214></a>
                    </div>
                    <div class="eric_list">
                        <a href=""><img src="client_ah/assets/images_ah/sjah_index_96.png" alt="" height=300 width=214></a>
                    </div>
                    <div class="eric_list ml19 mr18">
                        <a href=""><img src="client_ah/assets/images_ah/sjah_index_98.png" alt="" height=300 width=214></a>
                    </div>
                    <div class="eric_list">
                        <a href=""><img src="client_ah/assets/images_ah/sjah_index_100.png" alt="" height=300 width=214></a>
                    </div>
                </div>
            </div>
	        
	    </div>
		<div class="clear"></div>
