<div class="old-pic-container">
    <!--老照片专题图文-->
    <div class="rec-bd-con">
        <div class="rec-topic-item mt10 clear">
            <div class="rec-topic-li  fll">
                <div class="old-topic-tit">
                    <span class="cursor change-hover-color">改革开放浪潮 深圳篇</span>
                </div>
                <div class="rec-topic-details">
                    <div class="rec-tr-tem">
                        <div class="rec-topic-pic">
                            <img src="client/assets/img/pic-18.jpg" class="rec-top-img">
                        </div>
                        <div class="rec-topic-desc"> 1980年9月，建设中的深圳市区 1980年9月，建设中的深圳市区友谊医院在本院医</div>
                    </div>
                </div>
            </div>
            <div class="rec-topic-li  fll">
                <div class="old-topic-tit">
                    <span class="cursor change-hover-color">改革开放浪潮 广东篇</span>
                </div>
                <div class="rec-topic-details">
                    <div class="rec-tr-tem">
                        <div class="rec-topic-pic">
                            <img src="client/assets/img/pic-18.jpg" class="rec-top-img">
                        </div>
                        <div class="rec-topic-desc">年终岁末 1980年9月，建设中的深圳市区 1980年9月，建设中的深圳市区 1980年9月，建设中的深圳市区 1980年9月，建设中的深圳市区首都，首都附属北京友谊</div>
                    </div>
                </div>
            </div>
            <div class="rec-topic-li  fll" style="margin-right:0;">
                <div class="old-topic-tit">
                    <span class="cursor change-hover-color">五六十年代新春人民生活</span>
                </div>
                <div class="rec-topic-details">
                    <div class="rec-tr-tem">
                        <div class="rec-topic-pic">
                            <img src="client/assets/img/pic-18.jpg" class="rec-top-img">
                        </div>
                        <div class="rec-topic-desc">年终岁末的，首都，首都，首都12月28日，首都医科大学附属北京友谊医院耳鼻咽喉头颈外科主任龚树生教授，
                            在本院医疗日，首都医科大学附属北京友谊</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rec-bd-con">
        <div class="rec-topic-item mt10 clear">
            <div class="rec-topic-li  fll">
                <div class="old-topic-tit">
                    <span class="cursor change-hover-color">改革开放浪潮 深圳篇</span>
                </div>
                <div class="rec-topic-details">
                    <div class="rec-tr-tem">
                        <div class="rec-topic-pic">
                            <img src="client/assets/img/pic-18.jpg" class="rec-top-img">
                        </div>
                        <div class="rec-topic-desc">年终岁末的12月28日，终岁末的终岁末的首都医科大学附属北京友谊医院耳鼻咽喉头颈外科主任龚树生教授，
                            在本院医疗28日，首都医科大学附属北京友谊医院28日，终岁末的终岁末的首都医科大学附属北京友谊医院在本院医</div>
                    </div>
                </div>
            </div>
            <div class="rec-topic-li  fll">
                <div class="old-topic-tit">
                    <span class="cursor change-hover-color">改革开放浪潮 广东篇</span>
                </div>
                <div class="rec-topic-details">
                    <div class="rec-tr-tem">
                        <div class="rec-topic-pic">
                            <img src="client/assets/img/pic-18.jpg" class="rec-top-img">
                        </div>
                        <div class="rec-topic-desc">年终岁末的12月28日，首28日，首都医科大学附属北京友谊医院28日，首都医科大学附属北京友谊医院28日，首都医科大学附属北京友谊医院28日，首都医科大学附属北京友谊医院都医科大学附属北京友谊医院耳鼻咽喉头颈外科主任龚树生教授，
                            在本院医疗日，首都医科大学，首都，首都，首都，首都，首都附属北京友谊</div>
                    </div>
                </div>
            </div>
            <div class="rec-topic-li  fll" style="margin-right:0;">
                <div class="old-topic-tit">
                    <span class="cursor change-hover-color">五六十年代新春人民生活</span>
                </div>
                <div class="rec-topic-details">
                    <div class="rec-tr-tem">
                        <div class="rec-topic-pic">
                            <img src="client/assets/img/pic-18.jpg" class="rec-top-img">
                        </div>
                        <div class="rec-topic-desc">年终岁末的，首都，首都，首都12月28日，首都医科大学附属北京友谊医院耳鼻咽喉头颈外科主任龚树生教授，
                            在本院医疗日，首都医科大学附属北京友谊</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--老照片专题-->
    <div class="old-pic-topic">
        <div class="tac all-topic-box">
            <img src="client/assets/img/old-topic.jpg" class="all-topic-img">
        </div>
        <div class="old-topic-con clear">
            <div class="all-topic-left fll">
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">历史背影：水墨动画片《小蝌蚪找妈妈》</a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">历史背影：1962年《孙悟空三打白骨精》剧照</a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">西藏往事：农奴的血泪与新时代的曙光</a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">历史背影：1962年《孙悟空三打白骨精》剧照</a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">西藏往事：农奴的血泪与新时代的曙光</a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">西藏往事：农奴的血泪与新时代的曙光</a>
                    <a class="change-hover-color"> new</a>
                </div>
            </div>
            <div class="all-topic-right fll">
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">时代足音：九十年代初内地方便面市场扫描</a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">时代足音：九十年代初内地方便面市场扫描 </a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">2016珠海航展首日 中国自主研制的歼-20隐身战斗机首次精彩亮相（44张） </a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color"> 五六十年代儿童生活：北京培新幼儿园</a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color"> 五六十年代儿童生活：北京培新幼儿园 2016年成功手术873台（8张）</a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color"> 五六十年代儿童生活：北京培新幼儿园  五六十年代儿童生活：北京培新幼儿园-20隐身战斗机首次精彩亮相（44张） </a>
                    <a class="change-hover-color"> new</a>
                </div>
                <div class="all-topic-item">
                    <img src="client/assets/img/spec-pic.gif" class="fll mt2 all-topic-pic">
                    <a class="change-hover-color">中国耳科名医龚树生 2016年成功手术873台（8张）</a>
                    <a class="change-hover-color"> new</a>
                </div>
            </div>
        </div>
    </div>
    <!--最新入库-->
    <div class="old-new-storage">
        <div class="n-storage-tit">
            <img src="client/assets/img/new-storage.jpg" class="new-storage-pic"/>
            <a class="change-hover-color">最新入库</a>
        </div>
        <ul class="n-storage-details clear">
             <li class="n-storage-li">
                <img src="client/assets/img/pic-19.jpg" class="torage-desc-img"/>
                 <p class="n-storage-desc change-hover-color">
                     辛亥革命七十周年讨论会（可供大图）
                 </p>
             </li>
            <li class="n-storage-li">
                <img src="client/assets/img/pic-19.jpg" class="torage-desc-img"/>
                <p class="n-storage-desc change-hover-color">
                    辛亥革命七十周年讨论会（可供大图）
                </p>
            </li>
            <li class="n-storage-li">
                <img src="client/assets/img/pic-19.jpg" class="torage-desc-img"/>
                <p class="n-storage-desc change-hover-color">
                    辛亥革命七十周年讨论会（可供大图）
                </p>
            </li>
        </ul>
    </div>
    <!--政治国防-->
    <div class="old-politics-defense">
        <div class="old-poldef-hd">
            <img src="client/assets/img/old-politics-defense.gif"/>
        </div>
        <ul class="old-poldef-bd clear">
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
        </ul>
    </div>
    <!--社会万象-->
    <div class="old-politics-defense">
        <div class="old-poldef-hd">
            <img src="client/assets/img/social-phenomena.gif"/>
        </div>
        <ul class="old-poldef-bd clear">
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">八十年代百姓生活</a>
                </p>
                <p>
                    <a class="change-hover-color">八十年代百姓生活</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">八十年代百姓生活</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
        </ul>
    </div>
    <!--人文地理-->
    <div class="old-politics-defense">
        <div class="old-poldef-hd">
            <img src="client/assets/img/human-geography.gif"/>
        </div>
        <ul class="old-poldef-bd clear">
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">八十年代百姓生活</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
        </ul>
    </div>
    <!--科教文化-->
    <div class="old-politics-defense">
        <div class="old-poldef-hd">
            <img src="client/assets/img/science-culture.gif"/>
        </div>
        <ul class="old-poldef-bd clear">
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
        </ul>
    </div>
    <!--经济建设-->
    <div class="old-politics-defense">
        <div class="old-poldef-hd">
            <img src="client/assets/img/economic-construction.gif"/>
        </div>
        <ul class="old-poldef-bd clear">
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
        </ul>
    </div>
    <!--历史事件-->
    <div class="old-politics-defense">
        <div class="old-poldef-hd">
            <img src="client/assets/img/history-event.gif"/>
        </div>
        <ul class="old-poldef-bd clear">
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
        </ul>
    </div>
    <!--华人华侨-->
    <div class="old-politics-defense">
        <div class="old-poldef-hd">
            <img src="client/assets/img/overseas-Chinese.gif" class="old-overseas-pic"/>
        </div>
        <ul class="old-poldef-bd clear">
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代宗教团体活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">九十年代外事与领导人活动</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
            <li class="old-poldef-li">
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
                <p>
                    <a class="change-hover-color">延边朝鲜族花鼓手</a>
                </p>
                <p>
                    <a class="change-hover-color">领袖风采——叶剑英</a>
                </p>
            </li>
        </ul>
    </div>
</div>