<div class="famous-lecture-container">
    <div class="famous-lecture-outside-con">
        <div class="famous-lecture-con">
            <div class="famous-lecture-tit">
            </div>
            <div class="famous-lecture-hd-txt">
                中国新闻社图片网从三月份起将举行不定期摄影及摄影相关业务讲座，届时将邀请我社和摄影界、设计界资深专家进行讲解，培训内容将随时在网上更新，希望讲座内容对摄影师及摄影爱好者带来帮助，欢迎广大签约摄影师提出宝贵意见，共同探讨。
            </div>
            <div class="famous-lecture-bd-con">
                <!--曾璜-->
                <div class="famous-first-item">
                    <div class="famous-each-item">
                        <img src="client/assets/img/zenghuang.jpg" class="famous-person-img"/>
                    </div>
                    <div class="famous-txt-item">
                        <h6 class="fwb fperson-name-brief">
                            曾璜简介：
                        </h6>
                        <div>
                            <p class="fperson-brief-desc">
                                1991年获美国SYRACUSE大学大众传播学院传播摄影硕士学位。现任新华社中国特稿社图片编辑，Corbis图片库在中国的摄影师和组稿人，中国新闻摄影学会学术委员会副主任。
                            </p>
                            <p class="fperson-brief-desc">
                                作为中国最早研究传播摄影、图片市场、视觉传播法律与伦理道德的学者之一，在国家级新闻、摄影的专业报刊上发表五十万字的论文。在中国人民大学和北京电影学院等七所大学和三十多家市场化的报刊开设新闻摄影和图片编辑课程和讲座。2003年出版了中国第一本《图片编辑手册》（主编）。为北京电影学院编写的新闻摄影教科书《报道摄影》于2004年11月出版后，业内认为“填补了中国高校摄影教育的空白”。
                            </p>
                            <p class="fperson-brief-desc">
                                1994年作为新华社特派摄影记者赴波黑进行战地采访，1995年出版中国第一本个人战地新闻摄影作品集《波黑：战火浮生》。在2003法国阿尔勒国际摄影节“中国之夜”幻灯晚会展示作品。曾获美国“自由论坛(Freedom Forum)专业摄影记者新闻摄影比赛(北京站)第一名”和“中国新闻奖”。
                            </p>
                        </div>
                        <div class="tac mt10">
                            <span class="fwb fperson-name-brief">讲座内容：</span>
                            <a class="cursor spec-red">图片编辑简论</a>(点击打开）
                        </div>
                    </div>
                </div>
            </div>
            <div class="famous-person-item">
                <div class="famous-person-hd-bg">
                </div>
                <div class="famous-lecture-bd-con">
                    <!--贾国荣-->
                    <div class="famous-first-item">
                        <div class="famous-each-item">
                            <img src="client/assets/img/jiaguorong.jpg" class="famous-person-img"/>
                        </div>
                        <div class="famous-txt-item">
                            <h6 class="fwb fperson-name-brief">
                                贾国荣简介：
                            </h6>
                            <div>
                                <p class="fperson-brief-desc">荷赛奖获得者，前中国新闻社摄影部主任。</p>
                                <p class="fperson-brief-desc">出生于四川省成都市。行武做工之后考入大学。1983年毕业于重庆西南师范学院汉语言文学系，同年北上京城成为中国新闻社记者、编辑。</p>
                                <p class="fperson-brief-desc">1986年起担任外事摄影记者。</p>
                                <p class="fperson-brief-desc">1994年为中国新闻社摄影部主任。</p>
                                <p class="fperson-brief-desc">1996年担任中国与美国新闻摄影研讨会作品评委和讲课专家。</p>
                                <p class="fperson-brief-desc">2000年出版个人摄影集《难忘的中国》。</p>
                                <p class="fperson-brief-desc">2001年《7.13之夜》获得全球华人摄影大赛特等奖。</p>
                                <p class="fperson-brief-desc">2001年《中国小将夺冠赛》获荷兰世界新闻摄影比赛体育类单幅铜奖。</p>
                                <p class="fperson-brief-desc">2004年为中国新闻社驻洛杉矶首席记者。</p>
                                <p class="fperson-brief-desc">2008年重返北京。</p>
                            </div>
                            <p class="tac mt10">
                                <span class="fwb fperson-name-brief">讲座内容：</span>
                                <a class="cursor spec-red">新闻记者的素养</a>(点击打开）
                            </p>
                        </div>
                    </div>
                    <div class="famous-person-hd-bg">
                        <span class="fwb">贾国荣部分作品</span>
                    </div>
                    <div class="famous-person-img-show">
                        <div class="famous-img-item">
                            <img src="client/assets/img/maoyeye.jpg" class="famous-item-pic"/>
                        </div>
                    </div>
                    <!--赵伟-->
                    <div class="famous-first-item">
                        <div class="famous-each-item">
                            <img src="client/assets/img/zhaowei.jpg" class="famous-person-img"/>
                        </div>
                        <div class="famous-txt-item">
                            <h6 class="fwb fperson-name-brief">
                                赵伟简介：
                            </h6>
                            <div>
                                <p class="fperson-brief-desc">
                                    毕业于中国人民大学新闻系新闻摄影专业。曾在内蒙古巴彦淖尔报社当过八年记者；在中国新闻社当过十几年摄影部主任、高级编辑；并到过内地所有省区进行摄影采访，参加过巴塞罗那奥运会、香港回归等重大事件摄影采访；参与创办中国新闻网www.chinanews.com.cn和中国新闻图片网www.cnsphoto.com两个网站。
                                </p>
                                <p class="fperson-brief-desc">
                                    曾任中华全国新闻工作者协会理事和中国新闻摄影学会理事，现为中国摄影家协会会员、中国新闻摄影学会名誉理事。因对新闻摄影事业作出的突出贡献，获国务院颁发的专家津贴。     退休后，被中国新闻社网络图片中心聘为高级编辑、顾问，并作为中国民族大学、北京电影学院、北京吉利大学、京海学院、北京经济科技大学等院校客座教授讲授《新闻摄影》、《纪实摄影》和《网络传播》等课程。
                                </p>
                            </div>
                            <p class="tar mt10">
                                <span class="fwb fperson-name-brief">讲座内容：</span>
                                <a class="cursor spec-red">图片编辑如何选编图片</a>(点击打开）
                            </p>
                        </div>
                    </div>
                    <div class="famous-person-hd-bg">
                        <span class="fwb">赵伟部分作品</span>
                    </div>
                    <div class="famous-person-img-show">
                        <div class="famous-img-item">
                            <img src="client/assets/img/zhaowei-works.jpg" class="famous-item-pic"/>
                        </div>
                    </div>
                    <!--李少白-->
                    <div class="famous-first-item">
                        <div class="famous-each-item">
                            <img src="client/assets/img/lishaobai.jpg" class="famous-person-img"/>
                        </div>
                        <div class="famous-txt-item">
                            <h6 class="fwb fperson-name-brief">
                                李少白简介：
                            </h6>
                            <div>
                                <p class="fperson-brief-desc">
                                    中国著名摄影家，中央民族大学摄影专业客座教授。出版过《李少白摄影作品选》、神秘的紫禁城》、《伟大的长城》、《走近故宫》、《看不见的故宫》、《看不见的长城》、 《原味故宫》、《走进长城》等多本画册，视角独特，影响深远。 长城和故宫摄影作品曾在北京、上海、台湾等地展出，并在法国、德国、日本、爱沙尼亚、瑞士、美国等国展出。2004年获中国摄影传媒大奖。
                                </p>
                            </div>
                            <p class="tar mt10">
                                <span class="fwb fperson-name-brief">讲座内容：</span>
                                <a class="cursor spec-red">摄影中的陌生感和熟悉感</a>(点击打开）
                            </p>
                        </div>
                    </div>
                    <div class="famous-person-hd-bg">
                        <span class="fwb">李少白部分作品</span>
                    </div>
                    <div class="famous-person-img-show">
                        <div class="famous-img-item">
                            <img src="client/assets/img/lishaobai-works.jpg" class="famous-item-pic"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>