	<link rel="stylesheet" href="sjah_photographer_detail.css">
	<div class="wrapper">
	    <!-- 主体内容部分 -->
	    <div class="sjah_photographer_content">
	        <!-- 活动banner -->	    	
	    	<div class="sjah_photographer_content_box">
	    		<p style="font-size:30px;line-height:40px;text-align:center;margin-bottom:24px">关于开展2017年度安徽新闻奖新闻摄影奖、新闻漫画奖评选工作的通知</p>
				<!--p style="font-size:18px;line-height:36px;text-align:center;"></p-->
				<div class="activity_content">
				<p></p>
				<p style="text-indent:2em;">2017年度安徽新闻奖新闻摄影奖评选工作即将开始，现将有关事项通知如下，请各参评单位严格按照本通知要求，认真做好参评作品的推荐、报送工作。</p>
　　<p style="text-indent:2em;">一、凡本省有全国统一连续出版刊号的报刊，经国务院新闻办公室批准的由新闻宣传主管部门和新闻单位主办的具有登载新闻业务资质的新闻网站（不含网络版、电子版），均为本次评选推荐单位，各单位原创并在2017年度首次刊发的新闻摄影作品、新闻漫画作品均可参评。</p>
　　<p style="text-indent:2em;">二、各推荐单位负责组织本单位编辑记者民主推荐参评作品，组织单位内部公示并受理收到的意见后，领导班子集体决定推荐作品，推荐单位填写1份安徽省新闻摄影作品参评推荐目录，单位负责人在推荐目录上签字并加盖单位公章（盖部门章无效）后，除合肥市外，一律特快专递挂号报送安徽省新闻摄影学会。</p>
　　<p style="text-indent:2em;">三、2017年度安徽新闻奖新闻摄影奖、新闻漫画奖的评选和推荐参加第二十八届中国新闻奖摄影作品、新闻漫画作品的初评工作结合；由省新闻摄影学会报省委宣传部、省记协批准，聘请有相关资质人员组成评委会组织评选，评委实行回避制。凡本人有作品参评（如是参评作品作者、编辑等）不得聘请为本届评委会评委，评委在评选时，不得宣传、介绍、点评本人所在单位的参评作品。</p>
　　<p style="text-indent:2em;">四、2017年度安徽新闻奖新闻摄影奖获奖数额为32幅（组）。其中设一等奖4个，二等奖16个，三等奖12个。评选结果在视觉安徽（vi.ahnews.com.cn）网站公示不少于5个工作日；公示无异议后，获奖作品中一、二等奖推荐参加第二十八届中国新闻奖摄影作品的初评；2017年度安徽新闻奖新闻漫画奖获奖数额为6幅（组），其中设一等奖1个，二等奖2个，三等奖3个，公示无异议后推荐参加第二十八届中国新闻奖新闻漫画作品的初评。</p>
　　<p style="text-indent:2em;">五、参评作品数额分配参照皖记协字（2018）1号文件《关于开展2017年度安徽新闻奖评选工作的通知》精神执行：组照不得超过参评作品数的1/3，组照每组不少于3张，不超过8张；单幅照片只准署名1人，组照作者超过2人，按照“集体”申报，单幅和组照的责任编辑只准署名1人，申报编辑须提供稿签或采编系统发稿流程截图，其姓名须与稿签或发稿流程截图上的姓名一致。不能提供的，以见报（刊）署名责编为准。新闻漫画参评作品件数参照新闻摄影参评件数。（附件2：参评作品数额分配表）</p>
　　<p style="text-indent:2em;">六、参评新闻摄影图片每幅长边一律为8英寸，不论单幅或组照，都要严格按卡纸尺寸要求（卡纸长度为31cm，宽度为21.5cm）进行制作装裱。组照装裱后用胶带将每幅作品卡纸按顺序连接在一起，所有参评作品标题和文字说明一律用电脑打字，其作品标题、说明和参评图片必须与样报完全相同，如有修改，一经发现即取消该作品的参评或获奖资格；同时须附１份首次发表作品的完整样报，把样报装进信封里，贴在卡纸背面的上方；所有参赛作品展正面不得暴露参赛单位和作者姓名，不许盖参赛单位印章；参赛单位网络新闻摄影作品要求有登载作品的完整网面打印件。没有样报、样刊、网页打印件的，视为未曾公开发表的作品，不予评选。参评作品截稿日期为2018年2月28日，以当地邮戳为准，逾期视为自动放弃。</p>
七、获得安徽新闻奖并被推荐参加第二十八届中国新闻奖新闻摄影、新闻漫画初评的作品，请作者接到通知后（通知另发）立即准备提供参评作品图片电子版（JPG格式）和刊发作品的报纸版面扫描图或网页截图（JPG格式）、参评作品标题和图片说明（TXT格式，必须与刊发样报或网页完全一致），发送到安徽新闻摄影学会届时指定的邮箱。</p>
　　<p style="text-indent:2em;">八、参评作品中涉及肖像权事宜由参评者自负。若有第三方对作品中的人、建筑或其他事他事物提出权利方面的声明或不满，由参评作品作者对图片可能引发的法律事务负相关责任。</p>
　　<p style="text-indent:2em;">九、各推荐单位新闻漫画参评作品同时申报，其要求和制作等同新闻摄影作品参评要求。</p>
　　<p style="text-indent:2em;">十、报送单位应对新闻摄影作品的真实性和漫画作品的原创性负责。新闻摄影作品要求新闻性强，现场抓拍，表现力强，标题准确，文字说明新闻要素完整，文字简洁。导演摆布的照片、合成及拼接的照片、增加删减影像内容的照片、特技照片和利用图片软件对色阶、色彩反差、饱和度、灰度等调节过度导致影响作品真实性的照片不予评选。新闻漫画作品要求能够反映国内外新闻时事，观点鲜明，构思新颖，新闻性、思想性、针对性强，想象力丰富，富有幽默感和艺术表现力。对涉嫌抄袭和模仿的作品，不予评选。</p>
   <p style="text-indent:2em;">十一、凡未缴纳年度会费的单位，不得参加推荐作品参评。</p>
<p style="text-indent:2em;">寄送地址：合肥市政务新区潜山路1469号安徽日报视觉新闻中心</p>
<p style="text-indent:2em;">联系人：许昊  孙冠贤   　邮编：230071</p>
<p style="text-indent:2em;">电  话：（0551）65179237   65179234 </p>
<p style="text-indent:2em;">点击下载附件：<a href="http://vi.ahnews.com.cn/zh/20180214-fj01.zip" target="_blank">推荐作品目录</a> </p>
<p style="text-indent:2em;">点击下载附件：<a href="http://vi.ahnews.com.cn/zh/20180214-fj02.zip" target="_blank">参评作品数额分配表</a> </p>
					
				</div>


	    	</div>
	    </div>
	</div>
	<script id="_trs_ta_js" src="//ta.trs.cn/c/js/ta.js?mpid=1485" async="async" defer="defer"></script>