<div class="user-manager-container">
    <div class="oH smt-tit">
        <role-common-tit value="待发稿件" class="fll"></role-common-tit>
        <div class="smt-detail fll">编辑稿件</div>
    </div>
    <div class="contribute-tit clear">
        <div class="active-slide-item active-slide-nav fll"  ng-show="edit.manuscriptProperties == 0">新闻图片</div>
        <div class="active-slide-item active-slide-nav fll"

             ng-show="edit.manuscriptProperties == 1">专题图片</div>
    </div>
    <div>
        <div class="smt-detail-operate">
            <!--<span ui-sref="role.editor.sendManuscriptDetail({id: edit.groupId})">返回</span>-->
            <span ng-click="edit.returnSendModalShow('return-confirm-modal')">返回</span>
            <span ng-click="edit.saveEditManuscript()">保存</span>
            <span ng-click="edit.cleanWord()" style="width: 108px;">一键清除样式</span>
        </div>
        <div class="c-new-manuscript-con clear">
            <div class="n-manuscript-container-top clear">
                <div class="n-manuscript-left fll">
                    <div class="n-manuscript-top clear">
                        <div class="fll manuscript-txt-import">
                        	<p class='new_infor'>请在下面输入标题（必填，需少于100个汉字）</p>
                            <textarea class="n-manuscript-explain ms-headline-texarea" placeholder="请在这里输入标题（必填，需少于100个汉字）" ng-model="edit.editManuscript.title"></textarea>
                            <div>
                                <input  class="draft-true-name-input draft-sign-input" ng-model="edit.photoUserName"
                                        ng-keyup="edit.getPhotoUser($event)"/>
                                <select ng-model="edit.photoUNameWay" ng-change="edit.choseUnameShowWay()">
                                    <!-- <option value="0">作者名</option>  -->
                                    <option value="1">真实名</option>
                                    <option value="2">匿名</option>
                                </select>
                                <a class="cursor ml10 foreign-author-txt" ng-click="edit.addAuthorNameModalShow('edit-foreign-author-modal')">添加作者</a>
                            </div>
                            <div class="draft-photo-user-box" ng-show="(edit.photoUserName) && (edit.showNameFlag)  && (edit.photoUser.length != 0)">
                                <p class="draft-photo-user-list cursor" ng-repeat="item in edit.photoUser"
                                   ng-click="edit.choosePhotoUser(item)">
                                    <span class="cursor">{{item.AUTHOR_NAME}}</span>
                                    <span class="cursor">({{item.TURE_NAME}}</span>
                                    <span class="cursor">{{item.USER_NAME}})</span>
                                    <span class="cursor">[ID:{{item.ID}}]</span>
                                </p>
                            </div>
                            <div ng-show="(edit.photoUserName) && (edit.showNameFlag) && (edit.photoUser.length == 0)">
                                <p class="draft-photo-user-list cursor">
                                    暂无数据
                                </p>
                            </div>
                        </div>
                        <div class="fll manuscript-add-pic">
                            <form action="/photo/groupPicCtro/upPic.do"  id="uploadDraftForm" method="post" enctype="multipart/form-data">
                                <input type="file" name="picFiles" multiple  id="picFile"
                                       onchange="angular.element(this).scope().uploadEditManuscript(this)"
                                       style="opacity:0;" class="dib cursor newManuscript-add-btn"/>
                                <label for="picFile" class="dib cursor newManuscript-add-btn">
                                    <i class="icon-plus"></i>
                                    <span>添加图片</span>
                                </label>
                            </form>
                            <!--<img ng-repeat="image in images" ng-src="{{ image }}" width="100" height="100"/>-->
                            <!--<img ng-src="{{filepreview}}" width="100" height="100" class="img-responsive" ng-show="filepreview"/>-->
                        </div>
                        <div class="fll manuscript-add-video">
							<input id="selmasvideo" class="draft-sign-input clear" type="hidden" name="videoFile"  />
							<label for="videoFile" class="dib cursor newManuscript-add-video" ng-click="edit.selectMasVideo()"  >
	                         	<i class="icon-plus"></i>
	                        	<span  translate >100083</span>
	                        </label>
						</div>
                    </div>
                    <div class="n-manuscript-middle">
                   
                        <!--稿件合并时需要展示html，故用div代替textarea-->
                        <p class='new_infor memo-toggle' id ="memo-toggle-flag">请输入稿件说明（必填，少于2000汉字的简单说明）</p>
                        <textarea class="n-manuscript-explain" ng-model="edit.editManuscript.memo" maxlength="2000"></textarea>
                        <!--  
                         <div class="n-manuscript-explain"  ng-bind-html="edit.editManuscript.memo | trustHtml"
                                   contenteditable = "true" style='-webkit-user-select:text'
                                   ng-model="edit.editManuscript.memo"></div>
                        -->
                    </div>
                    <div class="n-manuscript-bottom">
                        <!--用div代替textarea-->
                        <p class='new_infor'>备注（选填，少于500汉字的备注）</p>
                        
                       <textarea class="n-manuscript-explain ms-alternative-texarea" 
                              ng-model="edit.editManuscript.remark" maxlength="500"></textarea>
                        
                        <!--        
                        <div class="n-manuscript-explain ms-alternative-texarea"  ng-bind-html="edit.editManuscript.remark | trustHtml"
                       contenteditable = "true" style='-webkit-user-select:text'
                       ng-model="edit.editManuscript.remark"></div>
                       -->
                    </div>
                </div>
                <div class="n-manuscript-right fll">
                    <div class="ms-help-hint cursor">
                        <i class=" icon-question-sign"></i>
                        <span>帮助提示</span>
                    </div>
                    <div class="draft-signed-con">
                        <div class="draft-signed-hd">
                            <img src="admin/assets/img/role/draft_signed.png" width="38" height="38">
                            <span class="draft-signed-txt">稿签</span>
                        </div>
                        <div class="draft-signed-bd">
                            <div class="draft-signed-hd-item clear">
                                <div class="fll draft-signed-hd-left">
                                    <span class="draft-sign-txt people-toggle" ng-click="edit.copyPeople()" id ="people-toggle-flag">人物</span>
                                </div>
                                <div class="fll draft-signed-hd-right">
                                    <input placeholder="选填，少于50字" class="draft-sign-input" ng-model="edit.editManuscript.people"/>
                                </div>
                            </div>
                            <div class="draft-signed-hd-item clear">
                                <div class="fll draft-signed-hd-left">
                                    <span class="draft-sign-txt keyword-toggle" ng-click="edit.copyKeyword()" id ="keyword-toggle-flag" >关键字</span>
                                </div>
                                <div class="fll draft-signed-hd-right">
                                    <input placeholder="选填，少于50字" class="draft-sign-input" ng-model="edit.editManuscript.keywords"/>
                                </div>
                            </div>
                            <div class="draft-signed-hd-item clear">
                                <div class="fll draft-signed-hd-left">
                                    <span class="draft-sign-txt">稿件类别</span>
                                </div>
                                <div class="fll draft-signed-hd-right">
                                    <textarea type="text" class="edit-sort-input" data-toggle="modal" readonly
                                           ng-model="edit.categoryNameStr"></textarea>
                                    <span class="ml10 edit-sort-sel-btn"   ng-click="edit.editMsSortsModalShow()">选择</span>
                                </div>
                            </div>
                            <div class="draft-signed-hd-item clear">
                                <div class="fll draft-signed-hd-left">
                                    <span class="draft-sign-txt">时间</span>
                                </div>
                                <div class="fll draft-signed-hd-right">
                                    <input type="text" class="Wdate proof-date-input edit-ms-time-input"
                                           onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'});" class="Wdate" ng-model="edit.editManuscript.fTime" datepicker/>
                                </div>
                            </div>
                            <div class="tac">
                                <span class="dib cursor draft-home-abroad-btn" ng-class="{'selDraftBtnBg':edit.locationType == 0}" ng-click="edit.homeAbroadToggle(0)">境内</span>
                                <span class="dib cursor draft-home-abroad-btn" ng-class="{'selDraftBtnBg':edit.locationType == 1}" ng-click="edit.homeAbroadToggle(1)">境外</span>
                            </div>
                            <div class="draft-home-abroad-box clear" ng-show="edit.locationType == 0">
                                <select class="draft-procity-select" ng-change="edit.changeProv(edit.editManuscript.selProv)"
                                        ng-model="edit.editManuscript.selProv" ng-options="prov.p as prov.p for prov in edit.msCityList">
                                    <option value="">请选择</option>
                                </select>
                                <select class="draft-procity-select" ng-change="edit.changeCity(edit.editManuscript.selCity)"
                                        ng-model="edit.editManuscript.selCity" ng-options="city.n as city.n for city in edit.cities">
                                    <option value="">请选择</option>
                                </select>
                                <!--境内地区添加 县  add by xiayunan@20171012-->
								<select id="countySel" class="draft-procity-select" 
										ng-model="edit.editManuscript.selCounty" ng-options="county.s as county.s for county in edit.counties">
									<option  value="" >请选择</option>
								</select>
                            </div>
                            <div class="draft-aborad-item clear" ng-show="edit.locationType == 1">
                                <input placeholder="请输入境外地区" class="draft-sign-input" ng-model="edit.editManuscript.abroadPlace"/>
                            </div>
                            <div class="tac mt30 mb20">
                                <span class="dib draft-home-abroad-btn cursor" ng-class="{'selDraftBtnBg':edit.selDraftPriceBtn == 0}"  ng-click="edit.draftPriceToggle(0)">不定价</span>
                                <span class="dib draft-home-abroad-btn cursor" ng-class="{'selDraftBtnBg':edit.selDraftPriceBtn == 1}"  ng-click="edit.draftPriceToggle(1)">定价</span>
                                <p>
                                    <span class="dib draft-pic-not-sale-btn cursor" ng-class="{'selDraftBtnBg':edit.selDraftPriceBtn == 2}"  ng-click="edit.draftPriceToggle(2)">该图片暂不出售</span>
                                </p>
                            </div>
                            <div class="draft-signed-hd-item clear" ng-show="edit.selDraftPriceBtn == 1">
                                <div class="fll draft-pirce-input-left">
                                    <input placeholder="请输入价格" class="draft-price-input" ng-model="edit.editManuscript.price"/>
                                    <span>元</span>
                                </div>
                            </div>
                            <div class="draft-signed-hd-item clear">
                                <div class="fll draft-signed-hd-left">
                                    <span class="draft-sign-txt">编辑人员</span>
                                </div>
                                <div class="fll draft-signed-hd-right">
                                    <div class="draft-send-edit-line">
                                        <span ng-repeat="item in edit.manuscriptPros">
                                            {{item.operateUsername}}&nbsp;
                                        </span>
                                        <span ng-show="edit.manuscriptPros.length == 0">
                                            无
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <!-- <div class="ms-edit-btn">
                <input type="checkbox"/>全选
                <span class="ms-edit-sort">排序</span>
                &lt;!&ndash;<span class="ms-edit-del">批量删除图片说明</span>&ndash;&gt;
            </div>-->
            <div class="n-manuscript-container-bottom clear">
                <!--上传信息盒子-->
                <div class="ms-upinfo-box"></div>
                <!--上传图片-->
                <div ui-sortable ng-model="edit.upMenuscriptPicArr" style="margin-bottom: 300px;">
                    <div class="ms-pic-item clear cursor"  ng-repeat="item in edit.upMenuscriptPicArr">
                        <div>
                            <div class="clear">
                                <a class="newscript-pic-del cursor" ng-click="edit.removePicItem($index)">x</a>
                            </div>
                            <div class="ms-editDet-checkbox fll">
                                <input type="checkbox"/>
                            </div>
                            <div class="ms-details-pic fll " detail-show-middle-pic>
                                <div>
                                	<span style="margin-right: 15px;">{{$index+1}}</span>
                                    <select  class="ms-pic-pictype" ng-model="item.isCover"  ng-change="edit.changePicIsCover(item.isCover,$index)">
                                        <option value="1">主图</option>
                                        <option value="0">辅图</option>
                                    </select>
                                </div>
                                <div class="tac smt-vm-parent">
                                    <!--<img ng-src="{{filepreview}}" width="190" height="118"-->
                                    <!--class="ms-detail-picture">-->
                                    <img ng-src="{{item.img}}"
                                         class="ms-detail-picture img-responsive parent_pic">
                                    <!-- add by xiayunan@20171214 小图放大 -->
			                         <div class='smt-wm-box' style="width:680px;">
			                        	<img ng-src="{{item.wmImg}}"  >
			                        	<div class='showMiddlepics'>                                    		                                          		
			                                
										</div>
			                        </div>
                                         
                                         
                                </div>
                            </div>
                            <div class="ms-details-desc fll">
                                <div class="ms-addpic-item clear">
                                    <div class="ms-addpic-left fll">
                                        <span>拍摄时间</span>
                                    </div>
                                    <div class="ms-addpic-right fll">
                                        <input type="text" class="Wdate proof-date-input" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'});" class="Wdate" ng-model="item.filmTime" datepicker/>
                                    </div>
                                </div>
                                <div class="ms-addpic-item clear">
                                    <div class="ms-addpic-left fll">
                                        <span>人物</span>
                                    </div>
                                    <div class="ms-addpic-right fll">
                                        <input placeholder="选填" class="draft-sign-input pic-people" ng-model="item.people"/>
                                    </div>
                                </div>
                                <div class="ms-addpic-item clear">
                                    <div class="ms-addpic-left fll">
                                        <span>关键词</span>
                                    </div>
                                    <div class="ms-addpic-right fll">
                                        <input placeholder="选填" class="draft-sign-input pic-keyword" ng-model="item.keywords"/>
                                    </div>
                                </div>
                                <div class="ms-addpic-item clear">
                                    <div class="ms-addpic-left fll">
                                        <span>作者</span>
                                    </div>
                                    <div class="ms-addpic-right fll">
                                        <input placeholder="选填" class="draft-sign-input" ng-model="item.authorName"/>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-editDet-state fll">
                                <h5 class="ms-pic-txt" ng-click="edit.copyMemo()">图片说明</h5>
                                <textarea class="ms-pic-textarea pic-memo" placeholder="请输入图片说明" ng-model="item.memo"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
         
            	<div class="smt-detail-video"  style="display:none;">
	        		<!-- 视频显示 -->
					<span id="mas-video-box" >
						<iframe id='mas-video-detail' src="{{edit.masUrl}}"></iframe>
					</span>
	        	</div>
				
            </div>
        </div>
    </div>
    <!--社外作者添加弹框-->
    <div class="common-modal-style" id="edit-foreign-author-modal" style="display:none">
        <div class="role-add-con">
            <div class="role-add-tit">
                添加社外作者
            </div>
            <div class="role-add-main">
                <div class="role-add-form-info clear">
                    <div class="role-form-info-top clear">
                        <div class="fll new-manus-add-left">
                            <span>登录名</span>
                            <span class="color_red">*</span>
                        </div>
                        <input type="text" class="new-manus-add-input" ng-model="edit.authorInfo.loginName"/>
                    </div>
                    <div class="role-form-info-top clear mt15">
                        <div class="fll new-manus-add-left">
                            <span>作者名</span>
                            <span class="color_red">*</span>
                        </div>
                        <input type="text" class="new-manus-add-input" ng-model="edit.authorInfo.authorName"/>
                    </div>
                    <div class="role-form-info-top clear mt15">
                        <div class="fll new-manus-add-left">
                            <span>真实姓名</span>
                            <span class="color_red">*</span>
                        </div>
                        <input type="text" class="new-manus-add-input" ng-model="edit.authorInfo.trueName"/>
                    </div>
                    <div class="role-form-info-top clear mt15">
                        <div class="fll new-manus-add-left">
                            <span>密码</span>
                            <span class="color_red">*</span>
                        </div>
                        <input type="text" class="new-manus-add-input" ng-model="edit.authorInfo.pwd"/>
                    </div>
                    <div class="role-form-info-top clear mt15">
                        <div class="fll new-manus-add-left">邮箱</div>
                        <input type="text" class="new-manus-add-input" ng-model="edit.authorInfo.mail"/>
                    </div>
                    <div class="role-form-info-top clear mt15">
                        <div class="fll new-manus-add-left">电话</div>
                        <input type="text" class="new-manus-add-input" ng-model="edit.authorInfo.phone"/>
                    </div>
                </div>
            </div>
            <div class="tac">
                <span class="dib cursor user-add-btn" ng-click="edit.addForeignAuthor('edit-foreign-author-modal')">添加</span>
                <span class="dib cursor user-add-btn role-del-btn" ng-click="edit.editMenuscriptModalHide('edit-foreign-author-modal')">取消</span>
            </div>
        </div>
    </div>
    
    <!--返回确认弹框-->
    <div class="common-modal-style" id="return-confirm-modal"
         ng-mousemove="edit.moveModal('transfer-database-tit','return-confirm-modal')"
         style="display:none">
        <div class="role-add-con">
            <div id="return-confirm-tit" class="role-add-tit">
               保存稿件提醒
            </div>
            <div class="role-modal-con">
                您是否保存修改的稿件内容？
            </div>
            <div class="tac mt10">
                <span class="dib cursor user-add-btn" ng-click="edit.confirmSave('return-confirm-modal')">确定</span>
                <span class="dib cursor user-add-btn" ng-click="edit.cancelSave('return-confirm-modal')">取消</span>
            </div>
        </div>
    </div>

    <!--编辑分类模态框-->
    <div class="modal fade" id="edit-sort-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="role-add-con">
                        <div class="role-add-tit clear" id="role-add-tit">
                            <span class="fll">稿件类别</span>
                            <span class="flr curp tit-close" data-dismiss="modal">×</span>
                        </div>
                        <div class="role-modal-con">
                            <!--稿件类别-->
                            <ul id="edit_sort_tree" class="ztree" style="overflow: auto;height: 500px;"></ul>
                        </div>
                        <div class="tac mt10">
                            <span class="dib cursor user-add-btn"   ng-click="edit.confirmEditMsSorts()">确定</span>
                            <span class="dib cursor user-add-btn cancel-btn-color"  data-dismiss="modal">取消</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>