<div class="user-manager-container">
    <div class="oH smt-tit">
        <role-common-tit value="待发稿件" class="fll"></role-common-tit>
        <div class="smt-detail fll">稿件详情</div>
    </div>
    <div class="send-lock-box color_red ml10" ng-if="(detail.msDelRemark) && (detail.manuscriptDetail.deleteFlag == 1)">
        <span>删除评语：</span>
        <span>{{detail.msDelRemark}}</span>
    </div>
    <div class="send-lock-box" ng-if="detail.manuscriptDetail.isLocked == 1">
        <span>稿件被[</span>
        <span class="color_red">{{detail.manuscriptDetail.lockerName}}</span>
        <span>]锁定</span>
        <a class="cursor ml10"  ng-click="detail.unlockManuscript()">强行解锁</a>
    </div>
    <div class="mt20">
       <span class="color_red" ng-if="detail.sensitiveWord">此稿件包含敏感词：{{detail.sensitiveWord}}</span>
    </div>
    <div>
        <div class="smt-detail-operate">
            <span ui-sref="role.manager.sendManuscript()">返回</span>
            <span ng-hide="(detail.manuscriptDetail.deleteFlag == 1) || ((detail.manuscriptDetail.isLocked == 1) || (detail.dtType < detail.manuscriptDetail.groupStatus)) || ((detail.fristPfdUser != detail.uName) && (detail.dtType == 1))" ng-click="detail.editSendManuscript()">编辑</span>
            <span  ng-if="(detail.manuscriptDetail.deleteFlag == 0) && (detail.dtType == 1) && (detail.manuscriptDetail.groupStatus == 1) && (detail.manuscriptDetail.isLocked != 1) && (detail.fristPfdUser == detail.uName)"  ng-click="detail.commitModalShow('commit-confirm-modal', 1)">提交</span>
             <span  ng-if="(detail.manuscriptDetail.deleteFlag == 0) && ((detail.dtType == 2)||(detail.dtType == 3)) && (detail.manuscriptDetail.groupStatus <= 2) && (detail.manuscriptDetail.isLocked != 1)"  ng-click="detail.commitModalShow('commit-confirm-modal', detail.manuscriptDetail.groupStatus)">提交</span>
            <span ng-if="(detail.manuscriptDetail.deleteFlag == 0) && (detail.dtType == 3) && (detail.manuscriptDetail.groupStatus == 3) && (detail.manuscriptDetail.isLocked != 1)" ng-click="detail.signModalShow('sign-manuscript-modal')">签发</span>
            <span ng-if="(detail.manuscriptDetail.deleteFlag == 0) && (detail.dtType == 3) && (detail.manuscriptDetail.groupStatus == 3) && (detail.manuscriptDetail.isLocked != 1)" ng-click="detail.signModalShow2('sign-manuscript-modal2')">签报</span>
            <span ng-hide="(detail.manuscriptDetail.deleteFlag == 1) || ((detail.manuscriptDetail.isLocked == 1) || (detail.dtType < detail.manuscriptDetail.groupStatus)) || ((detail.fristPfdUser != detail.uName) && (detail.dtType == 1))" ng-click="detail.delModalShow('commit-del-modal')">删除</span>
            <div class="smt-manage-box">
                <p class="smt-manage-operate-detail smt-spec-manage-operate" ng-click="detail.toggleMangeOperateCon()">管理</p>
                <div class="smt-manage-con" ng-if="detail.mangeOperateFlag">
                    <p class="smt-manage-operate-detail" ng-hide="(detail.manuscriptDetail.deleteFlag == 1) || ((detail.manuscriptDetail.isLocked == 1) || (detail.dtType != detail.manuscriptDetail.groupStatus)) || ((detail.fristPfdUser != detail.uName) && (detail.dtType == 1))"  ng-click="detail.backManuscriptModalShow('back-manuscript-modal')">退稿</p>
                    <p class="smt-manage-operate-detail" ng-hide="(detail.manuscriptDetail.deleteFlag == 1) || ((detail.manuscriptDetail.isLocked == 1) || (detail.dtType != detail.manuscriptDetail.groupStatus)) || ((detail.fristPfdUser != detail.uName) && (detail.dtType == 1))"  ng-click="detail.innerLeaveInfo('Info-manuscript-modal')">内部留资</p>
                    <p class="smt-manage-operate-detail" ui-sref="role.manager.historyVersion({groupId: detail.groupId,dtType: detail.dtType})">历史版本</p>
                    <p class="smt-manage-operate-detail" ui-sref="role.manager.operateRecord({groupId: detail.groupId,dtType: detail.dtType})">操作记录</p>
                </div>
            </div>
        </div>
        <div class="smt-detail-main mt10">
            <div class="smt-detail-tit oH">
                <h3 class="fll fwb">{{detail.manuscriptDetail.title}}</h3>
                <span class="fll">{{detail.manuscriptDetail.pictureCount}}张</span>
            </div>
            <div class="smt-detail-cont">
                <div class="oH">
                    <p class="w20p">
                        <span class="smt-detail-term">拍摄时间</span>
                        <span class="ml10">{{detail.manuscriptDetail.fileTime | date : 'yyyy-MM-dd'}}</span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">作者</span>
                        <span class="ml10 author_cur" ng-if="detail.manuscriptDetail.author != '匿名'" ng-click='detail.authorinfor(detail.manuscriptDetail.authorId)'>{{detail.manuscriptDetail.author}}</span>
                        <!--因为当用户匿名时需要显示真实名 + 空格 + 匿名-->
                        <span class="ml10 author_cur" ng-if="detail.manuscriptDetail.author == '匿名'" ng-click='detail.authorinfor(detail.manuscriptDetail.authorId)'>{{detail.manuscriptDetail.truename}}&nbsp;&nbsp;{{detail.manuscriptDetail.author}}</span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">编辑人员</span>
                        <span class="ml10">{{detail.manuscriptDetail.updateUser}}</span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">稿件类别</span>
                        <span class="ml10" ng-repeat="item in detail.manuscriptCates">
                            <span>{{item.categoryName}}</span>
                        </span>
                    </p>
                </div>
                <div class="oH">
                    <!--<p class="w20p">-->
                        <!--<span class="smt-detail-term">发布时间</span>-->
                        <!--<span class="ml10">{{detail.manuscriptDetail.sginTime | date:'yyyy-MM-hh HH:mm:ss'}}</span>-->
                    <!--</p>-->
                    <p class="w20p">
                        <span class="smt-detail-term">编辑时间</span>
                        <span class="ml10">{{detail.manuscriptDetail.updateTime | date:'yyyy-MM-hh HH:mm:ss'}}</span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">人物</span>
                        <span class="ml10">{{detail.manuscriptDetail.people}}</span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">地点</span>
                        <span class="ml10">{{detail.manuscriptDetail.place}}</span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">稿件属性</span>
                        <span class="ml10">{{detail.manuscriptDetail.properties | manuscriptFilter}}</span>
                    </p>
                </div>
                <div class="oH">
                    <p class="w20p">
                        <span class="smt-detail-term">上传时间</span>
                        <span class="ml10">{{detail.manuscriptDetail.applyTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">是否限价</span>
                        <span class="ml10">{{detail.manuscriptDetail.priceType | priceTypeFilter}}</span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">价格</span>
                        <span class="ml10" ng-if="(detail.manuscriptDetail.price) || (detail.manuscriptDetail.price == 0)">
                            {{detail.manuscriptDetail.price}}
                        </span>
                        <span ng-if="(!detail.manuscriptDetail.price) && (detail.manuscriptDetail.price!=0)">
                            无
                        </span>
                    </p>
                    <p class="w20p">
                        <span class="smt-detail-term">关键词</span>
                        <span class="w75p ml10">{{detail.manuscriptDetail.keywords}}</span>
                    </p>
                </div>
                <div class="oH">
                    <p class="w100p">
                        <span class="smt-detail-term">稿件说明</span>
                        <span class="w75p ml10" ng-bind-html="detail.manuscriptDetail.memo | trustHtml"></span>
                    </p>
                </div>
                <div class="oH">
                    <p class="w100p">
                        <span class="smt-detail-term">备注</span>
                        <span class="w75p ml10" ng-bind-html="detail.manuscriptDetail.remark | trustHtml"></span>
                    </p>
                </div>
            </div>
            <div class="smt-detail-pic">
                <div class="smt-detail-picItem clearfloat" ng-repeat="item in detail.manuscriptDetail.pics"detail-show-middle-pic>
                    <div class="fll w30p smt-vm-parent">
                        <span>{{item.isCover | isCoverFilter}}</span><br/>
                        <img ng-src="{{item.smallPath}}" class="img-responsive parent_pic"/>
                        <div class='smt-wm-box'>
                        	<img ng-src="{{item.wmPath}}">
                        	<div class='showMiddlepics'>                                    		                                          		
                                <table border='1' width='100%' cellpadding="10">
                                    	        <caption >EXIF信息</caption>
                                    	        <tr>
                                    	           	<td>光圈数</td>
                                    	           	<td>{{item.exFnumber}}</td>
                                    	        </tr>
                                    	        <tr>
                                    	           	<td>感光度</td>
                                    	           	<td>{{item.exIso}}</td>
                                    	        </tr>
                                    	        <tr>
                                    	           	<td>拍摄相机</td>
                                    	           	<td>{{item.exModel}}</td>
                                    	        </tr>
                                    	        <tr>
                                    	           	<td>拍摄时间</td>
                                    	           	<td>{{item.exDatetime |date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                    	        </tr>
                                    	    </table>
							</div>
                        </div>
                    </div>
                    <div class="picItem-detail fll w30p">
                        <p>
                            <span class="smt-detail-term">文件名</span>
                            <span class="ml10">{{item.filename}}</span>
                        </p>
                        <p>
                            <span class="smt-detail-term">原文件名</span>
                            <span class="ml10">{{item.sourcePictureName}}</span>
                        </p>
                        <p>
                            <span class="smt-detail-term">原始尺寸</span>
                            <span class="ml10">{{item.pictureWidth}}*{{item.pictureHeight}}像素</span>
                        </p>
                        <p>
                            <span class="smt-detail-term">文件大小</span>
                            <span class="ml10">{{item.pictureLength / 1024 | number : 2}}K</span>
                        </p>
                        <p>
                            <span class="smt-detail-term">拍摄时间</span>
                            <span class="ml10">{{item.filmTime | date : 'yyyy-MM-dd'}}</span>
                        </p>
                        <p>
                            <span class="smt-detail-term">作者</span>
                            <span class="ml10">{{item.authorName}}</span>
                        </p>
                        <p>
                            <span class="smt-detail-term">人物</span>
                            <span class="ml10">{{item.people}}</span>
                        </p>
                        <p>
                            <span class="smt-detail-term">关键字</span>
                            <span class="ml10">{{item.keywords}}</span>
                        </p>
                    </div>
                    <div class="picItem-illustrate fll w30p">
                        <p class="picItem-illustrate-tit">图片说明</p>
                        <p class="mt15">{{item.memo}}</p>
                    </div>
                </div>
            </div>
        	<div class="smt-detail-video" ng-hide="detail.manuscriptDetail.videoId == 0">
        		<!-- 视频显示 -->
					<span id="mas-video-box-detail" >
						<iframe id='mas-video-detail' src='{{detail.masUrl}}'></iframe>
					</span>
        	</div>
        </div>
    </div>
    <!--作者信息弹框-->
	<div class="common-modal-style" id="authorinformation-modal" ng-mousemove="detail.moveModal('authorinformation-tit','authorinformation-modal')" style="display:none">
			<div class="role-add-con">
				<div id="authorinformation-tit" class="user-add-tit clear">
					<span class="fll">查看作者信息</span>
					<span class="flr curp tit-close" ng-click="detail.hideAuthorinfor()">×</span>
				</div>
			</div>
			<div class='clearfloat'>
			   <div class='authorinformation_box'>
			   	<span class='authorinformation_left'>用户名:</span><span class='authorinformation_right' title='{{detail.author.userName}}'>{{detail.author.userName}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>真实姓名:</span><span class='authorinformation_right' title='{{detail.author.tureName}}'>{{detail.author.tureName}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>作者名:</span><span class='authorinformation_right' title='{{detail.author.authorName}}'>{{detail.author.authorName}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>联系邮箱:</span><span class='authorinformation_right' title='{{detail.author.emailBind}}'>{{detail.author.emailBind}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>联系手机:</span><span class='authorinformation_right' title='{{detail.author.telBind}}'>{{detail.author.telBind}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>详细地址:</span><span class='authorinformation_right'title='{{detail.author.address}}'>{{detail.author.address}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>用户类别:</span><span class='authorinformation_right'title='{{detail.author.rolenames}}'>{{detail.author.rolenames}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>身份证号:</span><span class='authorinformation_right' title='{{detail.author.idCard}}'>{{detail.author.idCard}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>所属省市:</span><span class='authorinformation_right' title='{{detail.author.province}} {{detail.author.city}}'>{{detail.author.province}}&nbsp;{{detail.author.city}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>单位名称:</span><span class='authorinformation_right' title='{{detail.author.unitName}}'>{{detail.author.unitName}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>Q Q:</span><span class='authorinformation_right' title='{{detail.author.standby1}}'>{{detail.author.standby1}}</span>
			   </div>
			   <div class='authorinformation_box'>
			   	 <span class='authorinformation_left'>微 信:</span><span class='authorinformation_right' title='{{detail.author.standby2}}'>{{detail.author.standby2}}</span>
			   </div>
			</div>
	</div>
    <!--提交弹框-->
    <div class="common-modal-style" id="commit-confirm-modal" style="display:none">
        <div class="role-add-con">
            <div class="role-add-tit">
                确认框
            </div>
            <div class="role-modal-con">
                是否确认提交到下一级校审？
            </div>
            <div class="tac mt10">
                <span class="dib cursor user-add-btn"  ng-click="detail.confirmCommit('commit-confirm-modal')">确定</span>
                <span class="dib cursor user-add-btn role-del-btn"  ng-click="detail.manuscriptDetailModalHide('commit-confirm-modal')">取消</span>
            </div>
        </div>
    </div>
    <!--删除弹框-->
    <div class="common-modal-style" id="commit-del-modal" style="display:none">
        <div class="role-add-con">
            <div class="role-add-tit">
                删除评语
            </div>
            <div class="role-modal-con">
                <span class="back-draft-comments-tit">删除评语：</span>
                <textarea class="back-draft-comments" placehoder="请输入删除评语" ng-model="detail.delManuscriptReson">
                </textarea>
            </div>
            <div class="tac mt10">
                <span class="dib cursor user-add-btn" ng-click="detail.confirmDelManuscript('commit-del-modal')">确定</span>
                <span class="dib cursor user-add-btn cancel-btn-color"   ng-click="detail.manuscriptDetailModalHide('commit-del-modal')">取消</span>
            </div>
        </div>
    </div>
    <!--留资弹框-->
    <div class="common-modal-style" id="Info-manuscript-modal" style="display:none">
        <div class="role-add-con">
            <div class="role-add-tit">
                留资理由
            </div>
            <div class="role-modal-con">
                <span class="back-draft-comments-tit">留资理由：</span>
                <textarea class="back-draft-comments" placehoder="请输入留资理由" ng-model="detail.info">
                </textarea>
            </div>
            <div class="tac mt10">
                <span class="dib cursor user-add-btn"   ng-click="detail.innerLeave('Info-manuscript-modal')">确定</span>
                <span class="dib cursor user-add-btn cancel-btn-color"   ng-click="detail.manuscriptDetailModalHide('Info-manuscript-modal')">取消</span>
            </div>
        </div>
    </div>
    <!--退稿弹框-->
    <div class="common-modal-style" id="back-manuscript-modal" style="display:none">
        <div class="role-add-con">
            <div class="role-add-tit">
                退稿评语
            </div>
            <div class="role-modal-con">
               <span class="back-draft-comments-tit">退稿评语：</span>
                <textarea class="back-draft-comments" placehoder="请输入退稿评语" ng-model="detail.backManuscriptReson">
                </textarea>
            </div>
            <div class="tac mt10">
                <span class="dib cursor user-add-btn"   ng-click="detail.confirmBackManuscript('back-manuscript-modal')">确定</span>
                <span class="dib cursor user-add-btn cancel-btn-color"   ng-click="detail.manuscriptDetailModalHide('back-manuscript-modal')">取消</span>
            </div>
        </div>
    </div>
    <!--签发弹框-->
    <div class="common-modal-style" id="sign-manuscript-modal"
         ng-mousemove="detail.moveModal('role-add-tit','sign-manuscript-modal')"
         style="display:none">
        <div class="role-add-con">
            <div class="role-add-tit clear" id="role-add-tit">
                <span class="fll">签发稿件</span>
                <span class="flr curp tit-close" ng-click="detail.manuscriptDetailModalHide('sign-manuscript-modal')">×</span>
            </div>
            <div class="role-modal-con">
              <!--签发-->
              	<h3>首页专题栏目</h3>
                <ul id="treeDemo" class="ztree"></ul>
                <!--签发到专题-->
                <hr/>
                <h3>自定义专题栏目</h3>
                <ul id="tree" class="ztree"></ul>
            </div>
            <div class="tac mt10">
                <span class="dib cursor user-add-btn"   ng-click="detail.signManuscript('sign-manuscript-modal')">签发</span>
                <span class="dib cursor user-add-btn cancel-btn-color"   ng-click="detail.manuscriptDetailModalHide('sign-manuscript-modal')">取消</span>
            </div>
        </div>
    </div>
    
     <!--签报弹框-->
    <div class="common-modal-style2" id="sign-manuscript-modal2"
         ng-mousemove="detail.moveModal('role-add-tit','sign-manuscript-modal2')"
         style="display:none;" >
        <div class="role-add-con">
            <div class="role-add-tit clear" id="role-add-tit">
                <span class="fll">签报稿件</span>
                <span class="flr curp tit-close" ng-click="detail.manuscriptDetailModalHide('sign-manuscript-modal2')">×</span>
            </div>
            <div text-align="left">
              	报社图片 <input type="radio" name="checkpic" value="1" checked="true"/>
                 &nbsp;&nbsp;&nbsp;&nbsp;
                新华社图片<input type="radio" name="checkpic" value="0"/>
                
            </div>
            <div class="tac mt10">
                <span class="dib cursor user-add-btn"   ng-click="detail.signManuscript2('sign-manuscript-modal2')">确定</span>
                <span class="dib cursor user-add-btn cancel-btn-color"   ng-click="detail.manuscriptDetailModalHide('sign-manuscript-modal2')">取消</span>
            </div>
        </div>
    </div>
    
    <!--签发浏览位置弹框-->
    <div class="common-modal-style" id="look-sign-pos-modal"
         ng-mousemove="detail.moveModal('merge-modal-tit','look-sign-pos-modal')"
         style="display:none">
        <div class="role-add-con">
            <div id="merge-modal-tit" class="role-add-tit oH">
                <span class="fll">查看已签稿件位置</span>
                <span class="flr curp tit-close"
                      ng-click="detail.manuscriptDetailModalHide('look-sign-pos-modal')">×</span>
            </div>
            <div class="ova" style="height: 465px;">
                <div class="role-modal-con">
                    <div>
                        <div class="table-responsive">
                            <table  class="table table-bordered uInfo-table fz16">
                                <thead>
                                    <tr>
                                        <th class="uinfo-hd-th">序号</th>
                                        <th class="uinfo-hd-th">标题</th>
                                        <th class="uinfo-hd-th">签发位</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="detail.signedGroupList" ng-repeat="item in detail.signedGroupList">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.TITLE}}</td>
                                        <td>{{item.POSITION}}</td>
                                    </tr>
                                    <tr ng-if="detail.signedGroupList.length == 0">
                                        <td colspan="3">
                                            尚未签发
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--签发浏览位置弹框-->
    <div class="common-modal-style" id="look-sign-pos-modals"
         ng-mousemove="detail.moveModal('merge-modals-tit','look-sign-pos-modals')"
         style="display:none">
        <div class="role-add-con">
            <div id="merge-modals-tit" class="role-add-tit oH">
                <span class="fll">查看已签稿件位置</span>
                <span class="flr curp tit-close"
                      ng-click="detail.manuscriptDetailModalHide('look-sign-pos-modals')">×</span>
            </div>
            <div class="ova" style="height: 465px;">
                <div class="role-modal-con">
                    <div>
                        <div class="table-responsive">
                            <table  class="table table-bordered uInfo-table fz16">
                                <thead>
                                    <tr>
                                        <th class="uinfo-hd-th">标题</th>
                                        <th class="uinfo-hd-th">序号</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="detail.lanmu_group" ng-repeat="item in detail.lanmu_group">
                                        <td ng-if='item.cpLanmuGroupPic'>{{item.cpLanmuGroupPic.title}}</td>
                                        <td ng-if='item.cpLanmuGroupPic'>{{$index + 1}}</td>
                                    </tr>
                                    <tr ng-if="detail.lanmu_group.length == 0">
                                        <td colspan="2">
                                            尚未签发
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
