<div class="login-container">
    <div class="l-register-bg">
        <div class="register-header-tit">
            <span class="l-first-part register-cns">CNS</span>
            <span class="l-later-part register-pic">PHOTO</span>
        </div>
    </div>
    <div class="l-register-layer clear">
        <div class="l-register-left">
            <div class="l-left-inside">
                <h5 class="l-phone-reg">手机号码注册</h5>
                <div>
                    <input placeholder="请输入常用手机号码" class="l-inside-input"/>
                </div>
                <div class="clear">
                    <input placeholder="请输入验证码" class="l-inside-input l-valid-code"/>
                    <div class="l-code-btn l-code-bg cursor">
                        <img src="admin/assets/img/login/valid_code.jpg" width="110" height="38"/>
                    </div>
                </div>
                <div class="clear">
                    <input placeholder="请输入短信验证码" class="l-inside-input l-valid-code"/>
                    <div class="l-code-btn cursor">
                        获取验证码
                    </div>
                </div>
                <div>
                    <input placeholder="请输入密码" class="l-inside-input"/>
                </div>
                <div>
                    <input placeholder="请再次输入密码" class="l-inside-input"/>
                </div>
                <div class="clear">
                    <button class="m-btn-register btn-r-dh">注册订户</button>
                    <button class="m-btn-register btn-r-sys">注册摄影师</button>
                </div>

                <div class="l-read-protol">
                    <input type="checkbox"  class="l-green-protocal"/>
                    <span>我已阅读并同意</span>
                    <a>《中国新闻图片网用户协议》</a>
                </div>
                <div class="cursor">
                    <div class="l-inside-input btn-dh">注册订户</div>
            </div>
        </div>
        </div>
        <div class="l-register-right clear">
            <div class="r-left-line">
                <img src="admin/assets/img/login/did_line.png" width="2" height="392"/>
            </div>
            <div class="r-right-msg">
                <div class="r-direct-con">
                    <p class="r-has-account">已有photo账号：</p>
                    <a class="cursor r-direct-btn">直接登录</a>
                </div>
                <div>
                    <p>使用以下账号直接登录</p>
                    <div class="r-account-login">
                        <a class="r-login-way r-login-sina cursor"></a>
                        <a class="r-login-way r-login-qq cursor"></a>
                        <a class="r-login-way r-login-wx cursor"></a>
                    </div>
                </div>
                <div class="l-scan-box">
                    <img src="admin/assets/img/login/cns_wx.png" width="172" height="166"/>
                    <p class="l-scan-wx">
                        [扫码关注中新社图片网微信公众号]
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>