<div class="forget-password-container">
    <div class="forget-password-head">
        <span>找回登录密码</span>
    </div>
    <div class="forget-passwordOne-flowCharOne">
        <span class="forget-password-centerLeft">1 确认账号</span>
        <span class="forget-password-centerOne">2 验证身份</span>
        <span class="forget-password-centerTwo">3 设置密码信息</span>
        <span class="forget-password-centerRight">4 重置成功</span>
    </div>

    <div class="forget-passwordOne-content">
        <div class="forget-passwordOne-leftContent fll">
            <div>
                <div class="tar mt5">请选择验证方式：</div>
                <div class="forget-password-conTop tar">用户名：</div>
                <div ng-show="forgetPasswordStepOne.status==2||forgetPasswordStepOne.status==1" class="forget-password-conTop tar">已验证手机：</div>
                <div ng-show="forgetPasswordStepOne.status==3||forgetPasswordStepOne.status==1" class="forget-password-conTop tar">已验证邮箱：</div>
                <div class="forget-password-conTop tar">验证码：</div>
            </div>
        </div>
        <div class="forget-passwordOne-RightContent flr">
            <div class="forget-passwordOne-RightWidth">
                <select ng-model="forgetPasswordStepOne.selPattern" class="forget-password-inputText">
                    <option value="">请选择</option>
                    <option value="1" ng-show="forgetPasswordStepOne.status==2||forgetPasswordStepOne.status==1">手机验证</option>
                    <option value="2" ng-show="forgetPasswordStepOne.status==3||forgetPasswordStepOne.status==1">邮箱验证</option>
                </select>
            </div>
            <div class="forget-passwordOne-RightWidth mt15 tal">
                <span ng-bind="forgetPasswordStepOne.userName"></span>
            </div>
            <div ng-show="forgetPasswordStepOne.status==2||forgetPasswordStepOne.status==1" class="forget-passwordOne-RightWidth mt10 tal">
                <span ng-bind="forgetPasswordStepOne.telBind"></span>
            </div>
            <div ng-show="forgetPasswordStepOne.status==3||forgetPasswordStepOne.status==1" class="forget-passwordOne-RightWidth mt10 tal">
                <span ng-bind="forgetPasswordStepOne.emailBind"></span>
            </div>
            <div class="forget-passwordOne-RightWidth mt7 tal">
                <span><input type="text" ng-disabled="forgetPasswordStepOne.vilidateStatus" ng-model="forgetPasswordStepOne.vilidate" class="forget-password-inputText"></span>
                <span>
                    <input type="button" id="forgetOneBtn" value="点击获取" class="forget-passwordOne-inputBtn" ng-click="forgetPasswordStepOne.getVilidata()">
                </span>
            </div>
            <div id="viliPage" class="forget-passwordOne-prompt mt3 tal">
                <span>验证码已发出，<span id="viliCount"></span>s 内有效，请勿泄露。</span>
            </div>
            <div class="forget-passwordOne-RightWidth mt7 tal">
                <input type="button" value="提交" class="forget-password-inputBtn" ng-click="forgetPasswordStepOne.submitVilidata()">
            </div>
        </div>
    </div>


</div>
