<div class="person-pic-container">
    <!--热点聚焦-->
    <div class="person-focus-box">
        <div class="person-pic-focus  clear">
                <div class="hd-hot-topic cursor">
                    <span class="daily-rec-left-arrow">&gt;&gt;</span>
                    <span class="daily-rec-tit">热点聚焦</span>
                </div>
                <div class="ad-focus-pic clear">
                    <img src="client/assets/img/pic-12.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic clear">
                    <img src="client/assets/img/pic-13.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic clear">
                    <img src="client/assets/img/pic-14.jpg" class="hd-ad-pic cursor">
                </div>
                <div class="ad-focus-pic clear">
                    <img src="client/assets/img/pic-15.jpg" class="hd-ad-pic cursor">
                </div>
        </div>
        <div class="person-pic-focus-con  clear">
                <div class="person-industry-hd-bg">
                    <span class="person-ind-tit">政治军事界：：：：：</span>
                </div>
                <!--中央领导-->
                <div class="pic-focus-item">
                    <div>
                        <div class="person-photo-tit person-ind-hd-txt">
                           中央领导
                        </div>
                    </div>
                    <div class="tal">
                        <div class="person-ind-hd-img">
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                            <img src="client/assets/img/pic-22.jpg" class="person-Photo-name"/>
                        </div>
                        <div class="person-ind-bd-txt">
                            <a class="cursor">
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">马凯</a>
                                <a class="change-hover-color mr10">王沪宁</a>
                                <a class="change-hover-color mr10">刘延东</a>
                                <a class="change-hover-color mr10">刘奇葆</a>
                                <a class="change-hover-color mr10">许其亮</a>
                                <a class="change-hover-color mr10">孙春兰</a>
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">孙政才</a>
                                <a class="change-hover-color mr10">李建国</a>
                                <a class="change-hover-color mr10">汪洋</a>
                                <a class="change-hover-color mr10">张春贤</a>
                                <a class="change-hover-color mr10">范长龙</a>
                                <a class="change-hover-color mr10">孟建柱</a>
                                <a class="change-hover-color mr10">赵乐际</a>
                                <a class="change-hover-color mr10">胡春华</a>
                                <a class="change-hover-color mr10">栗战书</a>
                                <a class="change-hover-color mr10">郭金龙</a>
                                <a class="change-hover-color mr10">韩正</a>
                                <a class="change-hover-color mr10">杜青林</a>
                                <a class="change-hover-color mr10">赵洪祝</a>
                                <a class="change-hover-color mr10">杨晶</a>
                                <a class="change-hover-color mr10">黄树贤</a>
                                <a class="change-hover-color mr10">李玉赋</a>
                                <a class="change-hover-color mr10">吴玉良</a>
                                <a class="change-hover-color mr10">张军</a>
                                <a class="change-hover-color mr10">杨晓渡</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--全国人大-->
                <div class="pic-focus-item">
                    <div>
                        <div class="person-photo-tit person-ind-hd-txt">
                            全国人大
                        </div>
                    </div>
                    <div class="tal">
                        <div class="person-ind-bd-txt">
                            <a class="cursor">
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">马凯</a>
                                <a class="change-hover-color mr10">王沪宁</a>
                                <a class="change-hover-color mr10">刘延东</a>
                                <a class="change-hover-color mr10">刘奇葆</a>
                                <a class="change-hover-color mr10">许其亮</a>
                                <a class="change-hover-color mr10">孙春兰</a>
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">孙政才</a>
                                <a class="change-hover-color mr10">李建国</a>
                                <a class="change-hover-color mr10">汪洋</a>
                                <a class="change-hover-color mr10">张春贤</a>
                                <a class="change-hover-color mr10">范长龙</a>
                                <a class="change-hover-color mr10">孟建柱</a>
                                <a class="change-hover-color mr10">赵乐际</a>
                                <a class="change-hover-color mr10">胡春华</a>
                                <a class="change-hover-color mr10">栗战书</a>
                                <a class="change-hover-color mr10">郭金龙</a>
                                <a class="change-hover-color mr10">韩正</a>
                                <a class="change-hover-color mr10">杜青林</a>
                                <a class="change-hover-color mr10">赵洪祝</a>
                                <a class="change-hover-color mr10">杨晶</a>
                                <a class="change-hover-color mr10">黄树贤</a>
                                <a class="change-hover-color mr10">李玉赋</a>
                                <a class="change-hover-color mr10">吴玉良</a>
                                <a class="change-hover-color mr10">张军</a>
                                <a class="change-hover-color mr10">杨晓渡</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--全国政协-->
                <div class="pic-focus-item">
                    <div>
                        <div class="person-photo-tit person-ind-hd-txt">
                            全国政协
                        </div>
                    </div>
                    <div class="tal">
                        <div class="person-ind-bd-txt">
                            <a class="cursor">
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">马凯</a>
                                <a class="change-hover-color mr10">王沪宁</a>
                                <a class="change-hover-color mr10">刘延东</a>
                                <a class="change-hover-color mr10">刘奇葆</a>
                                <a class="change-hover-color mr10">许其亮</a>
                                <a class="change-hover-color mr10">孙春兰</a>
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">孙政才</a>
                                <a class="change-hover-color mr10">李建国</a>
                                <a class="change-hover-color mr10">汪洋</a>
                                <a class="change-hover-color mr10">张春贤</a>
                                <a class="change-hover-color mr10">范长龙</a>
                                <a class="change-hover-color mr10">孟建柱</a>
                                <a class="change-hover-color mr10">赵乐际</a>
                                <a class="change-hover-color mr10">胡春华</a>
                                <a class="change-hover-color mr10">栗战书</a>
                                <a class="change-hover-color mr10">郭金龙</a>
                                <a class="change-hover-color mr10">韩正</a>
                                <a class="change-hover-color mr10">杜青林</a>
                                <a class="change-hover-color mr10">赵洪祝</a>
                                <a class="change-hover-color mr10">杨晶</a>
                                <a class="change-hover-color mr10">黄树贤</a>
                                <a class="change-hover-color mr10">李玉赋</a>
                                <a class="change-hover-color mr10">吴玉良</a>
                                <a class="change-hover-color mr10">张军</a>
                                <a class="change-hover-color mr10">杨晓渡</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--国家机关-->
                <div class="pic-focus-item">
                    <div>
                        <div class="person-photo-tit person-ind-hd-txt">
                            国家机关
                        </div>
                    </div>
                    <div class="tal">
                        <div class="person-ind-bd-txt">
                            <a class="cursor">
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">马凯</a>
                                <a class="change-hover-color mr10">王沪宁</a>
                                <a class="change-hover-color mr10">刘延东</a>
                                <a class="change-hover-color mr10">刘奇葆</a>
                                <a class="change-hover-color mr10">许其亮</a>
                                <a class="change-hover-color mr10">孙春兰</a>
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">孙政才</a>
                                <a class="change-hover-color mr10">李建国</a>
                                <a class="change-hover-color mr10">汪洋</a>
                                <a class="change-hover-color mr10">张春贤</a>
                                <a class="change-hover-color mr10">范长龙</a>
                                <a class="change-hover-color mr10">孟建柱</a>
                                <a class="change-hover-color mr10">赵乐际</a>
                                <a class="change-hover-color mr10">胡春华</a>
                                <a class="change-hover-color mr10">栗战书</a>
                                <a class="change-hover-color mr10">郭金龙</a>
                                <a class="change-hover-color mr10">韩正</a>
                                <a class="change-hover-color mr10">杜青林</a>
                                <a class="change-hover-color mr10">赵洪祝</a>
                                <a class="change-hover-color mr10">杨晶</a>
                                <a class="change-hover-color mr10">黄树贤</a>
                                <a class="change-hover-color mr10">李玉赋</a>
                                <a class="change-hover-color mr10">吴玉良</a>
                                <a class="change-hover-color mr10">张军</a>
                                <a class="change-hover-color mr10">杨晓渡</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--军队警方-->
                <div class="pic-focus-item">
                    <div>
                        <div class="person-photo-tit person-ind-hd-txt">
                            军队警方
                        </div>
                    </div>
                    <div class="tal">
                        <div class="person-ind-bd-txt">
                            <a class="cursor">
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">马凯</a>
                                <a class="change-hover-color mr10">王沪宁</a>
                                <a class="change-hover-color mr10">刘延东</a>
                                <a class="change-hover-color mr10">刘奇葆</a>
                                <a class="change-hover-color mr10">许其亮</a>
                                <a class="change-hover-color mr10">孙春兰</a>
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">孙政才</a>
                                <a class="change-hover-color mr10">李建国</a>
                                <a class="change-hover-color mr10">汪洋</a>
                                <a class="change-hover-color mr10">张春贤</a>
                                <a class="change-hover-color mr10">范长龙</a>
                                <a class="change-hover-color mr10">孟建柱</a>
                                <a class="change-hover-color mr10">赵乐际</a>
                                <a class="change-hover-color mr10">胡春华</a>
                                <a class="change-hover-color mr10">栗战书</a>
                                <a class="change-hover-color mr10">郭金龙</a>
                                <a class="change-hover-color mr10">韩正</a>
                                <a class="change-hover-color mr10">杜青林</a>
                                <a class="change-hover-color mr10">赵洪祝</a>
                                <a class="change-hover-color mr10">杨晶</a>
                                <a class="change-hover-color mr10">黄树贤</a>
                                <a class="change-hover-color mr10">李玉赋</a>
                                <a class="change-hover-color mr10">吴玉良</a>
                                <a class="change-hover-color mr10">张军</a>
                                <a class="change-hover-color mr10">杨晓渡</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--地方领导-->
                <div class="pic-focus-item">
                    <div>
                        <div class="person-photo-tit person-ind-hd-txt">
                            地方领导
                        </div>
                    </div>
                    <div class="tal">
                        <div class="person-ind-bd-txt">
                            <a class="cursor">
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">马凯</a>
                                <a class="change-hover-color mr10">王沪宁</a>
                                <a class="change-hover-color mr10">刘延东</a>
                                <a class="change-hover-color mr10">刘奇葆</a>
                                <a class="change-hover-color mr10">许其亮</a>
                                <a class="change-hover-color mr10">孙春兰</a>
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">孙政才</a>
                                <a class="change-hover-color mr10">李建国</a>
                                <a class="change-hover-color mr10">汪洋</a>
                                <a class="change-hover-color mr10">张春贤</a>
                                <a class="change-hover-color mr10">范长龙</a>
                                <a class="change-hover-color mr10">孟建柱</a>
                                <a class="change-hover-color mr10">赵乐际</a>
                                <a class="change-hover-color mr10">胡春华</a>
                                <a class="change-hover-color mr10">栗战书</a>
                                <a class="change-hover-color mr10">郭金龙</a>
                                <a class="change-hover-color mr10">韩正</a>
                                <a class="change-hover-color mr10">杜青林</a>
                                <a class="change-hover-color mr10">赵洪祝</a>
                                <a class="change-hover-color mr10">杨晶</a>
                                <a class="change-hover-color mr10">黄树贤</a>
                                <a class="change-hover-color mr10">李玉赋</a>
                                <a class="change-hover-color mr10">吴玉良</a>
                                <a class="change-hover-color mr10">张军</a>
                                <a class="change-hover-color mr10">杨晓渡</a>
                            </a>
                        </div>
                    </div>
                </div>
                <!--政界名人-->
                <div class="pic-focus-item">
                    <div>
                        <div class="person-photo-tit person-ind-hd-txt">
                            政界名人
                        </div>
                    </div>
                    <div class="tal">
                        <div class="person-ind-bd-txt">
                            <a class="cursor">
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">马凯</a>
                                <a class="change-hover-color mr10">王沪宁</a>
                                <a class="change-hover-color mr10">刘延东</a>
                                <a class="change-hover-color mr10">刘奇葆</a>
                                <a class="change-hover-color mr10">许其亮</a>
                                <a class="change-hover-color mr10">孙春兰</a>
                                <a class="change-hover-color mr10">李源潮</a>
                                <a class="change-hover-color mr10">孙政才</a>
                                <a class="change-hover-color mr10">李建国</a>
                                <a class="change-hover-color mr10">汪洋</a>
                                <a class="change-hover-color mr10">张春贤</a>
                                <a class="change-hover-color mr10">范长龙</a>
                                <a class="change-hover-color mr10">孟建柱</a>
                                <a class="change-hover-color mr10">赵乐际</a>
                                <a class="change-hover-color mr10">胡春华</a>
                                <a class="change-hover-color mr10">栗战书</a>
                                <a class="change-hover-color mr10">郭金龙</a>
                                <a class="change-hover-color mr10">韩正</a>
                                <a class="change-hover-color mr10">杜青林</a>
                                <a class="change-hover-color mr10">赵洪祝</a>
                                <a class="change-hover-color mr10">杨晶</a>
                                <a class="change-hover-color mr10">黄树贤</a>
                                <a class="change-hover-color mr10">李玉赋</a>
                                <a class="change-hover-color mr10">吴玉良</a>
                                <a class="change-hover-color mr10">张军</a>
                                <a class="change-hover-color mr10">杨晓渡</a>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>