<div class="webinfo-view-container">
    <h5 class="client-user-reg">用户注册</h5>
    <div class="client-view-attend">
        注意：您必须同意以下个人用户协议并完成注册程序，才能成为电子图片网站的正式用户。
    </div>
    <div class="webinfo-view-con user-agreement-con">
            <h5 class="fwb">用 户 协 议</h5>
            <p>
                用户在申请和使用本系统时，必须遵守本用户协议。您只有完全接受以下所有服务条款后，才能继续注册申请手续。一旦您完成注册申请，本网可以认为您已经详细阅读并确认同意接受本用户协议的所有条款。
            </p>
            <h5>我承诺接受以下条款：</h5>
            <p>
                一、用户在注册申请时自愿提供准确而详尽的个人资料，如个人资料有任何变动，必须及时更新；如果用户提供的个人资料不准确、不真实、不合法，本网保留结束用户使用本网各项服务的权利；由于用户提供的个人资料不准确、不真实、不合法所造成的损失，完全由用户本人承担；
            </p>
            <p>
                二、用户对所申请的帐号和密码安全负全部责任；本网尽量采取完备的网络安全措施，但是不能承担万一发生黑客攻击对用户造成的损失；用户若发现任何非法使用自己帐号或其它安全漏洞的情况，应立即通知本网；
            </p>
            <p>
                三、用户使用本网传输图文文件，须单方面承担对文件内容所应负的所有法律责任，包括核实新闻内容的真实性，不侵犯他人肖像权和著作权等；
            </p>
            <p>
                四、本网保留随时修改或中断服务而不需通知用户的权利。用户接受本网行使修改或中断服务的权利，本网不需对用户或第三方负责；
            </p>
            <p>
                五、与本网签约的摄影师用户，本网有权将其图片介绍给使用客户。摄影师提供的图片，应符合本网所要求的技术参数，并应为每张图片提供符合本网标准的文字说明；
            </p>
            <p>
                六、摄影师用户授权本网拥有全球范围内的以下权利：有权从计算机硬盘、软盘、CD-ROM、数据库、网络服务器上编辑、储存用户图片；有权复制、展示和出售用户图片，并向各类国际互联网网站、报纸、杂志、广播电视、电子出版物以及其他现存和未来发展产生的的媒体提供相关的图片产品；有权制订用户图片的销售价格；有权批准和授权第三者使用上述权利；
            </p>
            <p>
                七、摄影师用户同意授权本网为在国际互联网上进行用户图片销售的唯一代理机构，即用户不得再将图片授权给其他与本网同样性质的网络图片代理机构使用，但仍拥有将图片直接出售给其他终端使用者的机构或个人的权利。若用户违反此条规定，本网有权单方解除本协议，本网同时保留向用户索赔经济损失的权利；
            </p>
            <p>
                八、摄影师用户同意在与本网解约后，本网不再享有唯一代理权，但仍有权存储和销售用户在本协议有效期间提供的图片的权利，并按原协议约定的条件向用户支付稿酬，同时用户亦可授权其他与本网同样性质的网络图片代理机构销售用户图片；
            </p>
            <p>
                九、摄影师用户保证对所提供的每张图片均拥有完整的合法的版权，用户图片不应涉及侵犯他人著作权、商标权、名誉权、隐私权及其它违法的内容。摄影师用户应对其所提供图片的违法内容所造成的一切后果承担相应的法律责任；
            </p>
            <p>
                十、如果发生第三人未经甲、乙任何一方授权而使用用户图片或其他对用户图片侵权的情形，则摄影师用户同意授权本网与第三方进行交涉；
            </p>
            <p>
                十一、为了扩大知名度，摄影师用户同意授权本网以及本网的所有权者中国新闻社经营的中国新闻网免费使用并传播摄影师用户上传的图片的缩略图，鉴于目前网络未经同意转载图片缩略图的现象众多，摄影师用户同意放弃索取互联网上缩略图使用费的权利；
            </p>
            <p>
                十二、本网对摄影师实行累计付酬制，即按每张照片在本网被用户下载的次数多次付酬，但本网的所有权者中国新闻社可以在一次性付费的前提下，将摄影师用户提供的图片作为对外宣传通稿向海外播发；
            </p>
            <p>
                十三、本网拒绝向本网用户提供任何类型的担保；
            </p>
            <div>
                <p>十四、用户承诺在使用本网提供的服务时，遵守所有适用于本网服务的地方法律、国家法律和国际法律。用户承诺：</p>
                <p>A、在本网的网页上发布信息或者利用本网的服务时必须符合中国有关法规，不得在本网的网页上或者利用本网的服务制作、复制、发布、传播以下信息：</p>
                    <p class="spec-register-conp">a) 反对宪法所确定的基本原则的； </p>
                    <p class="spec-register-conp">b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                    <p class="spec-register-conp">c) 损害国家荣誉和利益的；</p>
                    <p class="spec-register-conp">d) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                    <p class="spec-register-conp">e) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                    <p class="spec-register-conp">f) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                    <p class="spec-register-conp">g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                    <p class="spec-register-conp">h) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
                    <p class="spec-register-conp">i) 含有法律、行政法规禁止的其他内容的。</p>
                    <p>B、在本网的网页上发布信息或者利用本网的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。</p>
                    <p>C、不利用本网的服务从事以下活动：</p>
                    <p class="spec-register-conp">a) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
                    <p class="spec-register-conp">b) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
                    <p class="spec-register-conp">c) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
                    <p class="spec-register-conp">d) 故意制作、传播计算机病毒等破坏性程序的；</p>
                    <p class="spec-register-conp">e) 其他危害计算机信息网络安全的行为。</p>
                    <p>D、不以任何方式干扰本网的服务。</p>
                    <p>E、遵守本网的所有其他规定和程序。</p>
                    <p>用户需对自己在使用本网服务过程中的行为承担法律责任。用户理解，如果本网发现其网站传输的信息明显属于上述第十四条A款所列内容之一，依据中国法律，本网有义务立即停止传输，保存有关记录，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。</p>
                    <p>若用户的行为不符合以上提到的服务条款，本网将作出独立判断立即取消用户服务帐号。</p>
            </div>
            <div>
                    <p>十五、用户或本网可随时根据实际情况中断服务。本网不需对任何个人或第三方负责而随时中断服务。用户若反对任何服务条款的建议或对后来的条款修改有异议，或对本网服务不满，用户只有以下的追索权：</p>
                    <p class="spec-register-conp">a) 不再使用本网服务；</p>
                    <p class="spec-register-conp">b) 结束用户使用本网服务的资格；</p>
                    <p class="spec-register-conp">c) 通告本网停止该用户的服务。</p>
                    <p>结束用户服务后，用户使用本网服务的权利马上中止。从那时起，本网不再对用户承担任何义务。</p>
            </div>
    </div>
    <div class="client-view-attend mt10">
        ！！本网郑重提醒申请者，请再次详细阅读上述《用户协议》，确认所有条款内容，尤其是第十一条条款内容！
    </div>
    <div class="tac client-accept-option">
        <label>
            <input type="radio"  ng-model="register.agreeFlag" value="我接受"/>
            <span class="mr20">我接受</span>
        </label>
        <lable>
            <input type="radio"  ng-model="register.agreeFlag" value="我不接受"/>
            <span>我不接受</span>
        </lable>
    </div>
    <div class="client-reg-operate">
        <button type="button" class="mr10 client-login-go-btn" ng-click="register.nextStep()">下一步</button>
        <button type="button" class="client-login-go-btn" ng-click="register.return()">返回</button>
    </div>
</div>