<div class="user-manager-container" id='manager-containers'>
	<div class="oH edt-dbTit bdn">
		<role-common-tit value="资料库" class="fll"></role-common-tit>
		<div class="user-hd-right flr">
			<input class="user-search-input" placeholder="可查询稿件ID、标题、作者名"
					 ng-model="database.searchDataModel" />
			<img src="admin/assets/img/role/zxs_search.png" class="user-serach-pic"
					 ng-click="database.onSearchModalShow()" />
			<span class="dib cursor user-search-btn" ng-click="database.advanceSearchModalShow('database-manuscript-search-modal')">高级检索</span>
		</div>
	</div>
	<div class="contribute-tit clear">
		<div class="active-slide-item fll" ng-class="{ 'active-slide-nav' : database.acitiveOneSlideTit == 1}"
			 ng-click="database.chooseOneClickType(1)">已发布稿件
			 <!--ng-click="leaveGroup(1)">已发布稿件-->
		</div>
		<div class="active-slide-item fll" ng-if="!(database.columnFlag || database.columnMoreFlag)" 
		     ng-class="{ 'active-slide-nav' : database.acitiveOneSlideTit == 2}"
			 ng-click="database.chooseOneClickType(2)">已撤稿件
			 <!--ng-click="leaveGroup(2)">已撤稿件-->
		</div>
		<div class="active-slide-item fll">
			<input type="checkbox" class="all">
		    <span class='sel-all'>全选</span>
		</div>
		<div class="active-slide-item fll">
			<input type="button" class="dib cursor push-add-btn download-btn" ng-click="database.ModalShow('database-type-modal')" value="下载组图">
		</div>
	</div>
	<!-- 已发布稿件 -->
	<div ng-show="database.acitiveOneSlideTit == 1">
		<div class="database-tit clear">
			<div class="active-slide-item fll database-tit1" 
			     ng-class="{ 'database-tit1-active' : database.acitiveTwoSlideTit1 == 1}" 
				 ng-click="database.chooseTwoClickType1(1)">
			</div>
			<div class="active-slide-item fll database-tit2" 
			     ng-class="{ 'database-tit2-active' : database.acitiveTwoSlideTit1 == 2}" 
				 ng-click="database.chooseTwoClickType1(2)">
			</div>
			
			<div class="flr select-more-contri">
				<span class="dib cursor push-add-btn" ng-if="database.langTypeFlag==0" ng-click="database.pushGroupPicsToEn()">推送至英文栏目</span>
			</div>
			<div class="flr select-more-contri">
				<!--<span class="dib cursor user-add-btn" ng-if="database.columnMoreFlag" ng-click="database.selectMoreContribute()">添加稿件</span>-->
				<span class="dib cursor user-add-btn" ng-if="database.columnMoreFlag" ng-click="database.selectMoreContribute1(dbItem)">添加稿件</span>
				<span class="dib cursor user-add-btn role-modify-btn" ng-if="database.columnMoreFlag || database.columnFlag" ng-click="database.backColumn()">返回栏目</span>
			</div>
		</div>
		<div class="c-user-table oH">
			<div class="fll database-left-box">
				<div>
					<div class="m-item-parent" ng-repeat="item in database.selCpCategories">
						<div class="m-sale-manage cursor datashow" ng-click="database.navFunc(item.categoryName)">
							<span class="m-market-manage">{{item.categoryName}}</span>
						</div>
						<div ng-repeat="each in item.categories" 
							 ng-show="database.navActiveMenu == item.categoryName" 							
							 ng-click="database.onShowHadPubDetailClick(each.id,$index)">
							 <p class="m-item-option tac" 
							    ng-class="{'m-item-option-check':$index==database.hadPubPosition}">
								<a class="m-item-name">
									<span>{{each.categoryName}}</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="fll database-right-box">
				<div ng-show="database.acitiveTwoSlideTit1 == 1">
					<div class="clear">
						<div class="database-cont div_box" 
						dir-paginate="dbItem in database.hadPubRowDataArray | itemsPerPage: database.selPageRows" 
							total-items="database.databaseList_total" 
							current-page="database.pagination.current">
							<p>
								<a target='_blank' ui-sref="role.manager.databaseDetail({id:dbItem.ID,columnId:database.columnId,columnTemplate:database.columnTemplate,num:database.num,oldId:database.oldId,topicId:database.topicId,lanmuId:database.lanmuId,isHadOut:0})">
									<img class="curp" ng-src="{{dbItem.samllPath}}" />
								</a>
							</p>

							<p><a class="curp uifi-title database-detail-ov" target="_blank" ui-sref="role.manager.databaseDetail({id:dbItem.ID,columnId:database.columnId,columnTemplate:database.columnTemplate,num:database.num,oldId:database.oldId,topicId:database.topicId,lanmuId:database.lanmuId,isHadOut:0})">{{dbItem.TITLE}}<span style="color:#3399CC"></a>({{dbItem.PICTURE_COUNT}}张)</span></p>

							<p>
								作者：中新社发&nbsp;<span>{{dbItem.AUTHOR}}</span>
							</p>

							<p>
								发布时间：<span>{{dbItem.SGIN_TIME|date:'yyyy-MM-dd HH:mm:ss'}}</span>
							</p>
							<p>
								<input type="checkbox" ng-model="database.selPushGroup[dbItem.ID]" class="check" name="check" value="{{dbItem.ID}}" style="margin-right: 20px" />
							</p>
							<!--添加选择稿件按钮-->
							<div class="select-contribute text-center" ng-if="database.columnFlag">
								<!--<span class="dib cursor user-add-btn" ng-click="database.selectContribute(dbItem.ID)">选择稿件</span>-->
								<span class="dib cursor user-add-btn" ng-click="database.selectContribute1(dbItem)">选择稿件</span>
							</div>
							<!--添加选择稿件按钮-->
							<!--更多稿件选择-->
							<div class="select-contribute text-center" ng-if="database.columnMoreFlag">
								<input class="cursor" type="checkbox" 
								       ng-model="database.selConfigIds[dbItem.ID]"
									   ng-change="database.ifSeledMoreMs(dbItem)"
									   style="width: 25px;height:25px;">
							</div>
							<!--更多稿件选择-->
						</div>
					</div>
					<!-- 分页 -->
					<div class="paging-con-box mt10 clear">
						<div class="photo-record-page fll">
							<select ng-model="database.selPageRows" class="mr10">
								<option value="50">50</option>
								<option value="40">40</option>
								<option value="30">30</option>
								<option value="20">20</option>
								<option value="10">10</option>
								<option value="6">6</option>
							</select>
							<span>共找到</span>
							<span class="color_red">{{database.databaseList_total}}</span>
							<span>条记录</span>
						</div>
						<div class="photo-now-page fll">
							<span>第 </span>
							<span>{{database.pagination.current}}</span>
							<span>/</span>
							<span>{{database.totalPages}}</span>
							<span>页</span>
						</div>
						<div class="photo-jump-page flr">
							<dir-pagination-controls on-page-change="database.pageChanged(newPageNumber)" 
													 template-url="admin/assets/libs/angular-dirPagination/dirPagination.tpl.html">
							</dir-pagination-controls>
						</div>
					</div>
				</div>
				<div ng-show="database.acitiveTwoSlideTit1 == 2">
					<div class="t-uinfo-bd">
						<div class="table-responsive min-height">
							<table class="table table-bordered uInfo-table">
								<thead>
									<tr>
										<th class="uinfo-hd-th"></th>
										<th class="uinfo-hd-th">ID</th>
										<th class="uinfo-hd-th">缩略图</th>
										<th class="uinfo-hd-th">图片数</th>
										<th class="uinfo-hd-th">文章标题</th>
										<th class="uinfo-hd-th">作者</th>
										<th class="uinfo-hd-th">编辑人员</th>
										<th class="uinfo-hd-th">发布时间</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dbItem in database.hadPubTableDataArray" send-show-middle-pic>
										<td>
											<input type="checkbox" ng-model="database.selPushGroup[dbItem.ID]" class="check" name="checked" value="{{dbItem.ID}}" />
										</td>
										<td>{{dbItem.ID}}</td>
										<td class='pic_parent'>
											<a target="_blank" ui-sref="role.manager.databaseDetail({id:dbItem.ID,columnId:database.columnId,columnTemplate:database.columnTemplate,num:database.num,isHadOut:0})">
												<img class="curp apic_parent_pic" ng-src="{{dbItem.samllPath}}" />
											</a>
											<div class='pic_children'>
												<img ng-src='{{dbItem.watermarkedmediumPath}}'>
												<div class='showMiddlepics'>                                    		                                          		
                                    	           <table border='1' width='100%' cellpadding="10">
                                    	           	  <caption >EXIF信息</caption>
                                    	           	  <tr>
                                    	           	  	<td>光圈数</td>
                                    	           	  	<td>{{dbItem.EX_FNUMBER}}</td>
                                    	           	  	<td>感光度</td>
                                    	           	  	<td>{{dbItem.EX_ISO}}</td>
                                    	           	  </tr>
                                    	           	  <tr>
                                    	           	  	<td>拍摄相机</td>
                                    	           	  	<td>{{dbItem.EX_MODEL}}</td>
                                    	           	  	<td>拍摄时间</td>
                                    	           	  	<td>{{dbItem.EX_DATETIME |date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                    	           	  </tr>
                                    	           </table>
												</div>
											</div>
										</td>
										<td>{{dbItem.PICTURE_COUNT}}张</td>
										<td><a class='uifi-title curp'ui-sref="role.manager.databaseDetail({id:dbItem.ID,columnId:database.columnId,columnTemplate:database.columnTemplate,num:database.num,isHadOut:0})" target="_blank">{{dbItem.TITLE}}</a></td>
										<td>{{dbItem.AUTHOR}}</td>
										<td>{{dbItem.UPDATE_USER}}</td>
										<td>
											<p>{{dbItem.SGIN_TIME|date:'yyyy-MM-dd'}}</p>

											<p>{{dbItem.SGIN_TIME|date:'HH:mm:ss'}}</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- 分页 -->
						<div class="paging-con-box mt10 clear">
							<div class="photo-record-page fll">
								<select ng-model="database.selPageRows" class="mr10">
									<option value="50">50</option>
									<option value="40">40</option>
									<option value="30">30</option>
									<option value="20">20</option>
									<option value="10">10</option>
									<option value="6">6</option>
								</select>
								<span>共找到</span>
								<span class="color_red">{{database.databaseList_total}}</span>
								<span>条记录</span>
							</div>
							<div class="photo-now-page fll">
								<span>第 </span>
								<span>{{database.pagination.current}}</span>
								<span>/</span>
								<span>{{database.totalPages}}</span>
								<span>页</span>
							</div>
							<div class="photo-jump-page flr">
								<dir-pagination-controls on-page-change="database.pageChanged(newPageNumber)" 
								                         template-url="admin/assets/libs/angular-dirPagination/dirPagination.tpl.html">
								</dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 已撤稿件 -->
	<div ng-show="database.acitiveOneSlideTit == 2">
		<div class="database-tit clear">
			<div class="active-slide-item fll database-tit1" 
			     ng-class="{ 'database-tit1-active' : database.acitiveTwoSlideTit2 == 1}" 
				 ng-click="database.chooseTwoClickType2(1)">
			</div>
			<div class="active-slide-item fll database-tit2" 
			     ng-class="{ 'database-tit2-active' : database.acitiveTwoSlideTit2 == 2}" 
				 ng-click="database.chooseTwoClickType2(2)">
			</div>
		</div>
		<div class="c-user-table oH">
			<div class="fll database-left-box">
				<div>
					<div class="m-item-parent" ng-repeat="item in database.selCpCategories">
						<div class="m-sale-manage cursor" ng-click="database.navFunc(item.categoryName)">
							<span class="m-market-manage">{{item.categoryName}}</span>
						</div>
						<div ng-repeat="each in item.categories" 
							 ng-show="database.navActiveMenu == item.categoryName" 
							 ng-click="database.onShowHadBackDetailClick(each.id,$index)">
							<p class="m-item-option tac" 
								ng-class="{'m-item-option-check':$index==database.hadBackPosition}">
								<a class="m-item-name">
									<span>{{each.categoryName}}</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="fll database-right-box">
				<div ng-show="database.acitiveTwoSlideTit2 == 1">
					<div>
						<div class="database-cont div_box" ng-repeat="dbItem in database.hadBackRowDataArray">
							<p><input type="checkbox" ng-model="database.selCheckback[dbItem.ID]" name="checkBack" class="checkBack" style="margin-right: 20px" value="{{dbItem.ID}}">
								<a target="_blank" ui-sref="role.manager.databaseDetail({id:dbItem.ID,columnId:database.columnId,columnTemplate:database.columnTemplate,num:database.num,isHadOut:1})" >
									<img class="curp"ng-src="{{dbItem.samllPath}}" />
								</a>
								
							</p>

							<p><a class="curp uifi-title" target='_blank'ui-sref="role.manager.databaseDetail({id:dbItem.ID,columnId:database.columnId,columnTemplate:database.columnTemplate,num:database.num,isHadOut:1})">{{dbItem.TITLE}}<span style="color: #3399CC;">({{dbItem.PICTURE_COUNT}}张)</span></a></p>

							<p>
								作者：中新社发&nbsp;<span>{{dbItem.AUTHOR}}</span>
							</p>

							<p>
								发布时间：<span>{{dbItem.SGIN_TIME|date:'yyyy-MM-dd HH:mm:ss'}}</span>
							</p>
						</div>
					</div>
					<!-- 分页 -->
					<div class="paging-con-box mt10 clear">
						<div class="photo-record-page fll">
							<select ng-model="database.selPageRows" class="mr10">
								<option value="50">50</option>
								<option value="40">40</option>
								<option value="30">30</option>
								<option value="20">20</option>
								<option value="10">10</option>
								<option value="6">6</option>
							</select>
							<span>共找到</span>
							<span class="color_red">{{database.databaseList_total}}</span>
							<span>条记录</span>
						</div>
						<div class="photo-now-page fll">
							<span>第 </span>
							<span>{{database.pagination.current}}</span>
							<span>/</span>
							<span>{{database.totalPages}}</span>
							<span>页</span>
						</div>
						<div class="photo-jump-page flr">
							<dir-pagination-controls on-page-change="database.pageChanged(newPageNumber)" 
													 template-url="admin/assets/libs/angular-dirPagination/dirPagination.tpl.html">
							</dir-pagination-controls>
						</div>
					</div>
				</div>
				<div ng-show="database.acitiveTwoSlideTit2 == 2">
					<div class="t-uinfo-bd">
						<div class="table-responsive min-height">
							<table class="table table-bordered uInfo-table">
								<thead>
									<tr>
										<th class="uinfo-hd-th"></th>
										<th class="uinfo-hd-th">ID</th>
										<th class="uinfo-hd-th">缩略图</th>
										<th class="uinfo-hd-th">图片数</th>
										<th class="uinfo-hd-th">文章标题</th>
										<th class="uinfo-hd-th">作者</th>
										<th class="uinfo-hd-th">编辑人员</th>
										<th class="uinfo-hd-th">发布时间</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dbItem in database.hadBackTableDataArray" send-show-middle-pic>
										<td><input type="checkbox" name="checkBack" class="checkBack" ng-model="database.selCheckback[dbItem.ID]" value="{{dbItem.ID}}"></td>
										<td>{{dbItem.ID}}</td>
										<td class='pic_parent_r'>
											<a target="_blank"ui-sref="role.manager.databaseDetail({id:dbItem.ID,columnId:database.columnId,columnTemplate:database.columnTemplate,num:database.num,isHadOut:1})">
												<img class="curp apic_parent_pic_r" ng-src="{{dbItem.samllPath}}" />
											</a>
											<div class='pic_children_r'>
												<img ng-src='{{dbItem.watermarkedmediumPath}}'>
												<div class='showMiddlepics'>                                    		                                          		
                                    	           <table border='1' width='100%' cellpadding="10">
                                    	           	  <caption >EXIF信息</caption>
                                    	           	  <tr>
                                    	           	  	<td>光圈数</td>
                                    	           	  	<td>{{dbItem.EX_FNUMBER}}</td>
                                    	           	  	<td>感光度</td>
                                    	           	  	<td>{{dbItem.EX_ISO}}</td>
                                    	           	  </tr>
                                    	           	  <tr>
                                    	           	  	<td>拍摄相机</td>
                                    	           	  	<td>{{dbItem.EX_MODEL}}</td>
                                    	           	  	<td>拍摄时间</td>
                                    	           	  	<td>{{dbItem.EX_DATETIME |date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                    	           	  </tr>
                                    	           </table>
												</div>
											</div>
										</td>
										<td>{{dbItem.PICTURE_COUNT}}张</td>
										<td><a class='uifi-title curp'target='_blank'ui-sref="role.manager.databaseDetail({id:dbItem.ID,columnId:database.columnId,columnTemplate:database.columnTemplate,num:database.num,isHadOut:1})">{{dbItem.TITLE}}</a></td>
										<td>{{dbItem.AUTHOR}}</td>
										<td>{{dbItem.UPDATE_USER}}</td>
										<td>
											<p>{{dbItem.SGIN_TIME|date:'yyyy-MM-dd'}}</p>

											<p>{{dbItem.SGIN_TIME|date:'HH:mm:ss'}}</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- 分页 -->
						<div class="paging-con-box mt10 clear">
							<div class="photo-record-page fll">
								<select ng-model="database.selPageRows" class="mr10">
									<option value="50">50</option>
									<option value="40">40</option>
									<option value="30">30</option>
									<option value="20">20</option>
									<option value="10">10</option>
									<option value="6">6</option>
								</select>
								<span>共找到</span>
								<span class="color_red">{{database.databaseList_total}}</span>
								<span>条记录</span>
							</div>
							<div class="photo-now-page fll">
								<span>第 </span>
								<span>{{database.pagination.current}}</span>
								<span>/</span>
								<span>{{database.totalPages}}</span>
								<span>页</span>
							</div>
							<div class="photo-jump-page flr">
							    <dir-pagination-controls on-page-change="database.pageChanged(newPageNumber)" 
														 template-url="admin/assets/libs/angular-dirPagination/dirPagination.tpl.html">
								</dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--高级检索弹框-->
	<div class="common-modal-style common-modal-style-widt" id="database-manuscript-search-modal" 
		 ng-mousemove="database.moveModal('search-modal-tit','wait-manuscript-search-modal')"
         style="display:none">
		<div class="role-add-con">
			<div id="search-modal-tit" class="role-add-tit oH">
				<span class="fll">高级检索</span>
				<span class="flr curp tit-close" 
				      ng-click="database.databaseModalHide('database-manuscript-search-modal')">×</span>
			</div>
			<div class="role-add-main">
				<div class="role-add-form-info clear">
					<div class="role-form-info-top clear">
						<div class="fll database-search-part">
							<span class="data-txt-type">图片类型</span>
							<select type="text" class="role-add-input" ng-model="database.search.properties">
								<option value="">---请选择---</option>
								<option value="0">新闻</option>
								<option value="1">专题</option>
							</select>
						</div>
						<div class="fll database-spec-search-part">
							<span class="data-txt-type">发布时间</span>
							<input type="text" class="Wdate database-date-input" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'});" class="Wdate" ng-model="database.search.beginSginTime" datepicker/>
							<span>-</span>
							<input type="text" class="Wdate database-date-input" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'});" class="Wdate" ng-model="database.search.endSginTime" datepicker/>
						</div>
						<div class="fll database-search-part">
							<span class="data-txt-type">文字作者</span>
							<input type="text" class="role-add-input" ng-model="database.search.author" />
						</div>
					</div>
					<div class="role-form-info-top clear mt15">
						<div class="fll database-search-part">
							<span class="data-txt-type">标题</span>
							<input type="text" class="role-add-input" ng-model="database.search.title" />
						</div>
						<div class="fll database-spec-search-part">
							<span class="data-txt-type">人物</span>
							<input type="text" class="role-add-input" ng-model="database.search.people" />
						</div>
						<div class="fll database-search-part">
							<span class="data-txt-type">地点</span>
							<input type="text" class="role-add-input" ng-model="database.search.place" />
						</div>
					</div>
					<div class="role-form-info-top clear mt15">
						<div class="fll database-search-part">
							<span class="data-txt-type">图片作者</span>
							<input type="text" class="role-add-input" ng-model="database.search.pAuthor" />
						</div>
						<div class="fll database-spec-search-part">
							<span class="data-txt-type">关键字</span>
							<input type="text" class="role-add-input" ng-model="database.search.kewords" />
						</div>
						<div class="fll database-search-part">
							<span class="data-txt-type">稿件编辑人</span>
							<input type="text" class="role-add-input" ng-model="database.search.editor" />
						</div>
					</div>
					<div class="role-form-info-top clear mt15">
						<div class="fll database-search-part">
							<span class="data-txt-type">单/多图稿件</span>
							<select type="text" class="role-add-input" ng-model="database.search.isPics">
								<option value="">---请选择---</option>
								<option value="0">单图稿件</option>
								<option value="1">多图稿件</option>
							</select>
						</div>
						<div class="fll database-spec-search-part" ng-hide="database.show">
							<span class="data-txt-type">所属栏目</span>
							<select type="text" class="role-add-input" ng-change="database.isShow(1)" ng-model="database.search.sginId" >
								<option value="">---请选择---</option>
								<option value="{{sortDetails.id}}" ng-repeat="sortDetails in database.sortDetailsArray">{{sortDetails.name}}</option>
								<option value="{{children.id}}" ng-repeat="children in database.children">{{children.name}}</option>
							<!--	<option value="2">最新发布</option>
								<option value="3">今日头条</option>
								<option value="4">每日推荐</option>
								<option value="5">一周最佳采用</option>
								<option value="6">娱乐风尚</option>
								<option value="7">财富经济</option>
								<option value="8">台湾视角</option>
								<option value="9">国际风采</option>
								<option value="10">限价图片</option>
								<option value="11">漫画图表</option>
								<option value="12">两会</option>-->
							</select>
						</div>
						<div class="fll database-search-part">
							<span class="data-txt-type">稿件来源</span>
							<select type="text" class="role-add-input" ng-model="database.search.goodsType">
								<option value="">---请选择---</option>
								<option value="0">普通图</option>
								<option value="1">活动图</option>
								<option value="2">老照片</option>
								<option value="3">ta图</option>
								<option value="4">fa图</option>
							</select>
						</div>
					</div>
					<!--<div class="role-form-info-top clear mt15">-->
					<!--&lt;!&ndash;<div class="fll database-search-part">&ndash;&gt;-->
					<!--&lt;!&ndash;<span class="data-txt-type">所属地市</span>&ndash;&gt;-->
					<!--&lt;!&ndash;<input type="text" class="role-add-input" ng-model="database.search.memo"/>&ndash;&gt;-->
					<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--&lt;!&ndash;<div class="fll database-spec-search-part">&ndash;&gt;-->
					<!--&lt;!&ndash;<span class="data-txt-type">新闻分级</span>&ndash;&gt;-->
					<!--&lt;!&ndash;<input type="text" class="role-add-input" ng-model="database.search.fileName"/>&ndash;&gt;-->
					<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--<div class="fll database-search-part">-->
					<!--<span class="data-txt-type">图片打折</span>-->
					<!--<select type="text" class="role-add-input" ng-model="database.search.priceType">-->
					<!--<option value="0">不定价</option>-->
					<!--<option value="1">定价</option>-->
					<!--<option value="2">不出售</option>-->
					<!--</select>-->
					<!--</div>-->
					<!--</div>-->
					<div class="role-form-info-top clear mt15">
						<div class="fll database-search-part">
							<span class="data-txt-type">图片价格</span>
							<input type="text" class="data-price-input" ng-model="database.search.samllPrice" />
							<span>-</span>
							<input type="text" class="data-price-input" ng-model="database.search.bigPrice" />
						</div>
						<div class="fll database-spec-search-part" ng-hide="database.isHiden">
							<span class="data-txt-type">稿件类别</span>
							<select class="address-sj" ng-change="database.isShow(2)" ng-model="database.search.cateId"
									ng-options="city.id as city.categoryName  for city in database.categories">
									<option value="">---请选择---</option>
							</select>
						</div>
						<div class="fll database-search-part">
							<span class="data-txt-type">图片打折</span>
							<select type="text" class="role-add-input" ng-model="database.search.priceType">
								<option value="" >---请选择---</option>
								<option value="0">不定价</option>
								<option value="1">定价</option>
								<option value="2">不出售</option>
							</select>
						</div>
					</div>
					<div class="clear mt15 tal">
						<span class="data-txt-type">图片文件名</span>
						<input type="text" class="database-file-name-input ml10" ng-model="database.search.fileName" />
					</div>
					<div class="role-form-info-top clear mt15">
						<div class="fll database-search-part">
							<span class="data-txt-type">稿件ID</span>
							<input type="text" class="role-add-input" ng-model="database.search.groupId" />
						</div>
					</div>
					<div class="clear mt15 tal">
						<span class="data-txt-type">图片说明</span>
						<textarea class="role-add-input" style="width: 310px;height: auto" ng-model="database.search.memo"></textarea>
						<span class="data-txt-type" style="margin-left: 20px">备注</span>
						<textarea class="role-add-input" style="width: 310px;height: auto" ng-model="database.search.remark"></textarea>
					</div>
					<div class="clear mt15 tal">

					</div>
				</div>
			</div>
			<div class="tac mt10">
				<span class="dib cursor user-add-btn" ng-click="database.saveAdvanceSearch('database-manuscript-search-modal')">确定</span>
				<span class="dib cursor user-add-btn role-del-btn" ng-click="database.databaseModalHide('database-manuscript-search-modal')">取消</span>
			</div>
		</div>
	</div>
</div>
<!--下载类别弹框-->
<div class="common-modal-style" id="database-type-modal" ng-mousemove="database.moveModal('del-modal-tit','database-type-modal')"style="display:none">
	<div class="role-add-con">
		<div id="del-modal-tit" class="role-add-tit">
			下载类别 <span class="flr curp tit-close" ng-click="database.ModalHide('database-type-modal')">×</span>
		</div>
		<div class="role-modal-con">
			请选择下载类别？<input type='hidden' ng-model='database.deleFriendLinkId'>

		</div>
		<div class="tac mt10">
			<span class="dib cursor user-add-btn" ng-click="database.downloadGroupPic(0)">组图</span>
			<span class="dib cursor user-add-btn " ng-click="database.downloadGroupPic(1)">图文</span>
		</div>
	</div>
</div>